
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-570792598449685319.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-570792598449685319.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-570792598449685319.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-570792598449685319.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-570792598449685319.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-570792598449685319.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-570792598449685319.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-570792598449685319.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-570792598449685319.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-570792598449685319.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-570792598449685319.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-570792598449685319.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-570792598449685319.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-570792598449685319.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-570792598449685319.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-570792598449685319.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-570792598449685319.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-570792598449685319.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-570792598449685319.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-570792598449685319.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-570792598449685319.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-570792598449685319.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-570792598449685319.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-570792598449685319.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-570792598449685319.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-570792598449685319.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-570792598449685319.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-570792598449685319.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-570792598449685319.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-570792598449685319.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-570792598449685319.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-570792598449685319.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-570792598449685319.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-570792598449685319.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-570792598449685319.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-570792598449685319.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-570792598449685319.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-570792598449685319.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-570792598449685319.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-570792598449685319.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-570792598449685319.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-570792598449685319.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-570792598449685319.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-570792598449685319.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-570792598449685319.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-570792598449685319.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-570792598449685319.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-570792598449685319.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-570792598449685319.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-570792598449685319.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-570792598449685319.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-570792598449685319.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-570792598449685319.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-570792598449685319.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-570792598449685319.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-570792598449685319.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-570792598449685319.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-570792598449685319.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-570792598449685319.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-570792598449685319.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-570792598449685319.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-570792598449685319.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-570792598449685319.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-570792598449685319.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-570792598449685319.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-570792598449685319.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-570792598449685319.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-570792598449685319.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-570792598449685319.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-570792598449685319.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-570792598449685319.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-570792598449685319.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-570792598449685319 .gp-relative{position:relative}.gps-570792598449685319 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-570792598449685319 .gp-mb-0{margin-bottom:0}.gps-570792598449685319 .gp-inline-block{display:inline-block}.gps-570792598449685319 .gp-flex{display:flex}.gps-570792598449685319 .gp-grid{display:grid}.gps-570792598449685319 .gp-contents{display:contents}.gps-570792598449685319 .\!gp-hidden{display:none!important}.gps-570792598449685319 .gp-hidden{display:none}.gps-570792598449685319 .gp-h-auto{height:auto}.gps-570792598449685319 .gp-h-full{height:100%}.gps-570792598449685319 .gp-w-full{width:100%}.gps-570792598449685319 .gp-max-w-full{max-width:100%}.gps-570792598449685319 .gp-flex-none{flex:none}.gps-570792598449685319 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-570792598449685319 .gp-flex-col{flex-direction:column}.gps-570792598449685319 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-570792598449685319 .gp-duration-200{transition-duration:.2s}.gps-570792598449685319 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-570792598449685319 .tablet\:\!gp-hidden{display:none!important}.gps-570792598449685319 .tablet\:gp-hidden{display:none}.gps-570792598449685319 .tablet\:gp-h-auto{height:auto}.gps-570792598449685319 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-570792598449685319 .mobile\:\!gp-hidden{display:none!important}.gps-570792598449685319 .mobile\:gp-hidden{display:none}.gps-570792598449685319 .mobile\:gp-h-auto{height:auto}.gps-570792598449685319 .mobile\:gp-flex-none{flex:none}}.gps-570792598449685319 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gTyr5qorZ1"}' data-id="gTyr5qorZ1" id="gTyr5qorZ1" data-same-height-subgrid-container class="gTyr5qorZ1 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:none;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gUfaGYL1nv gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gGUMWAgKos"
        class="gGUMWAgKos"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--ml-mobile:12px;--mb-mobile:0px;--pt-mobile:var(--g-s-xl);--pl-mobile:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758558576369"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--ta-mobile:left;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:800;--ls:-1px;--size:46px;--size-tablet:46px;--size-mobile:27px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggGUMWAgKos_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g26I_alZRN"
        class="g26I_alZRN"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--mb-mobile:0px;--pt-mobile:12px;--pl-mobile:12px;--pb-mobile:12px;--pr-mobile:12px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758558576370"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:15px;--lh:180%;--lh-tablet:180%;--lh-mobile:150%;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg26I_alZRN_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <div
      role="presentation"
      data-id="gjeS4gjhJy"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:var(--g-s-l);--ta:center"
      class="gp-group/image gp-relative force-publish-1758558576370 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gjeS4gjhJy"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_562294279301497736-117fbccc-41ae-4b6f-8296-66d53b3d304f.png" | file_url }}" srcset="{{ "gempages_562294279301497736-117fbccc-41ae-4b6f-8296-66d53b3d304f.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_562294279301497736-27eb7369-5afb-4b80-bc23-dba97abd0ba8.png" | file_url }}" srcset="{{ "gempages_562294279301497736-27eb7369-5afb-4b80-bc23-dba97abd0ba8.png" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "gempages_562294279301497736-27eb7369-5afb-4b80-bc23-dba97abd0ba8.png" | file_url }}" data-src="{{ "gempages_562294279301497736-27eb7369-5afb-4b80-bc23-dba97abd0ba8.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:500px;--w-tablet:500px;--w-mobile:90%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrJJfedA.woff) format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLDD4Z1xlEw.woff) format('woff');
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrJJbecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrJJnecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLDD4Z11lFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLDD4Z1JlFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLDD4Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>
    
{% schema %}
  {
    
    "name": "Section 10",
    "tag": "section",
    "class": "gps-570792598449685319 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/feppvi-1c/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=570792598264873799&sectionId=570792598449685319)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggGUMWAgKos_text","label":"ggGUMWAgKos_text","default":"Why Men Are Switching<br>to New Aura..."},{"type":"html","id":"gg26I_alZRN_text","label":"gg26I_alZRN_text","default":"<p>Steroid creams are short-term fixes. Moisturizers just mask symptoms. Most products don’t treat the actual fungus — or they leave your skin greasy and irritated.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  