
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-586640619414356827.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-586640619414356827.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-586640619414356827.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-586640619414356827.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-586640619414356827.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-586640619414356827.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-586640619414356827.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-586640619414356827.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-586640619414356827.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-586640619414356827.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-586640619414356827.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-586640619414356827.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-586640619414356827.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-586640619414356827.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-586640619414356827.gps.gpsil [style*="--bbw:"]{border-bottom-width:var(--bbw)}.gps-586640619414356827.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-586640619414356827.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-586640619414356827.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-586640619414356827.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-586640619414356827.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-586640619414356827.gps.gpsil [style*="--hvr-radius:"]:hover{border-radius:var(--hvr-radius)}.gps-586640619414356827.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-586640619414356827.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-586640619414356827.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-586640619414356827.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-586640619414356827.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-586640619414356827.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-586640619414356827.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-586640619414356827.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-586640619414356827.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-586640619414356827.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-586640619414356827.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-586640619414356827.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-586640619414356827.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-586640619414356827.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-586640619414356827.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-586640619414356827.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-586640619414356827.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-586640619414356827.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-586640619414356827.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-586640619414356827.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-586640619414356827.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-586640619414356827.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-586640619414356827.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-586640619414356827.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-586640619414356827.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-586640619414356827.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-586640619414356827.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-586640619414356827.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-586640619414356827.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-586640619414356827.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-586640619414356827.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-586640619414356827.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-586640619414356827.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-586640619414356827.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-586640619414356827.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-586640619414356827.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-586640619414356827.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-586640619414356827.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-586640619414356827.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-586640619414356827.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-586640619414356827.gps.gpsil [style*="--bbw-tablet:"]{border-bottom-width:var(--bbw-tablet)}.gps-586640619414356827.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-586640619414356827.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-586640619414356827.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-586640619414356827.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-586640619414356827.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-586640619414356827.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-586640619414356827.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-586640619414356827.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-586640619414356827.gps.gpsil [style*="--bbw-mobile:"]{border-bottom-width:var(--bbw-mobile)}.gps-586640619414356827.gps.gpsil [style*="--bblr-mobile:"]{border-bottom-left-radius:var(--bblr-mobile)}.gps-586640619414356827.gps.gpsil [style*="--bbrr-mobile:"]{border-bottom-right-radius:var(--bbrr-mobile)}.gps-586640619414356827.gps.gpsil [style*="--bs-mobile:"]{border-style:var(--bs-mobile)}.gps-586640619414356827.gps.gpsil [style*="--btlr-mobile:"]{border-top-left-radius:var(--btlr-mobile)}.gps-586640619414356827.gps.gpsil [style*="--btrr-mobile:"]{border-top-right-radius:var(--btrr-mobile)}.gps-586640619414356827.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-586640619414356827.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-586640619414356827.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-586640619414356827.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-586640619414356827.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-586640619414356827.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-586640619414356827.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-586640619414356827.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-586640619414356827.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-586640619414356827.gps.gpsil [style*="--o-mobile:"]{order:var(--o-mobile)}.gps-586640619414356827.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-586640619414356827.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-586640619414356827.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-586640619414356827.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-586640619414356827.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-586640619414356827.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-586640619414356827.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-586640619414356827 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-586640619414356827 .gp-relative{position:relative}.gps-586640619414356827 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-586640619414356827 .gp-mb-0{margin-bottom:0}.gps-586640619414356827 .gp-block{display:block}.gps-586640619414356827 .gp-inline-block{display:inline-block}.gps-586640619414356827 .gp-flex{display:flex}.gps-586640619414356827 .gp-inline-flex{display:inline-flex}.gps-586640619414356827 .gp-grid{display:grid}.gps-586640619414356827 .gp-contents{display:contents}.gps-586640619414356827 .\!gp-hidden{display:none!important}.gps-586640619414356827 .gp-hidden{display:none}.gps-586640619414356827 .gp-h-auto{height:auto}.gps-586640619414356827 .gp-h-full{height:100%}.gps-586640619414356827 .gp-w-full{width:100%}.gps-586640619414356827 .gp-max-w-full{max-width:100%}.gps-586640619414356827 .gp-flex-none{flex:none}.gps-586640619414356827 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-586640619414356827 .gp-flex-col{flex-direction:column}.gps-586640619414356827 .gp-items-center{align-items:center}.gps-586640619414356827 .gp-justify-start{justify-content:flex-start}.gps-586640619414356827 .gp-justify-center{justify-content:center}.gps-586640619414356827 .gp-overflow-hidden{overflow:hidden}.gps-586640619414356827 .gp-break-words{overflow-wrap:break-word}.gps-586640619414356827 .gp-text-center{text-align:center}.gps-586640619414356827 .gp-no-underline{text-decoration-line:none}.gps-586640619414356827 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-586640619414356827 .gp-duration-200{transition-duration:.2s}.gps-586640619414356827 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-586640619414356827 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-586640619414356827 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-586640619414356827 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-586640619414356827 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-586640619414356827 .tablet\:gp-block{display:block}.gps-586640619414356827 .tablet\:\!gp-hidden{display:none!important}.gps-586640619414356827 .tablet\:gp-hidden{display:none}.gps-586640619414356827 .tablet\:gp-h-auto{height:auto}.gps-586640619414356827 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-586640619414356827 .mobile\:gp-block{display:block}.gps-586640619414356827 .mobile\:\!gp-hidden{display:none!important}.gps-586640619414356827 .mobile\:gp-hidden{display:none}.gps-586640619414356827 .mobile\:gp-h-auto{height:auto}.gps-586640619414356827 .mobile\:gp-flex-none{flex:none}}.gps-586640619414356827 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-586640619414356827 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gMaGF6h0F4"}' data-id="gMaGF6h0F4" id="gMaGF6h0F4" data-same-height-subgrid-container class="gMaGF6h0F4 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:none;--d-mobile:grid;--d-tablet:none;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--pt-mobile:var(--g-s-m);--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g4mMfBekJT gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gxEcUopXw-"
        class="gxEcUopXw-"
        style="--ta:left;--ta-mobile:center;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:none;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bblr-mobile:8px;--bbrr-mobile:8px;--btlr-mobile:8px;--btrr-mobile:8px;--mt-mobile:var(--g-s-l);--mb-mobile:24px;--pl-mobile:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1760588852783"
      >
      <div class="gp-flex" style="--jc:left;--jc-mobile:center">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bblr-mobile:8px;--bbrr-mobile:8px;--btlr-mobile:8px;--btrr-mobile:8px;--ts:none;--ta:left;--ta-mobile:center;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-heading, heading);--weight:700;--size:46px;--size-tablet:46px;--size-mobile:21px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#000000;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggxEcUopXw-_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    <div
      role="presentation"
      data-id="gwyQB7RtTV"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:none;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:16px;--ta:center"
      class="gp-group/image gp-relative force-publish-1760588852783 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gwyQB7RtTV"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_562294279301497736-b3b73d75-ff92-4bdd-8db2-022fa156209e.png" | file_url }}" srcset="{{ "gempages_562294279301497736-b3b73d75-ff92-4bdd-8db2-022fa156209e.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_562294279301497736-3338cd1c-d64c-466b-a767-e0b3eea1336d.png" | file_url }}" srcset="{{ "gempages_562294279301497736-3338cd1c-d64c-466b-a767-e0b3eea1336d.png" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "gempages_562294279301497736-3338cd1c-d64c-466b-a767-e0b3eea1336d.png" | file_url }}" data-src="{{ "gempages_562294279301497736-3338cd1c-d64c-466b-a767-e0b3eea1336d.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:500px;--w-tablet:500px;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--radiusType:square;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gagXENPUKG"
        class="gagXENPUKG"
        style="--ta:left;--ta-mobile:center;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:none;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bblr-mobile:8px;--bbrr-mobile:8px;--btlr-mobile:8px;--btrr-mobile:8px;--mt-mobile:var(--g-s-l);--mb-mobile:24px;--pl-mobile:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1760588852785"
      >
      <div class="gp-flex" style="--jc:left;--jc-mobile:center">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bblr-mobile:8px;--bbrr-mobile:8px;--btlr-mobile:8px;--btrr-mobile:8px;--ts:none;--ta:left;--ta-mobile:center;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-heading, heading);--weight:700;--size:46px;--size-tablet:46px;--size-mobile:21px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#000000;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggagXENPUKG_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    <div
      role="presentation"
      data-id="g8nulThWnc"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:none;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:16px;--ta:center"
      class="gp-group/image gp-relative force-publish-1760588852785 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto g8nulThWnc"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_562294279301497736-ef32345a-fba3-4015-a110-b8efb31fe65a.jpg" | file_url }}" srcset="{{ "gempages_562294279301497736-ef32345a-fba3-4015-a110-b8efb31fe65a.jpg" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_562294279301497736-3338cd1c-d64c-466b-a767-e0b3eea1336d.png" | file_url }}" srcset="{{ "gempages_562294279301497736-3338cd1c-d64c-466b-a767-e0b3eea1336d.png" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "gempages_562294279301497736-3338cd1c-d64c-466b-a767-e0b3eea1336d.png" | file_url }}" data-src="{{ "gempages_562294279301497736-3338cd1c-d64c-466b-a767-e0b3eea1336d.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:500px;--w-tablet:500px;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--radiusType:square;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"ggbl0vhWZM"}' data-id="ggbl0vhWZM" id="ggbl0vhWZM" data-same-height-subgrid-container class="ggbl0vhWZM gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:none;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:8px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g9OYAMX1Jx gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gajgXXj6Kp"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:16px;--ta:center"
      class="gp-group/image gp-relative force-publish-1760588852788 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gajgXXj6Kp"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_562294279301497736-bc2cc66a-a576-424b-9cdc-f51730c9f24a.png" | file_url }}" srcset="{{ "gempages_562294279301497736-bc2cc66a-a576-424b-9cdc-f51730c9f24a.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_562294279301497736-1106cf30-7e70-4bf0-b2db-358ccb4d8df9.png" | file_url }}" srcset="{{ "gempages_562294279301497736-1106cf30-7e70-4bf0-b2db-358ccb4d8df9.png" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "gempages_562294279301497736-1106cf30-7e70-4bf0-b2db-358ccb4d8df9.png" | file_url }}" data-src="{{ "gempages_562294279301497736-1106cf30-7e70-4bf0-b2db-358ccb4d8df9.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:500px;--w-tablet:500px;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--radiusType:square;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="g2KS18_f9Y gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"grByeyowsc"}' data-id="grByeyowsc" id="grByeyowsc" data-same-height-subgrid-container class="grByeyowsc gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:none;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:0px;--cg:0px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start;--jc-mobile:center;--o-mobile:1"
      class="gGNNVCqDub gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gB9rtIewyH"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:8px;--ta:center"
      class="gp-group/image gp-relative force-publish-1760588852791 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gB9rtIewyH"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_562294279301497736-f21dc0a7-dfce-4c01-ada3-a95223027d89.png" | file_url }}" srcset="{{ "gempages_562294279301497736-f21dc0a7-dfce-4c01-ada3-a95223027d89.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_562294279301497736-f21dc0a7-dfce-4c01-ada3-a95223027d89.png" | file_url }}" srcset="{{ "gempages_562294279301497736-f21dc0a7-dfce-4c01-ada3-a95223027d89.png" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "gempages_562294279301497736-f21dc0a7-dfce-4c01-ada3-a95223027d89.png" | file_url }}" data-src="{{ "gempages_562294279301497736-f21dc0a7-dfce-4c01-ada3-a95223027d89.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:45%;--w-tablet:45%;--w-mobile:75%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--radiusType:circle;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:start;--jc-mobile:center;--o-mobile:0"
      class="gxWHgZW4TI gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gr9mch53kd"
        class="gr9mch53kd"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml-mobile:12px;--mb-mobile:0px;--mr-mobile:0px;--pl-mobile:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1760588852793"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--size:28px;--size-tablet:16px;--size-mobile:22px;--lh:180%;--lh-tablet:180%;--lh-mobile:150%;--weight:bold;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggr9mch53kd_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g18A5gg1gU"
        class="g18A5gg1gU"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml-mobile:12px;--mb-mobile:16px;--mr-mobile:0px;--pl-mobile:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1760588852794"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:500;--size:22px;--size-tablet:16px;--size-mobile:18px;--lh:180%;--lh-tablet:180%;--lh-mobile:150%;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg18A5gg1gU_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gAlPK3ZsNX"}' data-id="gAlPK3ZsNX" id="gAlPK3ZsNX" data-same-height-subgrid-container class="gAlPK3ZsNX gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:none;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt-mobile:var(--g-s-m);--cg:0px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start;--jc-mobile:center;--o-mobile:1"
      class="gJLia5ETc8 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="giM9DBfYHH"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:8px;--ta:center"
      class="gp-group/image gp-relative force-publish-1760588852797 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto giM9DBfYHH"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_562294279301497736-04b309ce-7e9a-457b-bd10-034d1ff80ef5.png" | file_url }}" srcset="{{ "gempages_562294279301497736-04b309ce-7e9a-457b-bd10-034d1ff80ef5.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_562294279301497736-04b309ce-7e9a-457b-bd10-034d1ff80ef5.png" | file_url }}" srcset="{{ "gempages_562294279301497736-04b309ce-7e9a-457b-bd10-034d1ff80ef5.png" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "gempages_562294279301497736-04b309ce-7e9a-457b-bd10-034d1ff80ef5.png" | file_url }}" data-src="{{ "gempages_562294279301497736-04b309ce-7e9a-457b-bd10-034d1ff80ef5.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:45%;--w-tablet:45%;--w-mobile:75%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--radiusType:circle;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:start;--jc-mobile:center;--o-mobile:0"
      class="gwckOF-EkL gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gfNN7dgjjR"
        class="gfNN7dgjjR"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:8px;--ml-mobile:var(--g-s-m);--mb-mobile:0px;--pl-mobile:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1760588852823"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--size:28px;--size-tablet:16px;--size-mobile:22px;--lh:180%;--lh-tablet:180%;--lh-mobile:150%;--weight:bold;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggfNN7dgjjR_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="glA8pQMcCE"
        class="glA8pQMcCE"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml-mobile:var(--g-s-m);--mb-mobile:16px;--pl-mobile:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1760588852825"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:500;--size:22px;--size-tablet:16px;--size-mobile:18px;--lh:120%;--lh-tablet:180%;--lh-mobile:150%;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gglA8pQMcCE_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gMSuvdQmBs"}' data-id="gMSuvdQmBs" id="gMSuvdQmBs" data-same-height-subgrid-container class="gMSuvdQmBs gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:none;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--mt-mobile:var(--g-s-m);--mb-mobile:0px;--cg:0px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start;--jc-mobile:center;--o-mobile:1"
      class="gc3dijwzfv gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="g1pX4TtjFN"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1760588852829 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto g1pX4TtjFN"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_562294279301497736-ace38e89-33f9-4d92-b0a3-818bd13c5c51.png" | file_url }}" srcset="{{ "gempages_562294279301497736-ace38e89-33f9-4d92-b0a3-818bd13c5c51.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_562294279301497736-ace38e89-33f9-4d92-b0a3-818bd13c5c51.png" | file_url }}" srcset="{{ "gempages_562294279301497736-ace38e89-33f9-4d92-b0a3-818bd13c5c51.png" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "gempages_562294279301497736-ace38e89-33f9-4d92-b0a3-818bd13c5c51.png" | file_url }}" data-src="{{ "gempages_562294279301497736-ace38e89-33f9-4d92-b0a3-818bd13c5c51.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:45%;--w-tablet:45%;--w-mobile:75%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--radiusType:circle;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:start;--jc-mobile:center;--o-mobile:0"
      class="gb-2VG58jB gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gDoZm4Oz18"
        class="gDoZm4Oz18"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:8px;--ml-mobile:12px;--mb-mobile:0px;--mr-mobile:0px;--pl-mobile:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1760588852830"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--size:28px;--size-tablet:16px;--size-mobile:22px;--lh:180%;--lh-tablet:180%;--lh-mobile:150%;--weight:bold;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggDoZm4Oz18_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gVV4mk8WNp"
        class="gVV4mk8WNp"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml-mobile:12px;--mb-mobile:16px;--mr-mobile:0px;--pl-mobile:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1760588852832"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:500;--size:22px;--size-tablet:16px;--size-mobile:18px;--lh:120%;--lh-tablet:180%;--lh-mobile:150%;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggVV4mk8WNp_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gzStiJS_u1"
        class="gzStiJS_u1"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:8px;--mt-mobile:var(--g-s-2xl);--ml-mobile:0px;--mb-mobile:16px;--mr-mobile:0px;--pl-mobile:var(--g-s-m);--pr-mobile:var(--g-s-m);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1760588852833"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:500;--size:22px;--size-tablet:16px;--size-mobile:16px;--lh:120%;--lh-tablet:180%;--lh-mobile:150%;--fs:italic;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggzStiJS_u1_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <gp-button
      gp-data='{"btnLink":{"link":"#gv-YNHtKVs","selectedTab":"scrollToList","target":"_self","title":"Section"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--ta-mobile:center" >
        <style>[data-id="gJMHvEunWQ"].gp-button-base::before, [data-id="gJMHvEunWQ-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #092e7c;
  
    border-radius: var(--g-radius-small);
  
    }
  
      
  [data-id="gJMHvEunWQ"]:hover::before, [data-id="gJMHvEunWQ-interaction"]:hover::before {
    
    
  }</style>
        <a
            class="gp-trigger-button-link gp-hidden"
            href=#gv-YNHtKVs
            target=_self
          ></a>
        <a
          data-id="gJMHvEunWQ" dataId="gJMHvEunWQ" data-state="idle" aria-label="<p><span style='font-size:23px;'>Try New Aura</span></p>"
          
          href="#gv-YNHtKVs" target="_self"
          style="--w:100%;--w-tablet:100%;--w-mobile:65%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:8px;--pb-mobile:8px;--radius:var(--g-radius-small);--hvr-radius:var(--g-radius-small);--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:#ffffff;--bg:rgba(98, 175, 227, 0.7);--c:#151515;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--size:16px;--size-tablet:16px;--size-mobile:19px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold"
          class="gJMHvEunWQ gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--size:16px;--size-tablet:16px;--size-mobile:19px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggJMHvEunWQ_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gEY5IwwZFH"
        class="gEY5IwwZFH"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:none;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt-mobile:var(--g-s-2xl);--ml-mobile:0px;--mb-mobile:16px;--mr-mobile:0px;--pl-mobile:var(--g-s-m);--pr-mobile:var(--g-s-m);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1760588852838"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:500;--size:16px;--size-tablet:16px;--size-mobile:16px;--lh:180%;--lh-tablet:180%;--lh-mobile:150%;--fs:italic;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggEY5IwwZFH_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <gp-button
      gp-data='{"btnLink":{"link":"#g_pDVFRQCD","selectedTab":"scrollToList","title":"Section 4","type":"scroll-to"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:none;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--ta-mobile:center" >
        <style>[data-id="g-kWqwEeRX"].gp-button-base::before, [data-id="g-kWqwEeRX-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #092e7c;
  
    border-radius: var(--g-radius-small);
  
    }
  
      
  [data-id="g-kWqwEeRX"]:hover::before, [data-id="g-kWqwEeRX-interaction"]:hover::before {
    
    
  }</style>
        <a
            class="gp-trigger-button-link gp-hidden"
            href=#g_pDVFRQCD
            target=undefined
          ></a>
        <a
          data-id="g-kWqwEeRX" dataId="g-kWqwEeRX" data-state="idle" aria-label="<p>Try New Aura</p>"
          
          href="#g_pDVFRQCD" target
          style="--w:Auto;--w-tablet:Auto;--w-mobile:65%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:8px;--pb-mobile:8px;--radius:var(--g-radius-small);--hvr-radius:var(--g-radius-small);--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:#ffffff;--bg:rgba(98, 175, 227, 0.7);--c:#151515;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:19px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%"
          class="g-kWqwEeRX gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:19px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.gg-kWqwEeRX_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:12px;--pb:12px;--mb-mobile:0px;--pt-mobile:var(--g-s-xl);--pl-mobile:var(--g-s-4xl);--pb-mobile:var(--g-s-2xl);--pr-mobile:var(--g-s-4xl)" class="ghVcPKNik8 ">
      
    <div data-id="ghVcPKNik8" class="gp-flex gp-justify-start">
      <div style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bs-mobile:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:3px;--t:gp-rotate(0deg);--bc:rgba(98, 175, 227, 0.7)" class="gp-block tablet:gp-block mobile:gp-block"></div>
      <div class="gp-items-center gp-hidden tablet:gp-hidden mobile:gp-hidden" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:rgba(98, 175, 227, 0.7);--t:gp-rotate(0deg)">
        <div class="gp-hidden" style="--bc:rgba(98, 175, 227, 0.7);--bs:solid;--bs-mobile:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:3px;--minw:100%;--w:100%;--w-tablet:100%;--w-mobile:100%"></div>
        
            <span
              class="gp-inline-flex gp-flex-none gp-items-center gp-justify-center"
              style="--mr:var(--g-s-xs);--w:20px;--h:20px;--t:gp-rotate(0);--c:var(--g-c-text-1, text-1)"
            >
              <svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M428.8 137.6h-86.177a115.52 115.52 0 0 0 2.176-22.4c0-47.914-35.072-83.2-92-83.2-45.314 0-57.002 48.537-75.707 78.784-7.735 12.413-16.994 23.317-25.851 33.253l-.131.146-.129.148C135.662 161.807 127.764 168 120.8 168h-2.679c-5.747-4.952-13.536-8-22.12-8H32c-17.673 0-32 12.894-32 28.8v230.4C0 435.106 14.327 448 32 448h64c8.584 0 16.373-3.048 22.12-8h2.679c28.688 0 67.137 40 127.2 40h21.299c62.542 0 98.8-38.658 99.94-91.145 12.482-17.813 18.491-40.785 15.985-62.791A93.148 93.148 0 0 0 393.152 304H428.8c45.435 0 83.2-37.584 83.2-83.2 0-45.099-38.101-83.2-83.2-83.2zm0 118.4h-91.026c12.837 14.669 14.415 42.825-4.95 61.05 11.227 19.646 1.687 45.624-12.925 53.625 6.524 39.128-10.076 61.325-50.6 61.325H248c-45.491 0-77.21-35.913-120-39.676V215.571c25.239-2.964 42.966-21.222 59.075-39.596 11.275-12.65 21.725-25.3 30.799-39.875C232.355 112.712 244.006 80 252.8 80c23.375 0 44 8.8 44 35.2 0 35.2-26.4 53.075-26.4 70.4h158.4c18.425 0 35.2 16.5 35.2 35.2 0 18.975-16.225 35.2-35.2 35.2zM88 384c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z" /></svg>
            </span>
          
        
            <span
              class="gp-inline-flex gp-flex-none gp-items-center gp-justify-center gp-g-paragraph-1"
              style="--tt:horizontal;--c:var(--g-c-text-1, text-1);--mr:var(--g-s-s);--ml:var(--g-s-s)"
            >
              Title
            </span>
          
        <div class="gp-flex" style="--bc:rgba(98, 175, 227, 0.7);--bs:solid;--bs-mobile:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:3px;--minw:100%;--w:100%;--w-tablet:100%;--w-mobile:100%"></div>
      </div>
    </div>
  
      </div>
    </div>

      
    </gp-row>
  
        </section>
      
  
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuLyfAZ9hjg.woff) format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuI6fAZ9hjg.woff) format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuFuYAZ9hjg.woff) format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLGT9Z1xlEw.woff) format('woff');
}
/* cyrillic-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2JL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa0ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa25L7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1ZL7W0Q5nw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2JL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa0ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa25L7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1ZL7W0Q5nw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2JL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa0ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa25L7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1ZL7W0Q5nw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLGT9Z11lFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLGT9Z1JlFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLGT9Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>
    
{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-586640619414356827 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/feppvi-1c/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=586640619263230811&sectionId=586640619414356827)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggxEcUopXw-_text","label":"ggxEcUopXw-_text","default":"<span style=\"background-color:#011540;color:#FFFFFF;\">&nbsp; WHAT MAKES IT WORK SO FAST? &nbsp;</span>"},{"type":"html","id":"ggagXENPUKG_text","label":"ggagXENPUKG_text","default":"<span style=\"background-color:#011540;color:#FFFFFF;\">&nbsp; STOP THE FLAKING BEFORE IT SPREADS &nbsp;</span>"},{"type":"html","id":"ggr9mch53kd_text","label":"ggr9mch53kd_text","default":"<p>Step 1:</p>"},{"type":"html","id":"gg18A5gg1gU_text","label":"gg18A5gg1gU_text","default":"<p>Wash &amp; dry the area</p>"},{"type":"html","id":"ggfNN7dgjjR_text","label":"ggfNN7dgjjR_text","default":"<p>Step 2:</p>"},{"type":"html","id":"gglA8pQMcCE_text","label":"gglA8pQMcCE_text","default":"<p>Massage in cream for 23 minutes</p>"},{"type":"html","id":"ggDoZm4Oz18_text","label":"ggDoZm4Oz18_text","default":"<p>Step 3:</p>"},{"type":"html","id":"ggVV4mk8WNp_text","label":"ggVV4mk8WNp_text","default":"<p>Use 23x daily, until symptoms clear</p>"},{"type":"html","id":"ggzStiJS_u1_text","label":"ggzStiJS_u1_text","default":"<p>Keep using it for a few days after symptoms clear to stop flare-ups from coming back.</p>"},{"type":"html","id":"ggJMHvEunWQ_label","label":"ggJMHvEunWQ_label","default":"<p><span style=\"font-size:23px;\">Try New Aura</span></p>"},{"type":"html","id":"ggEY5IwwZFH_text","label":"ggEY5IwwZFH_text","default":"<p>Keep using it for a few days after symptoms clear to stop flare-ups from coming back.</p>"},{"type":"html","id":"gg-kWqwEeRX_label","label":"gg-kWqwEeRX_label","default":"<p>Try New Aura</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  