
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-592504007834993401.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-592504007834993401.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-592504007834993401.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-592504007834993401.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-592504007834993401.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-592504007834993401.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-592504007834993401.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-592504007834993401.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-592504007834993401.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-592504007834993401.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-592504007834993401.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-592504007834993401.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-592504007834993401.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-592504007834993401.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-592504007834993401.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-592504007834993401.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-592504007834993401.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-592504007834993401.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-592504007834993401.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-592504007834993401.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-592504007834993401.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-592504007834993401.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-592504007834993401.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-592504007834993401.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-592504007834993401.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-592504007834993401.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-592504007834993401.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-592504007834993401.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-592504007834993401.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-592504007834993401.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-592504007834993401.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-592504007834993401.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-592504007834993401.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-592504007834993401.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-592504007834993401.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-592504007834993401.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-592504007834993401.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-592504007834993401.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-592504007834993401.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-592504007834993401.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-592504007834993401.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-592504007834993401.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-592504007834993401.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-592504007834993401.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-592504007834993401.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-592504007834993401.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-592504007834993401.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-592504007834993401.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-592504007834993401.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-592504007834993401.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-592504007834993401.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-592504007834993401.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-592504007834993401.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-592504007834993401.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-592504007834993401.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-592504007834993401.gps.gpsil [style*="--v:"]{visibility:var(--v)}.gps-592504007834993401.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-592504007834993401.gps.gpsil [style*="--ai-tablet:"]{align-items:var(--ai-tablet)}.gps-592504007834993401.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-592504007834993401.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-592504007834993401.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-592504007834993401.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-592504007834993401.gps.gpsil [style*="--jc-tablet:"]{justify-content:var(--jc-tablet)}.gps-592504007834993401.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-592504007834993401.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-592504007834993401.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-592504007834993401.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-592504007834993401.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-592504007834993401.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-592504007834993401.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-592504007834993401.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-592504007834993401.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-592504007834993401.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-592504007834993401.gps.gpsil [style*="--v-tablet:"]{visibility:var(--v-tablet)}.gps-592504007834993401.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-592504007834993401.gps.gpsil [style*="--ai-mobile:"]{align-items:var(--ai-mobile)}.gps-592504007834993401.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-592504007834993401.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-592504007834993401.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-592504007834993401.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-592504007834993401.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-592504007834993401.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-592504007834993401.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-592504007834993401.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-592504007834993401.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-592504007834993401.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-592504007834993401.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-592504007834993401.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-592504007834993401.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-592504007834993401.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-592504007834993401.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-592504007834993401.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-592504007834993401.gps.gpsil [style*="--v-mobile:"]{visibility:var(--v-mobile)}.gps-592504007834993401.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-592504007834993401 .gp-relative{position:relative}.gps-592504007834993401 .gp-z-1{z-index:1}.gps-592504007834993401 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-592504007834993401 .gp-mb-0{margin-bottom:0}.gps-592504007834993401 .gp-inline-block{display:inline-block}.gps-592504007834993401 .gp-flex{display:flex}.gps-592504007834993401 .gp-inline-flex{display:inline-flex}.gps-592504007834993401 .gp-grid{display:grid}.gps-592504007834993401 .gp-contents{display:contents}.gps-592504007834993401 .\!gp-hidden{display:none!important}.gps-592504007834993401 .gp-hidden{display:none}.gps-592504007834993401 .gp-h-auto{height:auto}.gps-592504007834993401 .gp-h-full{height:100%}.gps-592504007834993401 .gp-w-full{width:100%}.gps-592504007834993401 .gp-max-w-full{max-width:100%}.gps-592504007834993401 .gp-flex-none{flex:none}.gps-592504007834993401 .gp-shrink-0{flex-shrink:0}.gps-592504007834993401 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-592504007834993401 .gp-flex-row-reverse{flex-direction:row-reverse}.gps-592504007834993401 .gp-flex-col{flex-direction:column}.gps-592504007834993401 .gp-items-center{align-items:center}.gps-592504007834993401 .gp-justify-center{justify-content:center}.gps-592504007834993401 .gp-overflow-hidden{overflow:hidden}.gps-592504007834993401 .gp-break-words{overflow-wrap:break-word}.gps-592504007834993401 .gp-border{border-width:1px}.gps-592504007834993401 .gp-border-transparent{border-color:transparent}.gps-592504007834993401 .gp-text-left{text-align:left}.gps-592504007834993401 .gp-text-center{text-align:center}.gps-592504007834993401 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-592504007834993401 .gp-no-underline{text-decoration-line:none}.gps-592504007834993401 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-592504007834993401 .gp-duration-200{transition-duration:.2s}.gps-592504007834993401 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-592504007834993401 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-592504007834993401 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-592504007834993401 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-592504007834993401 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-592504007834993401 .tablet\:\!gp-hidden{display:none!important}.gps-592504007834993401 .tablet\:gp-hidden{display:none}.gps-592504007834993401 .tablet\:gp-h-auto{height:auto}.gps-592504007834993401 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-592504007834993401 .mobile\:\!gp-hidden{display:none!important}.gps-592504007834993401 .mobile\:gp-hidden{display:none}.gps-592504007834993401 .mobile\:gp-h-auto{height:auto}.gps-592504007834993401 .mobile\:gp-flex-none{flex:none}}.gps-592504007834993401 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-592504007834993401 .\[\&\>svg\]\:\!gp-h-\[var\(--size-desktop\)\]>svg{height:var(--size-desktop)!important}.gps-592504007834993401 .\[\&\>svg\]\:\!gp-w-\[var\(--size-desktop\)\]>svg{width:var(--size-desktop)!important}.gps-592504007834993401 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-592504007834993401 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}.gps-592504007834993401 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--size-tablet\)\]>svg{height:var(--size-tablet)!important}.gps-592504007834993401 .tablet\:\[\&\>svg\]\:\!gp-w-\[var\(--size-tablet\)\]>svg{width:var(--size-tablet)!important}}@media (max-width:767px){.gps-592504007834993401 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}.gps-592504007834993401 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--size-mobile\)\]>svg{height:var(--size-mobile)!important}.gps-592504007834993401 .mobile\:\[\&\>svg\]\:\!gp-w-\[var\(--size-mobile\)\]>svg{width:var(--size-mobile)!important}}.gps-592504007834993401 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-592504007834993401 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v40/nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKeiukDQ.ttf) format('truetype');
}


@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuLyfMZg.ttf) format('truetype');
}


@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuLyfMZg.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuGKYMZg.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuFuYMZg.ttf) format('truetype');
}


@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuI6fMZg.ttf) format('truetype');
}


@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesans3/v19/nwpBtKy2OAdR1K-IwhWudF-R9QMylBJAV3Bo8Ky461EN.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesans3/v19/nwpBtKy2OAdR1K-IwhWudF-R9QMylBJAV3Bo8Kxm7FEN.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesans3/v19/nwpBtKy2OAdR1K-IwhWudF-R9QMylBJAV3Bo8Kxf7FEN.ttf) format('truetype');
}


@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesans3/v19/nwpBtKy2OAdR1K-IwhWudF-R9QMylBJAV3Bo8Ky461EN.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesans3/v19/nwpBtKy2OAdR1K-IwhWudF-R9QMylBJAV3Bo8Kxm7FEN.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesans3/v19/nwpBtKy2OAdR1K-IwhWudF-R9QMylBJAV3Bo8Kxf7FEN.ttf) format('truetype');
}
</style>
  
    
    
  <gp-animation
    gp-interaction-wrapper
    display-init="hide"
    gp-data='{"tag":"Section","opacity":{"desktop":"100%"},"notEnableAnimationWhenInit":true}'
    style="display:contents"
  >
    <div style="--v:visible;--v-tablet:visible;--v-mobile:visible;display:contents">
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FAF6F2","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"gbtRzoVPzq"}' data-id="gbtRzoVPzq" id="gbtRzoVPzq" data-same-height-subgrid-container class="gbtRzoVPzq gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--hasAnimationInteraction:true;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--mb:0px;--pt:80px;--pl:60px;--pb:72px;--pr:60px;--pt-mobile:60px;--pl-mobile:20px;--pb-mobile:40px;--pr-mobile:20px;--pt-tablet:70px;--pl-tablet:40px;--pb-tablet:50px;--pr-tablet:40px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FAF6F2;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gWu-5TGIBn gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g6btI5l9jI"}' data-id="g6btI5l9jI" id="g6btI5l9jI" data-same-height-subgrid-container class="g6btI5l9jI gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:0px;--pl-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pl-tablet:0px;--pr-tablet:0px;--cg:62px;--cg-tablet:40px;--gtc:minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:100%;--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--jc-tablet:center"
      class="g9FNidP_7j gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gTmyiYi9Hi"
        class="gTmyiYi9Hi"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:20px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:30px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:40px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--ta-tablet:center;--ta-mobile:center;--fs:normal;--ff:var(--g-font-Playfair-Display, 'Playfair Display'), var(--g-font-heading, heading);--weight:700;--size:32px;--size-tablet:32px;--size-mobile:26px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#0A0908;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggTmyiYi9Hi_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"uid":"g7RkMvNt8V"}' data-id="g7RkMvNt8V" id="g7RkMvNt8V" data-same-height-subgrid-container class="g7RkMvNt8V gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:15px;--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--mb-mobile:15px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:15px;--pt-tablet:0px;--pl-tablet:var(--g-s-l);--pb-tablet:var(--g-s-l);--pr-tablet:var(--g-s-l);--cg:16px;--rg:0px;--gtc:minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:var(--g-ct-w, 1200px);--h:auto;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gi4qxJWePS gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gzhcf-T4Az"
        class="gzhcf-T4Az"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:15px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:15px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:15px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-mobile:center;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-heading, heading);--size:24px;--size-tablet:25px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:#205F49;--tdl:underline;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
          {{ section.settings.ggzhcf-T4Az_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    <div
      role="presentation"
      data-id="g5leKoY9GI"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:15px;--ta:center"
      class="gp-group/image gp-relative force-publish-1764276231454 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto g5leKoY9GI"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "original.webp" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAyNCIgaGVpZ2h0PSI4MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEwMjQtODAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMDI0IiBoZWlnaHQ9IjgwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAyNCIgaGVpZ2h0PSI4MDAiIGZpbGw9InVybCgjZy0xMDI0LTgwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEwMjQiIHRvPSIxMDI0IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "original.webp" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAyNCIgaGVpZ2h0PSI4MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEwMjQtODAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMDI0IiBoZWlnaHQ9IjgwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAyNCIgaGVpZ2h0PSI4MDAiIGZpbGw9InVybCgjZy0xMDI0LTgwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEwMjQiIHRvPSIxMDI0IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
    
      
      <img
        base-src="{{ "original.webp" | file_url }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAyNCIgaGVpZ2h0PSI4MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEwMjQtODAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMDI0IiBoZWlnaHQ9IjgwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAyNCIgaGVpZ2h0PSI4MDAiIGZpbGw9InVybCgjZy0xMDI0LTgwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEwMjQiIHRvPSIxMDI0IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" data-src="{{ "original.webp" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:700px;--w-tablet:700px;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    

    

    
    <gp-row gp-data='{"uid":"gH9WpEx6VO"}' data-id="gH9WpEx6VO" id="gH9WpEx6VO" data-same-height-subgrid-container class="gH9WpEx6VO gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:20px;--mb:20px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:20px;--mb-mobile:20px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:20px;--mb-tablet:20px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--w-mobile:100%;--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="glMiZKBi-H gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper  class="g010kyHf_3 ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      
      uid="g010kyHf_3"
      data-id="g010kyHf_3"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--jc:left"
      className="g010kyHf_3"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":"20"}}'
    >
      
          <div class="gp-flex" style="--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--w:100%;--jc:left">
            <div class="gp-inline-flex gp-flex-col" style="--rg:8px;--rg-mobile:0px">
              
                    <div
                      key="0"
                      data-index="0"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-g010kyHf_3"
                      style="--cg:8px;--cg-mobile:5px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#1E5A45;--w:100%;--h:100%;--size-desktop:20px;--size-tablet:20px;--size-mobile:20px"
                        >
                          <svg data-name="check-circle-filled" height="20" width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" data-id="508414807831544168"><path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm45.66,85.66-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z"></path></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-Source-Sans-3, 'Source Sans 3'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:15px;--lh:120%;--lh-tablet:180%;--lh-mobile:180%;--c:#0A0908;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg010kyHf_3_childItem_0 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div> 
                    <div
                      key="1"
                      data-index="1"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-g010kyHf_3"
                      style="--cg:8px;--cg-mobile:5px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#1E5A45;--w:100%;--h:100%;--size-desktop:20px;--size-tablet:20px;--size-mobile:20px"
                        >
                          <svg data-name="check-circle-filled" height="20" width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" data-id="508414807831544168"><path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm45.66,85.66-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z"></path></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-Source-Sans-3, 'Source Sans 3'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:15px;--lh:120%;--lh-tablet:180%;--lh-mobile:180%;--c:#0A0908;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg010kyHf_3_childItem_1 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div> 
                    <div
                      key="2"
                      data-index="2"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-g010kyHf_3"
                      style="--cg:8px;--cg-mobile:5px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#1E5A45;--w:100%;--h:100%;--size-desktop:20px;--size-tablet:20px;--size-mobile:20px"
                        >
                          <svg data-name="check-circle-filled" height="20" width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" data-id="508414807831544168"><path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm45.66,85.66-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z"></path></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-Source-Sans-3, 'Source Sans 3'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:15px;--lh:120%;--lh-tablet:180%;--lh-mobile:180%;--c:#0A0908;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg010kyHf_3_childItem_2 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div>
            </div>
          </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-icon-list-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>

      
    </gp-row>
  
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gsJzUoZ7tF"
        class="gsJzUoZ7tF"
        style="--ta:center;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:15px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:15px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:15px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:400px;--w-tablet:400px;--w-mobile:400px;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-mobile:center;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-heading, heading);--weight:500;--size:22px;--size-tablet:25px;--size-mobile:15px;--lh:150%;--lh-tablet:130%;--lh-mobile:130%;--c:#0A0908;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggsJzUoZ7tF_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"uid":"g__8N_nF3J"}' data-id="g__8N_nF3J" id="g__8N_nF3J" data-same-height-subgrid-container class="g__8N_nF3J gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:10px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:0px;--pt-mobile:10px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:10px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:500px;--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="grW1w_CbN- gp-relative gp-flex gp-flex-col"
    >
      
    <gp-button
      gp-data='{"btnLink":{"link":"https://trynewaura.com/products/anti-flaking-hair-cream","target":"_self","type":"open-page"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:left" >
        <style>[data-id="gJp_ZIFdeu"].gp-button-base::before, [data-id="gJp_ZIFdeu-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: transparent;
  
    
      border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px;
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
      
  
    }
  
      
  [data-id="gJp_ZIFdeu"]:hover::before, [data-id="gJp_ZIFdeu-interaction"]:hover::before {
    
    
  }</style>
        
        <a
          data-id="gJp_ZIFdeu" dataId="gJp_ZIFdeu" data-state="idle" aria-label="<p>CLAIM DISCOUNT</p>"
          
          href="https://trynewaura.com/products/anti-flaking-hair-cream" target="_self"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--bblr:7px;--bbrr:7px;--btlr:7px;--btrr:7px;--bgi:;--bg:#205F49;--c:var(--g-c-text-3, text-3);--ff:var(--g-font-Source-Sans-3, 'Source Sans 3'), var(--g-font-body, body);--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold"
          class="gJp_ZIFdeu gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex gp-flex-row-reverse">
          
    <span
      style="--ff:var(--g-font-Source-Sans-3, 'Source Sans 3'), var(--g-font-body, body);--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold;--ts:none;word-break:break-word;--ml:27px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      class="gp-button-icon gp-z-1 gp-inline-flex gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
    >
      <svg height="20" width="20" data-name="arrow-right-bold" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817550824440168">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M224.49,136.49l-72,72a12,12,0,0,1-17-17L187,140H40a12,12,0,0,1,0-24H187L135.51,64.48a12,12,0,0,1,17-17l72,72A12,12,0,0,1,224.49,136.49Z" /></svg>
    </span>
  
          
    <span
      data-gp-text
      style="--ff:var(--g-font-Source-Sans-3, 'Source Sans 3'), var(--g-font-body, body);--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggJp_ZIFdeu_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  </div>
  </gp-animation>
  <script src="https://assets.gemcommerce.com/assets-v2/gp-animation-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    
{% schema %}
  {
    
    "name": "Section 15",
    "tag": "section",
    "class": "gps-592504007834993401 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/feppvi-1c/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=592025793073250846&sectionId=592504007834993401)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggTmyiYi9Hi_text","label":"ggTmyiYi9Hi_text","default":"<strong>Your <u>Personalized</u> Treatment Recommendation:</strong>"},{"type":"html","id":"ggzhcf-T4Az_text","label":"ggzhcf-T4Az_text","default":"New Aura Anti-Fungal Cream"},{"type":"html","id":"gg010kyHf_3_childItem_0","label":"gg010kyHf_3_childItem_0","default":"<p>Crafted To Nourish/Balance Scalp</p>"},{"type":"html","id":"gg010kyHf_3_childItem_1","label":"gg010kyHf_3_childItem_1","default":"<p>Natural Ingredients, No Harsh Chemicals</p>"},{"type":"html","id":"gg010kyHf_3_childItem_2","label":"gg010kyHf_3_childItem_2","default":"<p>12,000+ Flake-Free CustomersLast but not least …</p>"},{"type":"html","id":"ggsJzUoZ7tF_text","label":"ggsJzUoZ7tF_text","default":"<strong>Congratulations!</strong> You Unlocked The <u>Quiz-Completion Discount</u>.<br>Claim Now To Get Up To 50% OFF!"},{"type":"html","id":"ggJp_ZIFdeu_label","label":"ggJp_ZIFdeu_label","default":"<p>CLAIM DISCOUNT</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}