
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-572719999702270848.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-572719999702270848.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-572719999702270848.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-572719999702270848.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-572719999702270848.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-572719999702270848.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-572719999702270848.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-572719999702270848.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-572719999702270848.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-572719999702270848.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-572719999702270848.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-572719999702270848.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-572719999702270848.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-572719999702270848.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-572719999702270848.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-572719999702270848.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-572719999702270848.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-572719999702270848.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-572719999702270848.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-572719999702270848.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-572719999702270848.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-572719999702270848.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-572719999702270848.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-572719999702270848.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-572719999702270848.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-572719999702270848.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-572719999702270848.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-572719999702270848.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-572719999702270848.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-572719999702270848.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-572719999702270848.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-572719999702270848.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-572719999702270848.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-572719999702270848.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-572719999702270848.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-572719999702270848.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-572719999702270848.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-572719999702270848.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-572719999702270848.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-572719999702270848.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-572719999702270848.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-572719999702270848.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-572719999702270848.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-572719999702270848.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-572719999702270848.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-572719999702270848.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-572719999702270848.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-572719999702270848.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-572719999702270848.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-572719999702270848.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-572719999702270848.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-572719999702270848.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-572719999702270848.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-572719999702270848.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-572719999702270848.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-572719999702270848.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-572719999702270848.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-572719999702270848.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-572719999702270848.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-572719999702270848.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-572719999702270848.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-572719999702270848.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-572719999702270848.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-572719999702270848.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-572719999702270848.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-572719999702270848.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-572719999702270848 .gp-relative{position:relative}.gps-572719999702270848 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-572719999702270848 .gp-mb-0{margin-bottom:0}.gps-572719999702270848 .gp-inline-block{display:inline-block}.gps-572719999702270848 .gp-flex{display:flex}.gps-572719999702270848 .gp-grid{display:grid}.gps-572719999702270848 .gp-contents{display:contents}.gps-572719999702270848 .\!gp-hidden{display:none!important}.gps-572719999702270848 .gp-hidden{display:none}.gps-572719999702270848 .gp-h-auto{height:auto}.gps-572719999702270848 .gp-h-full{height:100%}.gps-572719999702270848 .gp-w-full{width:100%}.gps-572719999702270848 .gp-max-w-full{max-width:100%}.gps-572719999702270848 .gp-flex-none{flex:none}.gps-572719999702270848 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-572719999702270848 .gp-flex-col{flex-direction:column}.gps-572719999702270848 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-572719999702270848 .gp-duration-200{transition-duration:.2s}.gps-572719999702270848 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-572719999702270848 .tablet\:\!gp-hidden{display:none!important}.gps-572719999702270848 .tablet\:gp-hidden{display:none}.gps-572719999702270848 .tablet\:gp-h-auto{height:auto}.gps-572719999702270848 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-572719999702270848 .mobile\:\!gp-hidden{display:none!important}.gps-572719999702270848 .mobile\:gp-hidden{display:none}.gps-572719999702270848 .mobile\:gp-h-auto{height:auto}.gps-572719999702270848 .mobile\:gp-flex-none{flex:none}}.gps-572719999702270848 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gw5XtWdhvA"}' data-id="gw5XtWdhvA" id="gw5XtWdhvA" data-same-height-subgrid-container class="gw5XtWdhvA gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-2xl);--pl:var(--g-s-xl);--pb:var(--g-s-2xl);--pr:var(--g-s-xl);--pt-mobile:var(--g-s-2xl);--pl-mobile:0px;--pb-mobile:var(--g-s-2xl);--pr-mobile:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gVuc0ReF4A gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gODE1aIpP_"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:16px;--ta:center"
      class="gp-group/image gp-relative force-publish-1758558412680 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gODE1aIpP_"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_562294279301497736-48756c9e-43dc-43b8-8c4a-eb099c5e98cb.png" | file_url }}" srcset="{{ "gempages_562294279301497736-48756c9e-43dc-43b8-8c4a-eb099c5e98cb.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_562294279301497736-3338cd1c-d64c-466b-a767-e0b3eea1336d.png" | file_url }}" srcset="{{ "gempages_562294279301497736-3338cd1c-d64c-466b-a767-e0b3eea1336d.png" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "gempages_562294279301497736-3338cd1c-d64c-466b-a767-e0b3eea1336d.png" | file_url }}" data-src="{{ "gempages_562294279301497736-3338cd1c-d64c-466b-a767-e0b3eea1336d.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:500px;--w-tablet:500px;--w-mobile:95%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--bblr:16px;--bbrr:16px;--btlr:16px;--btrr:16px;--radiusType:custom;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gDM8MWM_GM"
        class="gDM8MWM_GM"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:16px;--pl-mobile:var(--g-s-l);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758558412681"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:13px;--lh:180%;--lh-tablet:180%;--lh-mobile:150%;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggDM8MWM_GM_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g_IMpmTFRF"
        class="g_IMpmTFRF"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:16px;--pl-mobile:var(--g-s-l);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758558412682"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:500;--size:16px;--size-tablet:16px;--size-mobile:13px;--lh:180%;--lh-tablet:180%;--lh-mobile:150%;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg_IMpmTFRF_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gf5C6vXUer"
        class="gf5C6vXUer"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:8px;--pl-mobile:var(--g-s-l);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758558412683"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:13px;--lh:180%;--lh-tablet:180%;--lh-mobile:150%;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggf5C6vXUer_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
        </section>
      
  
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrJJfedA.woff) format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLGT9Z1xlEw.woff) format('woff');
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrJJbecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrJJnecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLGT9Z11lFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLGT9Z1JlFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLGT9Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>
    
{% schema %}
  {
    
    "name": "Section 5",
    "tag": "section",
    "class": "gps-572719999702270848 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/feppvi-1c/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=572719999551013760&sectionId=572719999702270848)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggDM8MWM_GM_text","label":"ggDM8MWM_GM_text","default":"<p><span style=\"font-size:14px;\"><i>Achieving relief from seborrheic dermatitis and psoriasis has never been easier.</i></span></p>"},{"type":"html","id":"gg_IMpmTFRF_text","label":"gg_IMpmTFRF_text","default":"<p><span style=\"font-size:15px;\"><strong>Step 1:</strong></span><br><span style=\"font-size:15px;\">Gently wash your skin and dry the affected area.</span></p><p>&nbsp;</p><p><span style=\"font-size:15px;\"><strong>Step 2:</strong></span><br><span style=\"font-size:14px;\">Apply the cream in circular motions for 3 minutes, make sure to do it 2–3 times daily.</span></p><p>&nbsp;</p><p><span style=\"font-size:15px;\"><strong>Step 3:</strong></span><br><span style=\"font-size:14px;\">Continue for a few days after symptoms improve to keep flare-ups from coming back.</span></p>"},{"type":"html","id":"ggf5C6vXUer_text","label":"ggf5C6vXUer_text","default":"<p><span style=\"background-color:rgb(255,255,255);color:rgb(0,0,0);font-size:14px;\">Consistent use brings lasting comfort, a healthier beard, and total peace of mind.</span></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  