
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-587361486775517753.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-587361486775517753.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-587361486775517753.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-587361486775517753.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-587361486775517753.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-587361486775517753.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-587361486775517753.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-587361486775517753.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-587361486775517753.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-587361486775517753.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-587361486775517753.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-587361486775517753.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-587361486775517753.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-587361486775517753.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-587361486775517753.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-587361486775517753.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-587361486775517753.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-587361486775517753.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-587361486775517753.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-587361486775517753.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-587361486775517753.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-587361486775517753.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-587361486775517753.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-587361486775517753.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-587361486775517753.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-587361486775517753.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-587361486775517753.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-587361486775517753.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-587361486775517753.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-587361486775517753.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-587361486775517753.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-587361486775517753.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-587361486775517753.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-587361486775517753.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-587361486775517753.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-587361486775517753.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-587361486775517753.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-587361486775517753.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-587361486775517753.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-587361486775517753.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-587361486775517753.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-587361486775517753.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-587361486775517753.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-587361486775517753.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-587361486775517753.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-587361486775517753.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-587361486775517753.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-587361486775517753.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-587361486775517753.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-587361486775517753.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-587361486775517753.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-587361486775517753.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-587361486775517753.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-587361486775517753.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-587361486775517753.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-587361486775517753.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-587361486775517753.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-587361486775517753.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-587361486775517753.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-587361486775517753.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-587361486775517753.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-587361486775517753.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-587361486775517753.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-587361486775517753.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-587361486775517753.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-587361486775517753.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-587361486775517753.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-587361486775517753.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-587361486775517753.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-587361486775517753.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-587361486775517753.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-587361486775517753.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-587361486775517753.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-587361486775517753.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-587361486775517753.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-587361486775517753.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-587361486775517753.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-587361486775517753 .gp-relative{position:relative}.gps-587361486775517753 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-587361486775517753 .gp-mb-0{margin-bottom:0}.gps-587361486775517753 .gp-flex{display:flex}.gps-587361486775517753 .gp-inline-flex{display:inline-flex}.gps-587361486775517753 .gp-grid{display:grid}.gps-587361486775517753 .\!gp-hidden{display:none!important}.gps-587361486775517753 .gp-hidden{display:none}.gps-587361486775517753 .gp-h-full{height:100%}.gps-587361486775517753 .gp-max-w-full{max-width:100%}.gps-587361486775517753 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-587361486775517753 .gp-flex-col{flex-direction:column}.gps-587361486775517753 .gp-items-center{align-items:center}.gps-587361486775517753 .gp-justify-center{justify-content:center}.gps-587361486775517753 .gp-overflow-hidden{overflow:hidden}.gps-587361486775517753 .gp-break-words{overflow-wrap:break-word}.gps-587361486775517753 .gp-text-center{text-align:center}.gps-587361486775517753 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-587361486775517753 .gp-no-underline{text-decoration-line:none}.gps-587361486775517753 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-587361486775517753 .gp-duration-200{transition-duration:.2s}.gps-587361486775517753 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-587361486775517753 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-587361486775517753 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-587361486775517753 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-587361486775517753 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-587361486775517753 .tablet\:\!gp-hidden{display:none!important}.gps-587361486775517753 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-587361486775517753 .mobile\:\!gp-hidden{display:none!important}.gps-587361486775517753 .mobile\:gp-hidden{display:none}}.gps-587361486775517753 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-587361486775517753 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#072036","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","preload":false}},"uid":"gDkC53vbL7"}' data-id="gDkC53vbL7" id="gDkC53vbL7" data-same-height-subgrid-container class="gDkC53vbL7 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:none;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:52px;--pl:0px;--pb:52px;--pr:0px;--pt-tablet:80px;--pl-tablet:25px;--pb-tablet:117px;--pr-tablet:25px;--pt-mobile:24px;--pl-mobile:0px;--pb-mobile:12px;--pr-mobile:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#072036;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g4uQ_YH1pQ gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gDFql7BSfD"}' data-id="gDFql7BSfD" id="gDFql7BSfD" data-same-height-subgrid-container class="gDFql7BSfD gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pl-mobile:0px;--pr-mobile:0px;--mt-tablet:0px;--pl-tablet:0px;--pr-tablet:0px;--cg:8px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gYVYka3_ds gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gTX1SmXRgs"
        class="gTX1SmXRgs"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:14px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-tablet:14px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mb-mobile:28px;--pt-mobile:0px;--pl-mobile:var(--g-s-l);--pb-mobile:0px;--pr-mobile:var(--g-s-l);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1760588783448"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:716px;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-mobile:center;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:400;--ls:-2px;--size:40px;--size-tablet:46px;--size-mobile:38px;--lh:130%;--lh-tablet:130%;--lh-mobile:100%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggTX1SmXRgs_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    <gp-button
      gp-data='{"btnLink":{"link":"/products/seborrheic-dermatitis-cream","target":"_self","type":"open-page"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:26px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:center;--ta-mobile:center" >
        <style>[data-id="gwQhGaG5tU"].gp-button-base::before, [data-id="gwQhGaG5tU-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  border-color: var(--g-c-line-3, line-3);
  
    
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      
  
    }
  
      
  [data-id="gwQhGaG5tU"]:hover::before, [data-id="gwQhGaG5tU-interaction"]:hover::before {
    
    
  }</style>
        
        <a
          data-id="gwQhGaG5tU" dataId="gwQhGaG5tU" data-state="idle" aria-label="<p>Make the Switch</p>"
          
          href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/products/seborrheic-dermatitis-cream" target="_self"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--pl-mobile:48px;--pr-mobile:48px;--pt-mobile:12px;--pb-mobile:12px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--hvr-bblr:8px;--hvr-bbrr:8px;--hvr-btlr:8px;--hvr-btrr:8px;--bgi:;--hvr-bgi:;--hvr-bg:var(--g-c-highlight, highlight);--bg:#134775;--c:var(--g-c-text-3, text-3);--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:500;--ls:-1px;--size:27px;--size-tablet:16px;--size-mobile:20px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%"
          class="gwQhGaG5tU gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:500;--ls:-1px;--size:27px;--size-tablet:16px;--size-mobile:20px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggwQhGaG5tU_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrJJfedA.woff) format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLGT9Z1xlEw.woff) format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLCz7Z1xlEw.woff) format('woff');
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrJJbecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrJJnecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLGT9Z11lFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLGT9Z1JlFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLGT9Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLCz7Z11lFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLCz7Z1JlFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLCz7Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>
    
{% schema %}
  {
    
    "name": "Section 12",
    "tag": "section",
    "class": "gps-587361486775517753 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/feppvi-1c/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=587232609923236409&sectionId=587361486775517753)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggTX1SmXRgs_text","label":"ggTX1SmXRgs_text","default":"So <strong>Zinc’s off the shelves in Europe. Why is it still in your shower?</strong>"},{"type":"html","id":"ggwQhGaG5tU_label","label":"ggwQhGaG5tU_label","default":"<p>Make the Switch</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  