
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-583163771783021529.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-583163771783021529.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-583163771783021529.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-583163771783021529.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-583163771783021529.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-583163771783021529.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-583163771783021529.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-583163771783021529.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-583163771783021529.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-583163771783021529.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-583163771783021529.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-583163771783021529.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-583163771783021529.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-583163771783021529.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-583163771783021529.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-583163771783021529.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-583163771783021529.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-583163771783021529.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-583163771783021529.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-583163771783021529.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-583163771783021529.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-583163771783021529.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-583163771783021529.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-583163771783021529.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-583163771783021529.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-583163771783021529.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-583163771783021529.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-583163771783021529.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-583163771783021529.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-583163771783021529.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-583163771783021529.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-583163771783021529.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-583163771783021529.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-583163771783021529.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-583163771783021529.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-583163771783021529.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-583163771783021529.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-583163771783021529.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-583163771783021529.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-583163771783021529.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-583163771783021529.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-583163771783021529.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-583163771783021529.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-583163771783021529.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-583163771783021529.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-583163771783021529.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-583163771783021529.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-583163771783021529.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-583163771783021529.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-583163771783021529.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-583163771783021529.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-583163771783021529.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-583163771783021529.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-583163771783021529.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-583163771783021529.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-583163771783021529.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-583163771783021529.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-583163771783021529.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-583163771783021529.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-583163771783021529.gps.gpsil [style*="--right:"]{right:var(--right)}.gps-583163771783021529.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-583163771783021529.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-583163771783021529.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-583163771783021529.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-583163771783021529.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-583163771783021529.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-583163771783021529.gps.gpsil [style*="--ai-tablet:"]{align-items:var(--ai-tablet)}.gps-583163771783021529.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-583163771783021529.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-583163771783021529.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-583163771783021529.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-583163771783021529.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-583163771783021529.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-583163771783021529.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-583163771783021529.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-583163771783021529.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-583163771783021529.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-583163771783021529.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-583163771783021529.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-583163771783021529.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-583163771783021529.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-583163771783021529.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-583163771783021529.gps.gpsil [style*="--ai-mobile:"]{align-items:var(--ai-mobile)}.gps-583163771783021529.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-583163771783021529.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-583163771783021529.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-583163771783021529.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-583163771783021529.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-583163771783021529.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-583163771783021529.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-583163771783021529.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-583163771783021529.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-583163771783021529.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-583163771783021529.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-583163771783021529.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-583163771783021529.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-583163771783021529.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-583163771783021529.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-583163771783021529.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-583163771783021529.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-583163771783021529 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-583163771783021529 .gp-relative{position:relative}.gps-583163771783021529 .gp-z-1{z-index:1}.gps-583163771783021529 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-583163771783021529 .gp-mb-0{margin-bottom:0}.gps-583163771783021529 .gp-inline-block{display:inline-block}.gps-583163771783021529 .gp-flex{display:flex}.gps-583163771783021529 .gp-inline-flex{display:inline-flex}.gps-583163771783021529 .gp-grid{display:grid}.gps-583163771783021529 .gp-contents{display:contents}.gps-583163771783021529 .\!gp-hidden{display:none!important}.gps-583163771783021529 .gp-hidden{display:none}.gps-583163771783021529 .gp-h-auto{height:auto}.gps-583163771783021529 .gp-h-full{height:100%}.gps-583163771783021529 .gp-w-full{width:100%}.gps-583163771783021529 .gp-max-w-full{max-width:100%}.gps-583163771783021529 .gp-flex-none{flex:none}.gps-583163771783021529 .gp-shrink-0{flex-shrink:0}.gps-583163771783021529 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-583163771783021529 .gp-flex-row-reverse{flex-direction:row-reverse}.gps-583163771783021529 .gp-flex-col{flex-direction:column}.gps-583163771783021529 .gp-items-center{align-items:center}.gps-583163771783021529 .gp-justify-center{justify-content:center}.gps-583163771783021529 .gp-overflow-hidden{overflow:hidden}.gps-583163771783021529 .gp-break-words{overflow-wrap:break-word}.gps-583163771783021529 .gp-border{border-width:1px}.gps-583163771783021529 .gp-border-transparent{border-color:transparent}.gps-583163771783021529 .gp-text-left{text-align:left}.gps-583163771783021529 .gp-text-center{text-align:center}.gps-583163771783021529 .gp-no-underline{text-decoration-line:none}.gps-583163771783021529 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-583163771783021529 .gp-duration-200{transition-duration:.2s}.gps-583163771783021529 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-583163771783021529 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-583163771783021529 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-583163771783021529 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-583163771783021529 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-583163771783021529 .tablet\:\!gp-hidden{display:none!important}.gps-583163771783021529 .tablet\:gp-hidden{display:none}.gps-583163771783021529 .tablet\:gp-h-auto{height:auto}.gps-583163771783021529 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-583163771783021529 .mobile\:\!gp-hidden{display:none!important}.gps-583163771783021529 .mobile\:gp-hidden{display:none}.gps-583163771783021529 .mobile\:gp-h-auto{height:auto}.gps-583163771783021529 .mobile\:gp-flex-none{flex:none}}.gps-583163771783021529 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-583163771783021529 .\[\&\>svg\]\:\!gp-h-\[var\(--size-desktop\)\]>svg{height:var(--size-desktop)!important}.gps-583163771783021529 .\[\&\>svg\]\:\!gp-w-\[var\(--size-desktop\)\]>svg{width:var(--size-desktop)!important}.gps-583163771783021529 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-583163771783021529 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}.gps-583163771783021529 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--size-tablet\)\]>svg{height:var(--size-tablet)!important}.gps-583163771783021529 .tablet\:\[\&\>svg\]\:\!gp-w-\[var\(--size-tablet\)\]>svg{width:var(--size-tablet)!important}}@media (max-width:767px){.gps-583163771783021529 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}.gps-583163771783021529 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--size-mobile\)\]>svg{height:var(--size-mobile)!important}.gps-583163771783021529 .mobile\:\[\&\>svg\]\:\!gp-w-\[var\(--size-mobile\)\]>svg{width:var(--size-mobile)!important}}.gps-583163771783021529 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-583163771783021529 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gTbOfpnUSA"}' data-id="gTbOfpnUSA" id="gTbOfpnUSA" data-same-height-subgrid-container class="gTbOfpnUSA gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:16px;--pl:20px;--pb:80px;--pr:20px;--pt-mobile:14px;--pl-mobile:20px;--pb-mobile:70px;--pr-mobile:20px;--cg:32px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gJKFV95LS- gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g1eSen_AJp"}' data-id="g1eSen_AJp" id="g1eSen_AJp" data-same-height-subgrid-container class="g1eSen_AJp gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--mb-mobile:0px;--cg:62px;--cg-tablet:30px;--gtc:minmax(0, 9fr) minmax(0, 3fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gbp8bWReaU gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gP8fRtKhHo"
        class="gP8fRtKhHo"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--mb:12px;--mt-mobile:0px;--mb-mobile:10px;--mb-tablet:12px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758558706280"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:35px;--size-tablet:33px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggP8fRtKhHo_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="guBdrZUNty"
        class="guBdrZUNty"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:14px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:16px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758558706280"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:18px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gguBdrZUNty_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-guBdrZUNty">
        .guBdrZUNty {

}
.guBdrZUNty p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gowM9Ar8o4"
        class="gowM9Ar8o4"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:none;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--mb-mobile:14px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758558706280"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:18px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggowM9Ar8o4_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gowM9Ar8o4">
        .gowM9Ar8o4 {

}
.gowM9Ar8o4 p {

}
      </style>
    
    

    

    
    <gp-row gp-data='{"uid":"g1rvqwdzgo"}' data-id="g1rvqwdzgo" id="g1rvqwdzgo" data-same-height-subgrid-container class="g1rvqwdzgo gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="go_W_rjMf_ gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper  class="gfbJzxa3Ai ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      
      uid="gfbJzxa3Ai"
      data-id="gfbJzxa3Ai"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--jc:left"
      className="gfbJzxa3Ai"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":"32"}}'
    >
      
          <div class="gp-flex" style="--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--w:100%;--jc:left">
            <div class="gp-inline-flex gp-flex-col" style="--rg:0px">
              
                    <div
                      key="0"
                      data-index="0"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gfbJzxa3Ai"
                      style="--cg:19px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#5594E7;--w:100%;--h:100%;--size-desktop:32px;--size-tablet:32px;--size-mobile:32px"
                        >
                          <svg height="20" width="20" data-name="leaf-bold" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817580800475496">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M227.42,39.86a12,12,0,0,0-11.28-11.28c-39.6-2.33-74.59,2.34-104,13.87C84,53.48,62.31,70.58,49.39,91.9c-17.62,29.11-17.66,64.45-.45,98.19L31.51,207.52a12,12,0,0,0,17,17l17.43-17.43c16.74,8.54,33.88,12.85,50.45,12.85a91.31,91.31,0,0,0,47.74-13.3c21.32-12.92,38.42-34.62,49.45-62.75C225.08,114.46,229.75,79.46,227.42,39.86ZM151.66,186.08C131.57,198.25,108,199.17,83.94,189l84.54-84.54a12,12,0,1,0-17-17L67,172.06c-10.14-24-9.22-47.63,3-67.72,20.91-34.53,70.54-53.72,134-52.25C205.38,115.53,186.19,165.17,151.66,186.08Z" /></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758558706281"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class="gp-g-paragraph-1 gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text gp-g-paragraph-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--size:18px;--size-tablet:16px;--size-mobile:14px;--c:#000000;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggfbJzxa3Ai_childItem_0 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div> 
                    <div
                      key="1"
                      data-index="1"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gfbJzxa3Ai"
                      style="--cg:19px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#5594E7;--w:100%;--h:100%;--size-desktop:32px;--size-tablet:32px;--size-mobile:32px"
                        >
                          <svg height="20" width="20" data-name="graph-bold" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817577243443560">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M200,152a35.77,35.77,0,0,0-16.46,4l-21.39-16.64A35.49,35.49,0,0,0,164,128.65l10.35-3.44A36,36,0,1,0,164,100c0,1.11.06,2.21.16,3.3l-7.78,2.59A36,36,0,0,0,128,92c-1,0-1.88,0-2.81.12l-4.45-10A36,36,0,1,0,96,92c1,0,1.88,0,2.81-.12l4.45,10a35.91,35.91,0,0,0-8.59,39.7L73.39,160.49a36,36,0,1,0,15.94,17.93l21.28-18.91a35.91,35.91,0,0,0,36.8-1.21L167,173.56A36,36,0,1,0,200,152Zm0-64a12,12,0,1,1-12,12A12,12,0,0,1,200,88ZM84,56A12,12,0,1,1,96,68,12,12,0,0,1,84,56ZM56,204a12,12,0,1,1,12-12A12,12,0,0,1,56,204Zm60-76a12,12,0,1,1,12,12A12,12,0,0,1,116,128Zm84,72a12,12,0,1,1,12-12A12,12,0,0,1,200,200Z" /></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758558706281"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class="gp-g-paragraph-1 gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text gp-g-paragraph-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--size:18px;--size-tablet:16px;--size-mobile:14px;--c:#000000;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggfbJzxa3Ai_childItem_1 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div> 
                    <div
                      key="2"
                      data-index="2"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gfbJzxa3Ai"
                      style="--cg:19px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#5594E7;--w:100%;--h:100%;--size-desktop:32px;--size-tablet:32px;--size-mobile:32px"
                        >
                          <svg height="20" width="20" data-name="flask-filled" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817735019463016">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M221.69,199.77,160,96.92V40h8a8,8,0,0,0,0-16H88a8,8,0,0,0,0,16h8V96.92L34.31,199.77A16,16,0,0,0,48,224H208a16,16,0,0,0,13.72-24.23Zm-90.08-42.91c-15.91-8.05-31.05-12.32-45.22-12.81l24.47-40.8A7.93,7.93,0,0,0,112,99.14V40h32V99.14a7.93,7.93,0,0,0,1.14,4.11L183.36,167C171.4,169.34,154.29,168.34,131.61,156.86Z" /></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758558706281"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class="gp-g-paragraph-1 gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text gp-g-paragraph-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--size:18px;--size-tablet:16px;--size-mobile:14px;--c:#000000;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggfbJzxa3Ai_childItem_2 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div>
            </div>
          </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-icon-list-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="g_PTqqicxq gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gHj9TaMpxu"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:16px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1758558706282 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gHj9TaMpxu"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_562294279301497736-bb65f559-cdf9-46b4-95ae-1d505657d5f9.png" | file_url }}" srcset="{{ "gempages_562294279301497736-bb65f559-cdf9-46b4-95ae-1d505657d5f9.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_562294279301497736-bb65f559-cdf9-46b4-95ae-1d505657d5f9.png" | file_url }}" srcset="{{ "gempages_562294279301497736-bb65f559-cdf9-46b4-95ae-1d505657d5f9.png" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "gempages_562294279301497736-bb65f559-cdf9-46b4-95ae-1d505657d5f9.png" | file_url }}" data-src="{{ "gempages_562294279301497736-bb65f559-cdf9-46b4-95ae-1d505657d5f9.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--radiusType:rounded"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-gHj9TaMpxu">
        .gHj9TaMpxu {

}
.gHj9TaMpxu > figure > img {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    <gp-button
      gp-data='{"btnLink":{"link":"/products/new-aura™-anti-fungal-hair-cream","target":"_self","type":"open-page"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:32px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:28px;--mb-tablet:32px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:center" >
        <style>[data-id="g8S_4JdTZA"].gp-button-base::before, [data-id="g8S_4JdTZA-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #000000;
  
    
      border-bottom-left-radius: 75px;
      border-bottom-right-radius: 75px;
      border-top-left-radius: 75px;
      border-top-right-radius: 75px;
      
  
    }
  
      
  [data-id="g8S_4JdTZA"]:hover::before, [data-id="g8S_4JdTZA-interaction"]:hover::before {
    
    
  }</style>
        
        <a
          data-id="g8S_4JdTZA" dataId="g8S_4JdTZA" data-state="idle" aria-label="GET IT NOW"
          
          href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/products/new-aura™-anti-fungal-hair-cream" target="_self"
          style="--w:483px;--w-tablet:483px;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:15px;--pb:15px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:12px;--pb-mobile:12px;--bblr:75px;--bbrr:75px;--btlr:75px;--btrr:75px;--hvr-bblr:75px;--hvr-bbrr:75px;--hvr-btlr:75px;--hvr-btrr:75px;--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:#FFFFFF;--bg:#B6D8EF;--hvr-c:#242424;--c:#242424;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:21px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%"
          class="g8S_4JdTZA gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex gp-flex-row-reverse">
          
    <span
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:21px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;--ml:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      class="gp-button-icon gp-z-1 gp-inline-flex gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
    >
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817550824440168">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M224.49,136.49l-72,72a12,12,0,0,1-17-17L187,140H40a12,12,0,0,1,0-24H187L135.51,64.48a12,12,0,0,1,17-17l72,72A12,12,0,0,1,224.49,136.49Z" /></svg>
    </span>
  
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:21px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.gg8S_4JdTZA_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
      <style id="custom-css-g8S_4JdTZA">
        button.g8S_4JdTZA {

}
      </style>
    
    

    

    
    <gp-row gp-data='{"uid":"gb9cWtBKBU"}' data-id="gb9cWtBKBU" id="gb9cWtBKBU" data-same-height-subgrid-container class="gb9cWtBKBU gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:32px;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gG3PnFidbw gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gYC8pxveS2"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:32px;--ta:center"
      class="gp-group/image gp-relative force-publish-1758558706284 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gYC8pxveS2"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_562294279301497736-6eea5b4d-4c4d-43fa-8cc5-5d68b8332510.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwMCIgaGVpZ2h0PSI4NTAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEwMDAtODUwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMDAwIiBoZWlnaHQ9Ijg1MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAwMCIgaGVpZ2h0PSI4NTAiIGZpbGw9InVybCgjZy0xMDAwLTg1MCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEwMDAiIHRvPSIxMDAwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_562294279301497736-6eea5b4d-4c4d-43fa-8cc5-5d68b8332510.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwMCIgaGVpZ2h0PSI4NTAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEwMDAtODUwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMDAwIiBoZWlnaHQ9Ijg1MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAwMCIgaGVpZ2h0PSI4NTAiIGZpbGw9InVybCgjZy0xMDAwLTg1MCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEwMDAiIHRvPSIxMDAwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
    
      
      <img
        base-src="{{ "gempages_562294279301497736-6eea5b4d-4c4d-43fa-8cc5-5d68b8332510.png" | file_url }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwMCIgaGVpZ2h0PSI4NTAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEwMDAtODUwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMDAwIiBoZWlnaHQ9Ijg1MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAwMCIgaGVpZ2h0PSI4NTAiIGZpbGw9InVybCgjZy0xMDAwLTg1MCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEwMDAiIHRvPSIxMDAwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" data-src="{{ "gempages_562294279301497736-6eea5b4d-4c4d-43fa-8cc5-5d68b8332510.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gFFiZG_nP6 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gylfupp18O"
        class="gylfupp18O"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--mb:8px;--mt-mobile:0px;--mb-mobile:10px;--mb-tablet:12px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758558706285"
      >
      <div class="gp-flex" style="--jc:left">
        <h3
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:35px;--size-tablet:23px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggylfupp18O_text | replace: '$locationOrigin', locationOrigin }}
        </h3>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g56M-22nW6"
        class="g56M-22nW6"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:32px;--mb-mobile:28px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758558706285"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:18px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg56M-22nW6_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-g56M-22nW6">
        .g56M-22nW6 {

}
.g56M-22nW6 p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gIpy2aIguO"
        class="gIpy2aIguO"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:14px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758558706285"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:18px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggIpy2aIguO_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gIpy2aIguO">
        .gIpy2aIguO {

}
.gIpy2aIguO p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    <div
      role="presentation"
      data-id="ga-YChh2kq"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:14px;--mb-tablet:16px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1758558706286 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto ga-YChh2kq"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_562294279301497736-414c43eb-b2b2-48ee-91ba-a1fdfc23c390.png" | file_url }}" srcset="{{ "gempages_562294279301497736-414c43eb-b2b2-48ee-91ba-a1fdfc23c390.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_562294279301497736-414c43eb-b2b2-48ee-91ba-a1fdfc23c390.png" | file_url }}" srcset="{{ "gempages_562294279301497736-414c43eb-b2b2-48ee-91ba-a1fdfc23c390.png" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "gempages_562294279301497736-414c43eb-b2b2-48ee-91ba-a1fdfc23c390.png" | file_url }}" data-src="{{ "gempages_562294279301497736-414c43eb-b2b2-48ee-91ba-a1fdfc23c390.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--radiusType:rounded"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-ga-YChh2kq">
        .ga-YChh2kq {

}
.ga-YChh2kq > figure > img {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g3RvSVZoRF"
        class="g3RvSVZoRF"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:21px;--mb-mobile:18px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758558706286"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:18px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg3RvSVZoRF_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-g3RvSVZoRF">
        .g3RvSVZoRF {

}
.g3RvSVZoRF p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gjm5r7otMB"
        class="gjm5r7otMB"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--mb:12px;--mt-mobile:0px;--mb-mobile:10px;--mb-tablet:12px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758558706286"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:33px;--size-tablet:33px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggjm5r7otMB_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g-KF-TFGF0"
        class="g-KF-TFGF0"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:48px;--mb-mobile:28px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758558706287"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:18px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg-KF-TFGF0_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-g-KF-TFGF0">
        .g-KF-TFGF0 {

}
.g-KF-TFGF0 p {

}
      </style>
    
    <gp-button
      gp-data='{"btnLink":{"link":"/products/new-aura™-anti-fungal-hair-cream","target":"_self","type":"open-page"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:32px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:28px;--mb-tablet:32px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:center" >
        <style>[data-id="g0eB9FUGBK"].gp-button-base::before, [data-id="g0eB9FUGBK-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #000000;
  
    
      border-bottom-left-radius: 75px;
      border-bottom-right-radius: 75px;
      border-top-left-radius: 75px;
      border-top-right-radius: 75px;
      
  
    }
  
      
  [data-id="g0eB9FUGBK"]:hover::before, [data-id="g0eB9FUGBK-interaction"]:hover::before {
    
    
  }</style>
        
        <a
          data-id="g0eB9FUGBK" dataId="g0eB9FUGBK" data-state="idle" aria-label="<p>Try It Today</p>"
          
          href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/products/new-aura™-anti-fungal-hair-cream" target="_self"
          style="--w:483px;--w-tablet:483px;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:15px;--pb:15px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:12px;--pb-mobile:12px;--bblr:75px;--bbrr:75px;--btlr:75px;--btrr:75px;--hvr-bblr:75px;--hvr-bbrr:75px;--hvr-btlr:75px;--hvr-btrr:75px;--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:#FFFFFF;--bg:#B6D8EF;--hvr-c:#242424;--c:#242424;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:21px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%"
          class="g0eB9FUGBK gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex gp-flex-row-reverse">
          
    <span
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:21px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;--ml:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      class="gp-button-icon gp-z-1 gp-inline-flex gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
    >
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817550824440168">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M224.49,136.49l-72,72a12,12,0,0,1-17-17L187,140H40a12,12,0,0,1,0-24H187L135.51,64.48a12,12,0,0,1,17-17l72,72A12,12,0,0,1,224.49,136.49Z" /></svg>
    </span>
  
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:21px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.gg0eB9FUGBK_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
      <style id="custom-css-g0eB9FUGBK">
        button.g0eB9FUGBK {

}
      </style>
    
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gek7NEd3IL"}' data-id="gek7NEd3IL" id="gek7NEd3IL" data-same-height-subgrid-container class="gek7NEd3IL gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:none;--d-mobile:grid;--d-tablet:none;--op:100%;--pageType:GP_STATIC;--pos:static;--right:0px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:48px;--mb-mobile:42px;--top:80px;--cg:8px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gEQIy1QxKm gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gJHl4FerBN"
        class="gJHl4FerBN"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--mb:12px;--mt-mobile:0px;--mb-mobile:24px;--mb-tablet:12px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758558706289"
      >
      <div class="gp-flex" style="--jc:left">
        <h3
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--ta-mobile:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:23px;--size-tablet:23px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggJHl4FerBN_text | replace: '$locationOrigin', locationOrigin }}
        </h3>
      </div>
    </div>
    
    <div
      role="presentation"
      data-id="getBb_V75z"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--mb:12px;--mb-mobile:12px;--ta:center"
      class="gp-group/image gp-relative force-publish-1758558706289 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto getBb_V75z"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_562294279301497736-c38a193d-9a95-4d4f-9988-ec6a28d7fc51.png" | file_url }}" srcset="{{ "gempages_562294279301497736-c38a193d-9a95-4d4f-9988-ec6a28d7fc51.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_562294279301497736-5893e03e-5620-4e72-84ff-f66e0ab952a3.png" | file_url }}" srcset="{{ "gempages_562294279301497736-5893e03e-5620-4e72-84ff-f66e0ab952a3.png" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "gempages_562294279301497736-5893e03e-5620-4e72-84ff-f66e0ab952a3.png" | file_url }}" data-src="{{ "gempages_562294279301497736-5893e03e-5620-4e72-84ff-f66e0ab952a3.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-getBb_V75z">
        .getBb_V75z {

}
.getBb_V75z > figure > img {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gRpu5SQtRg"
        class="gRpu5SQtRg"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--mb-mobile:24px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758558706289"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggRpu5SQtRg_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gRpu5SQtRg">
        .gRpu5SQtRg {

}
.gRpu5SQtRg p {

}
      </style>
    
    <div
      role="presentation"
      data-id="gePfZ4BUd6"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--mb:12px;--mb-mobile:12px;--ta:center"
      class="gp-group/image gp-relative force-publish-1758558706290 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gePfZ4BUd6"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_562294279301497736-94503ef7-1582-45bb-a835-2a02d91bd09c.jpg" | file_url }}" srcset="{{ "gempages_562294279301497736-94503ef7-1582-45bb-a835-2a02d91bd09c.jpg" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_562294279301497736-83d892a2-e8ad-44d6-a06d-3f600f73c278.png" | file_url }}" srcset="{{ "gempages_562294279301497736-83d892a2-e8ad-44d6-a06d-3f600f73c278.png" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "gempages_562294279301497736-83d892a2-e8ad-44d6-a06d-3f600f73c278.png" | file_url }}" data-src="{{ "gempages_562294279301497736-83d892a2-e8ad-44d6-a06d-3f600f73c278.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-gePfZ4BUd6">
        .gePfZ4BUd6 {

}
.gePfZ4BUd6 > figure > img {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g23SZzrgyC"
        class="g23SZzrgyC"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:80px;--mb-mobile:28px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758558706290"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg23SZzrgyC_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-g23SZzrgyC">
        .g23SZzrgyC {

}
.g23SZzrgyC p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gL5Y5ihH9A"
        class="gL5Y5ihH9A"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--mb:12px;--mt-mobile:0px;--mb-mobile:24px;--mb-tablet:12px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758558706290"
      >
      <div class="gp-flex" style="--jc:left">
        <h3
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--ta-mobile:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:23px;--size-tablet:23px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggL5Y5ihH9A_text | replace: '$locationOrigin', locationOrigin }}
        </h3>
      </div>
    </div>
    
    <div
      role="presentation"
      data-id="gqoZHCNl7I"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--mb:12px;--mb-mobile:12px;--ta:center"
      class="gp-group/image gp-relative force-publish-1758558706290 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gqoZHCNl7I"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_562294279301497736-8be5f8b4-50f4-497b-a3bd-047996f42db6.png" | file_url }}" srcset="{{ "gempages_562294279301497736-8be5f8b4-50f4-497b-a3bd-047996f42db6.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_562294279301497736-f723d19a-c4b4-4e1e-851f-ee8d6e49c6ec.png" | file_url }}" srcset="{{ "gempages_562294279301497736-f723d19a-c4b4-4e1e-851f-ee8d6e49c6ec.png" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "gempages_562294279301497736-f723d19a-c4b4-4e1e-851f-ee8d6e49c6ec.png" | file_url }}" data-src="{{ "gempages_562294279301497736-f723d19a-c4b4-4e1e-851f-ee8d6e49c6ec.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-gqoZHCNl7I">
        .gqoZHCNl7I {

}
.gqoZHCNl7I > figure > img {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gGblz7B37P"
        class="gGblz7B37P"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--mb-mobile:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758558706291"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggGblz7B37P_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gGblz7B37P">
        .gGblz7B37P {

}
.gGblz7B37P p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g_sXLLYzWH"
        class="g_sXLLYzWH"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--mb-mobile:42px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758558706291"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg_sXLLYzWH_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-g_sXLLYzWH">
        .g_sXLLYzWH {

}
.g_sXLLYzWH p {

}
      </style>
    
    <div
      role="presentation"
      data-id="gxZdTBxQK8"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--mb:12px;--mb-mobile:12px;--ta:center"
      class="gp-group/image gp-relative force-publish-1758558706291 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gxZdTBxQK8"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_562294279301497736-b8b13f1d-b843-46f7-928e-c6851646a7a4.png" | file_url }}" srcset="{{ "gempages_562294279301497736-b8b13f1d-b843-46f7-928e-c6851646a7a4.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_562294279301497736-d7a29dfe-0057-42ba-bd39-d6e7a4e07fbe.png" | file_url }}" srcset="{{ "gempages_562294279301497736-d7a29dfe-0057-42ba-bd39-d6e7a4e07fbe.png" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "gempages_562294279301497736-d7a29dfe-0057-42ba-bd39-d6e7a4e07fbe.png" | file_url }}" data-src="{{ "gempages_562294279301497736-d7a29dfe-0057-42ba-bd39-d6e7a4e07fbe.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-gxZdTBxQK8">
        .gxZdTBxQK8 {

}
.gxZdTBxQK8 > figure > img {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="glSqn8ueZs"
        class="glSqn8ueZs"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--mb-mobile:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758558706292"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gglSqn8ueZs_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-glSqn8ueZs">
        .glSqn8ueZs {

}
.glSqn8ueZs p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gUPUZMKd21"
        class="gUPUZMKd21"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--mb-mobile:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758558706292"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggUPUZMKd21_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gUPUZMKd21">
        .gUPUZMKd21 {

}
.gUPUZMKd21 p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start;--d-mobile:none"
      class="gFxz3w_Qqm gp-relative gp-flex gp-flex-col"
    >
      
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-583163771783021529 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/feppvi-1c/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=583163771682292697&sectionId=583163771783021529)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggP8fRtKhHo_text","label":"ggP8fRtKhHo_text","default":"The Modern Formula Built on the Viking Remedy"},{"type":"html","id":"gguBdrZUNty_text","label":"gguBdrZUNty_text","default":"<p>This modern formula is designed to do more than just cover up flakes. It’s built to stop the same fungal enemy that once spread under the hats of hard-working industrial men.</p><p><br><span style=\"color:#000000;font-size:24px;\"><i><strong>Inside the formula :&nbsp;</strong></i></span></p>"},{"type":"html","id":"ggowM9Ar8o4_text","label":"ggowM9Ar8o4_text","default":"<p>This modern formula is designed to do more than just cover up flakes. It’s built to stop the same fungal enemy that once spread under the helmets of warriors.</p><p><br><span style=\"color:#000000;font-size:18px;\"><i><strong>Inside the formula :&nbsp;</strong></i></span></p>"},{"type":"html","id":"ggfbJzxa3Ai_childItem_0","label":"ggfbJzxa3Ai_childItem_0","default":"<p><strong>Camellia Oil</strong> - <i>starves the fungus</i>, penetrates deep to strengthen hair fibers, calms irritation, and locks in lightweight moisture without leaving grease behind.</p>"},{"type":"html","id":"ggfbJzxa3Ai_childItem_1","label":"ggfbJzxa3Ai_childItem_1","default":"<p><strong>Salicylic Acid</strong> — <i>clears away the tough, greasy film that traps fungus on the skin.</i> Exfoliating dead skin and buildup, exposing the root of the problem so it can actually be treated.</p>"},{"type":"html","id":"ggfbJzxa3Ai_childItem_2","label":"ggfbJzxa3Ai_childItem_2","default":"<p><strong>Niacinamide + Ceramides</strong> — <i>rebuild the skin’s natural barrier</i>, stopping the fungus from spreading to your scalp, eyebrows, or behind the ears.</p>"},{"type":"html","id":"gg8S_4JdTZA_label","label":"gg8S_4JdTZA_label","default":"GET IT NOW"},{"type":"html","id":"ggylfupp18O_text","label":"ggylfupp18O_text","default":"Introducing NewAura<strong>&nbsp;</strong>"},{"type":"html","id":"gg56M-22nW6_text","label":"gg56M-22nW6_text","default":"<p>After years of trial, error, and rediscovery, that advanced formula has been made available in an easy-use cream <strong>designed specifically for men dealing with flakes and irritation.</strong></p>"},{"type":"html","id":"ggIpy2aIguO_text","label":"ggIpy2aIguO_text","default":"<p>This isn’t another beard oil or harsh shampoo. It’s a targeted solution that goes straight to the root cause. Cutting off flakes where they start, protecting your skin, and keeping your beard looking clean, strong, and confident.</p>"},{"type":"html","id":"gg3RvSVZoRF_text","label":"gg3RvSVZoRF_text","default":"<p><strong>Thousands have already broken free from the endless cycle of flakes, itch, and irritation.</strong> Proving this modern formula works where oils, shampoos, and even prescriptions fail. Built on the same fungus-fighting secret once trusted by old barbers, it gives today’s men the confidence to face their own battles flake-free.</p>"},{"type":"html","id":"ggjm5r7otMB_text","label":"ggjm5r7otMB_text","default":"Where can I find NewAura for my hair?"},{"type":"html","id":"gg-KF-TFGF0_text","label":"gg-KF-TFGF0_text","default":"<p>While no product can promise that skin issues will never return, <strong>NewAura</strong> is built to give men a dependable way to stay ahead of the problem. Its unique blend is <strong>designed for easy use, helping maintain balance, comfort, and confidence long after the first signs of relief.</strong></p><p>&nbsp;</p><p>You can find <strong>NewAura</strong> exclusively through this official website and trusted retail partners. Discover a reliable solution created to support healthy skin and a flake-free hair for the long run.</p>"},{"type":"html","id":"gg0eB9FUGBK_label","label":"gg0eB9FUGBK_label","default":"<p>Try It Today</p>"},{"type":"html","id":"ggJHl4FerBN_text","label":"ggJHl4FerBN_text","default":"Related posts"},{"type":"html","id":"ggRpu5SQtRg_text","label":"ggRpu5SQtRg_text","default":"<p><a href=\"#\">What is the best product for stopping dandruff?</a></p>"},{"type":"html","id":"gg23SZzrgyC_text","label":"gg23SZzrgyC_text","default":"<p>Top 10 Premium Beard &amp; Scalp Treatments (2025)</p>"},{"type":"html","id":"ggL5Y5ihH9A_text","label":"ggL5Y5ihH9A_text","default":"Success stories"},{"type":"html","id":"ggGblz7B37P_text","label":"ggGblz7B37P_text","default":"<p>“My beard used to itch nonstop and shed flakes everywhere. Within a week of using this cream, the irritation calmed down and the flakes stopped. Now it’s part of my daily routine.”</p>"},{"type":"html","id":"gg_sXLLYzWH_text","label":"gg_sXLLYzWH_text","default":"<p>Mike Jones</p>"},{"type":"html","id":"gglSqn8ueZs_text","label":"gglSqn8ueZs_text","default":"<p><strong>“I was skeptical at first, but this actually did what no other product could. Not only did it clear my beard, but the results lasted. I haven’t had to deal with embarrassing flakes in months.”</strong></p>"},{"type":"html","id":"ggUPUZMKd21_text","label":"ggUPUZMKd21_text","default":"<p>Liam Kilphen</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  