
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-578112558590853906.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-578112558590853906.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-578112558590853906.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-578112558590853906.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-578112558590853906.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-578112558590853906.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-578112558590853906.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-578112558590853906.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-578112558590853906.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-578112558590853906.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-578112558590853906.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-578112558590853906.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-578112558590853906.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-578112558590853906.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-578112558590853906.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-578112558590853906.gps.gpsil [style*="--bbw:"]{border-bottom-width:var(--bbw)}.gps-578112558590853906.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-578112558590853906.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-578112558590853906.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-578112558590853906.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-578112558590853906.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-578112558590853906.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-578112558590853906.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-578112558590853906.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-578112558590853906.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-578112558590853906.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-578112558590853906.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-578112558590853906.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-578112558590853906.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-578112558590853906.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-578112558590853906.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-578112558590853906.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-578112558590853906.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-578112558590853906.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-578112558590853906.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-578112558590853906.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-578112558590853906.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-578112558590853906.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-578112558590853906.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-578112558590853906.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-578112558590853906.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-578112558590853906.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-578112558590853906.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-578112558590853906.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-578112558590853906.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-578112558590853906.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-578112558590853906.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-578112558590853906.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-578112558590853906.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-578112558590853906.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-578112558590853906.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-578112558590853906.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-578112558590853906.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-578112558590853906.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-578112558590853906.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-578112558590853906.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-578112558590853906.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-578112558590853906.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-578112558590853906.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-578112558590853906.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-578112558590853906.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-578112558590853906.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-578112558590853906.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-578112558590853906.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-578112558590853906.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-578112558590853906.gps.gpsil [style*="--bbw-tablet:"]{border-bottom-width:var(--bbw-tablet)}.gps-578112558590853906.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-578112558590853906.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-578112558590853906.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-578112558590853906.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-578112558590853906.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-578112558590853906.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-578112558590853906.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-578112558590853906.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-578112558590853906.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-578112558590853906.gps.gpsil [style*="--bbw-mobile:"]{border-bottom-width:var(--bbw-mobile)}.gps-578112558590853906.gps.gpsil [style*="--bs-mobile:"]{border-style:var(--bs-mobile)}.gps-578112558590853906.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-578112558590853906.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-578112558590853906.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-578112558590853906.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-578112558590853906.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-578112558590853906.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-578112558590853906.gps.gpsil [style*="--objf-mobile:"]{-o-object-fit:var(--objf-mobile);object-fit:var(--objf-mobile)}.gps-578112558590853906.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-578112558590853906.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-578112558590853906.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-578112558590853906.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-578112558590853906.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-578112558590853906.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-578112558590853906 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-578112558590853906 .gp-relative{position:relative}.gps-578112558590853906 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-578112558590853906 .gp-mb-0{margin-bottom:0}.gps-578112558590853906 .gp-block{display:block}.gps-578112558590853906 .gp-inline-block{display:inline-block}.gps-578112558590853906 .gp-flex{display:flex}.gps-578112558590853906 .gp-inline-flex{display:inline-flex}.gps-578112558590853906 .gp-grid{display:grid}.gps-578112558590853906 .gp-contents{display:contents}.gps-578112558590853906 .\!gp-hidden{display:none!important}.gps-578112558590853906 .gp-hidden{display:none}.gps-578112558590853906 .gp-h-auto{height:auto}.gps-578112558590853906 .gp-h-full{height:100%}.gps-578112558590853906 .gp-w-full{width:100%}.gps-578112558590853906 .gp-max-w-full{max-width:100%}.gps-578112558590853906 .gp-flex-none{flex:none}.gps-578112558590853906 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-578112558590853906 .gp-flex-col{flex-direction:column}.gps-578112558590853906 .gp-items-center{align-items:center}.gps-578112558590853906 .gp-justify-start{justify-content:flex-start}.gps-578112558590853906 .gp-justify-center{justify-content:center}.gps-578112558590853906 .gp-overflow-hidden{overflow:hidden}.gps-578112558590853906 .gp-break-words{overflow-wrap:break-word}.gps-578112558590853906 .gp-text-center{text-align:center}.gps-578112558590853906 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-578112558590853906 .gp-no-underline{text-decoration-line:none}.gps-578112558590853906 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-578112558590853906 .gp-duration-200{transition-duration:.2s}.gps-578112558590853906 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-578112558590853906 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-578112558590853906 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-578112558590853906 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-578112558590853906 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-578112558590853906 .tablet\:gp-block{display:block}.gps-578112558590853906 .tablet\:\!gp-hidden{display:none!important}.gps-578112558590853906 .tablet\:gp-hidden{display:none}.gps-578112558590853906 .tablet\:gp-h-auto{height:auto}.gps-578112558590853906 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-578112558590853906 .mobile\:gp-block{display:block}.gps-578112558590853906 .mobile\:\!gp-hidden{display:none!important}.gps-578112558590853906 .mobile\:gp-hidden{display:none}.gps-578112558590853906 .mobile\:gp-h-auto{height:auto}.gps-578112558590853906 .mobile\:gp-flex-none{flex:none}}.gps-578112558590853906 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-578112558590853906 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gDfny_2qI0"}' data-id="gDfny_2qI0" id="gDfny_2qI0" data-same-height-subgrid-container class="gDfny_2qI0 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:none;--d-mobile:none;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-2xl);--pl:0px;--pb:var(--g-s-2xl);--pr:0px;--pt-mobile:8px;--pb-mobile:0px;--pt-tablet:var(--g-s-2xl);--pl-tablet:0px;--pb-tablet:var(--g-s-2xl);--pr-tablet:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g7Sd5AjeW2 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gVgJN7Daz-"}' data-id="gVgJN7Daz-" id="gVgJN7Daz-" data-same-height-subgrid-container class="gVgJN7Daz- gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="glLHd8remV gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"ghsgfsYAtB"}' data-id="ghsgfsYAtB" id="ghsgfsYAtB" data-same-height-subgrid-container class="ghsgfsYAtB gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gXdN7OG0sI gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g4M8FYYrtj"
        class="g4M8FYYrtj"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--mb-mobile:0px;--pt-mobile:var(--g-s-m);--pl-mobile:var(--g-s-m);--pb-mobile:var(--g-s-m);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758558627825"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--size:41px;--size-tablet:46px;--size-mobile:26px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:var(--g-c-text-2, text-2);--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg4M8FYYrtj_text | replace: '$locationOrigin', locationOrigin | downcase }}
        </h2>
      </div>
    </div>
    
    <div
      role="presentation"
      data-id="ggjcMit3cQ"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:13px;--pl-mobile:var(--g-s-l);--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:left;--ta-mobile:left"
      class="gp-group/image gp-relative force-publish-1758558627825 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto ggjcMit3cQ"
    >
      <div
        
        style="border-radius:inherit;--jc:left;--jc-mobile:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_562294279301497736-d0d98eca-8143-4716-8515-2e97951cb964.png" | file_url }}" srcset="{{ "gempages_562294279301497736-d0d98eca-8143-4716-8515-2e97951cb964.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_562294279301497736-d0d98eca-8143-4716-8515-2e97951cb964.png" | file_url }}" srcset="{{ "gempages_562294279301497736-d0d98eca-8143-4716-8515-2e97951cb964.png" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "gempages_562294279301497736-d0d98eca-8143-4716-8515-2e97951cb964.png" | file_url }}" data-src="{{ "gempages_562294279301497736-d0d98eca-8143-4716-8515-2e97951cb964.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:60%;--w-tablet:60%;--w-mobile:45%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gcpvHHUzuy"
        class="gcpvHHUzuy"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:none;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-xl);--pb:var(--g-s-xl);--mb-mobile:16px;--pl-mobile:12px;--pr-mobile:10px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758558627827"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:400;--size:20px;--size-tablet:25px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:150%;--fs:italic;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggcpvHHUzuy_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gD9iFaIkPf"}' data-id="gD9iFaIkPf" id="gD9iFaIkPf" data-same-height-subgrid-container class="gD9iFaIkPf gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:var(--g-s-xl);--mb:var(--g-s-xl);--cg:8px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--o:1"
      class="gY3wyRVDkB gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g04OwYVEr6"
        class="g04OwYVEr6"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--mb-mobile:7px;--pl-mobile:var(--g-s-m);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758558627847"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--size:41px;--size-tablet:46px;--size-mobile:18px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:var(--g-c-text-2, text-2);--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg04OwYVEr6_text | replace: '$locationOrigin', locationOrigin | downcase }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gUN_UkHg7g"
        class="gUN_UkHg7g"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:16px;--pl-mobile:12px;--pr-mobile:10px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758558627848"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:400;--size:20px;--size-tablet:25px;--size-mobile:15px;--lh:130%;--lh-tablet:130%;--lh-mobile:120%;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggUN_UkHg7g_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center;--o:0"
      class="g8G3YGBsD8 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gO4y87S0QY"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:4px;--pl-mobile:var(--g-s-s);--pr-mobile:var(--g-s-s);--ta:center;--ta-mobile:left"
      class="gp-group/image gp-relative force-publish-1758558627848 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gO4y87S0QY"
    >
      <div
        
        style="border-radius:inherit;--jc:center;--jc-mobile:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_562294279301497736-8f37d6db-98fe-430d-b95a-d540a3852b25.png" | file_url }}" srcset="{{ "gempages_562294279301497736-8f37d6db-98fe-430d-b95a-d540a3852b25.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_562294279301497736-70ece39e-5d2f-439d-a188-5cf53aa4a615.gif" | file_url }}" srcset="{{ "gempages_562294279301497736-70ece39e-5d2f-439d-a188-5cf53aa4a615.gif" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "gempages_562294279301497736-70ece39e-5d2f-439d-a188-5cf53aa4a615.gif" | file_url }}" data-src="{{ "gempages_562294279301497736-70ece39e-5d2f-439d-a188-5cf53aa4a615.gif" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:1/1;--aspect-tablet:1/1;--objf:cover;--objf-mobile:cover;--w:70%;--w-tablet:70%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--radiusType:rounded;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gA5le0Ph35"}' data-id="gA5le0Ph35" id="gA5le0Ph35" data-same-height-subgrid-container class="gA5le0Ph35 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:var(--g-s-xl);--mb:var(--g-s-xl);--cg:8px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--o:1"
      class="gYXjHVCo8e gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gyfG66c2gM"
        class="gyfG66c2gM"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--mb-mobile:7px;--pl-mobile:var(--g-s-m);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758558627852"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--size:41px;--size-tablet:46px;--size-mobile:18px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:var(--g-c-text-2, text-2);--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggyfG66c2gM_text | replace: '$locationOrigin', locationOrigin | downcase }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gt8x-SF0RE"
        class="gt8x-SF0RE"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:16px;--pl-mobile:12px;--pr-mobile:10px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758558627853"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:400;--size:20px;--size-tablet:25px;--size-mobile:15px;--lh:130%;--lh-tablet:130%;--lh-mobile:120%;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggt8x-SF0RE_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center;--o:0"
      class="g1GmIlnXGv gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="g05KQY223u"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:4px;--pl-mobile:var(--g-s-s);--pr-mobile:var(--g-s-s);--ta:center;--ta-mobile:left"
      class="gp-group/image gp-relative force-publish-1758558627854 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto g05KQY223u"
    >
      <div
        
        style="border-radius:inherit;--jc:center;--jc-mobile:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_562294279301497736-8f37d6db-98fe-430d-b95a-d540a3852b25.png" | file_url }}" srcset="{{ "gempages_562294279301497736-8f37d6db-98fe-430d-b95a-d540a3852b25.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_562294279301497736-36cc3de1-9928-4bc4-a29d-e7cf08d24885.png" | file_url }}" srcset="{{ "gempages_562294279301497736-36cc3de1-9928-4bc4-a29d-e7cf08d24885.png" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "gempages_562294279301497736-36cc3de1-9928-4bc4-a29d-e7cf08d24885.png" | file_url }}" data-src="{{ "gempages_562294279301497736-36cc3de1-9928-4bc4-a29d-e7cf08d24885.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:1/1;--aspect-tablet:1/1;--objf:cover;--objf-mobile:cover;--w:70%;--w-tablet:70%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--radiusType:rounded;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gCd7Bi39bu"}' data-id="gCd7Bi39bu" id="gCd7Bi39bu" data-same-height-subgrid-container class="gCd7Bi39bu gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:var(--g-s-xl);--mb:var(--g-s-xl);--cg:8px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--o:1"
      class="g1rj-3FR-D gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gjXZQE7Q42"
        class="gjXZQE7Q42"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--mb-mobile:7px;--pl-mobile:var(--g-s-m);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758558627858"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--size:41px;--size-tablet:46px;--size-mobile:18px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:var(--g-c-text-2, text-2);--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggjXZQE7Q42_text | replace: '$locationOrigin', locationOrigin | downcase }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gUmh8D4Lug"
        class="gUmh8D4Lug"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:16px;--pl-mobile:12px;--pr-mobile:10px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758558627859"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:400;--size:20px;--size-tablet:25px;--size-mobile:15px;--lh:130%;--lh-tablet:130%;--lh-mobile:120%;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggUmh8D4Lug_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center;--o:0"
      class="gJVWcp51T9 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gOd-Pbzty2"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:4px;--pl-mobile:var(--g-s-s);--pr-mobile:var(--g-s-s);--ta:center;--ta-mobile:left"
      class="gp-group/image gp-relative force-publish-1758558627860 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gOd-Pbzty2"
    >
      <div
        
        style="border-radius:inherit;--jc:center;--jc-mobile:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_562294279301497736-8f37d6db-98fe-430d-b95a-d540a3852b25.png" | file_url }}" srcset="{{ "gempages_562294279301497736-8f37d6db-98fe-430d-b95a-d540a3852b25.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_562294279301497736-b8b13f1d-b843-46f7-928e-c6851646a7a4.png" | file_url }}" srcset="{{ "gempages_562294279301497736-b8b13f1d-b843-46f7-928e-c6851646a7a4.png" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "gempages_562294279301497736-b8b13f1d-b843-46f7-928e-c6851646a7a4.png" | file_url }}" data-src="{{ "gempages_562294279301497736-b8b13f1d-b843-46f7-928e-c6851646a7a4.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:1/1;--aspect-tablet:1/1;--objf:cover;--objf-mobile:cover;--w:70%;--w-tablet:70%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--radiusType:rounded;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gTzL0WcUpC"}' data-id="gTzL0WcUpC" id="gTzL0WcUpC" data-same-height-subgrid-container class="gTzL0WcUpC gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:var(--g-s-xl);--mb:var(--g-s-xl);--cg:8px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--o:1"
      class="g2vdp5RhSM gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gQMJzAHCOm"
        class="gQMJzAHCOm"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--mb-mobile:7px;--pl-mobile:var(--g-s-m);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758558627863"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--size:41px;--size-tablet:46px;--size-mobile:18px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:var(--g-c-text-2, text-2);--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggQMJzAHCOm_text | replace: '$locationOrigin', locationOrigin | downcase }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gkxLc_tYKQ"
        class="gkxLc_tYKQ"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:16px;--pl-mobile:12px;--pr-mobile:10px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758558627865"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:400;--size:20px;--size-tablet:25px;--size-mobile:15px;--lh:130%;--lh-tablet:130%;--lh-mobile:120%;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggkxLc_tYKQ_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center;--o:0"
      class="g4LKFoI-Hl gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gbzk8y95ow"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:4px;--pl-mobile:var(--g-s-s);--pr-mobile:var(--g-s-s);--ta:center;--ta-mobile:left"
      class="gp-group/image gp-relative force-publish-1758558627865 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gbzk8y95ow"
    >
      <div
        
        style="border-radius:inherit;--jc:center;--jc-mobile:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_562294279301497736-8f37d6db-98fe-430d-b95a-d540a3852b25.png" | file_url }}" srcset="{{ "gempages_562294279301497736-8f37d6db-98fe-430d-b95a-d540a3852b25.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_562294279301497736-2383133e-bb7b-47da-a342-c1b226a4afd7.png" | file_url }}" srcset="{{ "gempages_562294279301497736-2383133e-bb7b-47da-a342-c1b226a4afd7.png" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "gempages_562294279301497736-2383133e-bb7b-47da-a342-c1b226a4afd7.png" | file_url }}" data-src="{{ "gempages_562294279301497736-2383133e-bb7b-47da-a342-c1b226a4afd7.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:1/1;--aspect-tablet:1/1;--objf:cover;--objf-mobile:cover;--w:70%;--w-tablet:70%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--radiusType:rounded;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gm9Z0hO2Rh"}' data-id="gm9Z0hO2Rh" id="gm9Z0hO2Rh" data-same-height-subgrid-container class="gm9Z0hO2Rh gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:var(--g-s-xl);--mb:var(--g-s-xl);--cg:8px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--o:1"
      class="gb6n5NTRZR gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gfFBU8-p00"
        class="gfFBU8-p00"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--mb-mobile:7px;--pl-mobile:var(--g-s-m);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758558627869"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--size:41px;--size-tablet:46px;--size-mobile:18px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:var(--g-c-text-2, text-2);--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggfFBU8-p00_text | replace: '$locationOrigin', locationOrigin | downcase }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gsbGOXogmk"
        class="gsbGOXogmk"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:16px;--pl-mobile:12px;--pr-mobile:10px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758558627870"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:400;--size:20px;--size-tablet:25px;--size-mobile:15px;--lh:130%;--lh-tablet:130%;--lh-mobile:120%;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggsbGOXogmk_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    <gp-button
      gp-data='{"btnLink":{"link":"/products/newaura%E2%84%A2-beard-relief-balm","selectedTab":"products","target":"_self","title":"NewAura™ Beard Relief Balm"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:var(--g-s-2xl);--mb-mobile:17px;--pl-mobile:0px;--pr-mobile:0px;--ta:left" >
        <style>[data-id="glLjpxPgIX"].gp-button-base::before, [data-id="glLjpxPgIX-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
    
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      
  
    }
  
      
  [data-id="glLjpxPgIX"]:hover::before, [data-id="glLjpxPgIX-interaction"]:hover::before {
    
    
  }</style>
        
        <a
          data-id="glLjpxPgIX" dataId="glLjpxPgIX" data-state="idle" aria-label="<p>Get Relief Now</p><p>&nbsp;</p>"
          
          href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/products/newaura%E2%84%A2-beard-relief-balm" target="_self"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-mobile:32px;--pr-mobile:32px;--pt-mobile:12px;--pb-mobile:12px;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--hvr-bblr:10px;--hvr-bbrr:10px;--hvr-btlr:10px;--hvr-btrr:10px;--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:var(--g-c-highlight, highlight);--bg:#001541;--c:var(--g-c-text-3, text-3);--size:24px;--size-tablet:16px;--size-mobile:20px;--weight:bold"
          class="glLjpxPgIX gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 gp-g-paragraph-1"
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--size:24px;--size-tablet:16px;--size-mobile:20px;--weight:bold;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.gglLjpxPgIX_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center;--o:0"
      class="gXJH7ECfXL gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gsJUaSYDw6"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:4px;--pl-mobile:var(--g-s-s);--pr-mobile:var(--g-s-s);--ta:center;--ta-mobile:left"
      class="gp-group/image gp-relative force-publish-1758558627879 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gsJUaSYDw6"
    >
      <div
        
        style="border-radius:inherit;--jc:center;--jc-mobile:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_562294279301497736-8f37d6db-98fe-430d-b95a-d540a3852b25.png" | file_url }}" srcset="{{ "gempages_562294279301497736-8f37d6db-98fe-430d-b95a-d540a3852b25.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_562294279301497736-707cbf78-e42c-43c9-8e6e-4df806721fc9.png" | file_url }}" srcset="{{ "gempages_562294279301497736-707cbf78-e42c-43c9-8e6e-4df806721fc9.png" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "gempages_562294279301497736-707cbf78-e42c-43c9-8e6e-4df806721fc9.png" | file_url }}" data-src="{{ "gempages_562294279301497736-707cbf78-e42c-43c9-8e6e-4df806721fc9.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:1/1;--aspect-tablet:1/1;--objf:cover;--objf-mobile:cover;--w:70%;--w-tablet:70%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--radiusType:rounded;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:12px;--pb:12px;--pt-mobile:12px;--pl-mobile:40px;--pb-mobile:12px;--pr-mobile:40px" class="ga5Ltv1DwF ">
      
    <div data-id="ga5Ltv1DwF" class="gp-flex gp-justify-start">
      <div style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bs-mobile:dashed;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:2px;--t:gp-rotate(0deg);--bc:var(--g-c-line-2, line-2)" class="gp-block tablet:gp-block mobile:gp-block"></div>
      <div class="gp-items-center gp-hidden tablet:gp-hidden mobile:gp-hidden" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:var(--g-c-line-2, line-2);--t:gp-rotate(0deg)">
        <div class="gp-hidden" style="--bc:var(--g-c-line-2, line-2);--bs:solid;--bs-mobile:dashed;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:2px;--minw:100%;--w:100%;--w-tablet:100%;--w-mobile:100%"></div>
        
            <span
              class="gp-inline-flex gp-flex-none gp-items-center gp-justify-center"
              style="--mr:var(--g-s-xs);--w:20px;--h:20px;--t:gp-rotate(0);--c:var(--g-c-text-1, text-1)"
            >
              <svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M428.8 137.6h-86.177a115.52 115.52 0 0 0 2.176-22.4c0-47.914-35.072-83.2-92-83.2-45.314 0-57.002 48.537-75.707 78.784-7.735 12.413-16.994 23.317-25.851 33.253l-.131.146-.129.148C135.662 161.807 127.764 168 120.8 168h-2.679c-5.747-4.952-13.536-8-22.12-8H32c-17.673 0-32 12.894-32 28.8v230.4C0 435.106 14.327 448 32 448h64c8.584 0 16.373-3.048 22.12-8h2.679c28.688 0 67.137 40 127.2 40h21.299c62.542 0 98.8-38.658 99.94-91.145 12.482-17.813 18.491-40.785 15.985-62.791A93.148 93.148 0 0 0 393.152 304H428.8c45.435 0 83.2-37.584 83.2-83.2 0-45.099-38.101-83.2-83.2-83.2zm0 118.4h-91.026c12.837 14.669 14.415 42.825-4.95 61.05 11.227 19.646 1.687 45.624-12.925 53.625 6.524 39.128-10.076 61.325-50.6 61.325H248c-45.491 0-77.21-35.913-120-39.676V215.571c25.239-2.964 42.966-21.222 59.075-39.596 11.275-12.65 21.725-25.3 30.799-39.875C232.355 112.712 244.006 80 252.8 80c23.375 0 44 8.8 44 35.2 0 35.2-26.4 53.075-26.4 70.4h158.4c18.425 0 35.2 16.5 35.2 35.2 0 18.975-16.225 35.2-35.2 35.2zM88 384c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z" /></svg>
            </span>
          
        
            <span
              class="gp-inline-flex gp-flex-none gp-items-center gp-justify-center gp-g-paragraph-1"
              style="--tt:horizontal;--c:var(--g-c-text-1, text-1);--mr:var(--g-s-s);--ml:var(--g-s-s)"
            >
              Title
            </span>
          
        <div class="gp-flex" style="--bc:var(--g-c-line-2, line-2);--bs:solid;--bs-mobile:dashed;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:2px;--minw:100%;--w:100%;--w-tablet:100%;--w-mobile:100%"></div>
      </div>
    </div>
  
      </div>
    </div>

      
    </gp-row>
  
        </section>
      
  
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrJJfedA.woff) format('woff');
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrJJbecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrJJnecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>
    
{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-578112558590853906 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/feppvi-1c/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=578112558490190610&sectionId=578112558590853906)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg4M8FYYrtj_text","label":"gg4M8FYYrtj_text","default":"<span style=\"color:#247EAA;\">5 Brutally Honest Reasons </span><span style=\"color:#000000;\">Men Are Switching to This Cream for Beard Itch, Flakes, and Redness</span>"},{"type":"html","id":"ggcpvHHUzuy_text","label":"ggcpvHHUzuy_text","default":"Trusted by 20,000+ men fed up with beard flakes, irritation, and dry patches."},{"type":"html","id":"gg04OwYVEr6_text","label":"gg04OwYVEr6_text","default":"1. It <i>Kills the Fungus</i>—Not Just the Symptoms"},{"type":"html","id":"ggUN_UkHg7g_text","label":"ggUN_UkHg7g_text","default":"You think it’s just dry skin or maybe irritation from shaving. But if you’re constantly picking at your beard, there’s a high chance it’s something deeper—like a fungal overgrowth feeding on the oils in your skin."},{"type":"html","id":"ggyfG66c2gM_text","label":"ggyfG66c2gM_text","default":"2. Stops the Itch That Makes You Want to Rip Your Face Off"},{"type":"html","id":"ggt8x-SF0RE_text","label":"ggt8x-SF0RE_text","default":"Beard-area dermatitis is <strong>insanely itchy</strong>. Most guys try oils or scrubbing harder—which usually makes it worse. New Aura calms inflammation with soothing ingredients like panthenol and niacinamide while targeting the source of the irritation."},{"type":"html","id":"ggjXZQE7Q42_text","label":"ggjXZQE7Q42_text","default":"3. Doesn’t Leave Your Beard Greasy or Your Skin Dry"},{"type":"html","id":"ggUmh8D4Lug_text","label":"ggUmh8D4Lug_text","default":"Most creams either leave you shiny and greasy—or they dry you out even more.<br>New Aura was built for <strong>bearded skin</strong>: fast-absorbing, non-comedogenic, and designed to hydrate <i>without</i> feeding fungus."},{"type":"html","id":"ggQMJzAHCOm_text","label":"ggQMJzAHCOm_text","default":"4. Keeps Your Beard Growing Instead of Shedding"},{"type":"html","id":"ggkxLc_tYKQ_text","label":"ggkxLc_tYKQ_text","default":"The more you scratch, the more your beard suffers. New Aura breaks the cycle before it leads to thinning, patchiness, or breakouts."},{"type":"html","id":"ggfFBU8-p00_text","label":"ggfFBU8-p00_text","default":"5. Doesn’t Rely on Steroids or Harsh Prescriptions"},{"type":"html","id":"ggsbGOXogmk_text","label":"ggsbGOXogmk_text","default":"Steroids work—until they don’t. Then your skin rebounds, thins, and gets worse.<br>New Aura gives you dermatologist-level results <strong>without</strong> the long-term risks of hydrocortisone."},{"type":"html","id":"gglLjpxPgIX_label","label":"gglLjpxPgIX_label","default":"<p>Get Relief Now</p><p>&nbsp;</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  