
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-587361132105171818.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-587361132105171818.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-587361132105171818.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-587361132105171818.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-587361132105171818.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-587361132105171818.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-587361132105171818.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-587361132105171818.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-587361132105171818.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-587361132105171818.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-587361132105171818.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-587361132105171818.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-587361132105171818.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-587361132105171818.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-587361132105171818.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-587361132105171818.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-587361132105171818.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-587361132105171818.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-587361132105171818.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-587361132105171818.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-587361132105171818.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-587361132105171818.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-587361132105171818.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-587361132105171818.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-587361132105171818.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-587361132105171818.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-587361132105171818.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-587361132105171818.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-587361132105171818.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-587361132105171818.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-587361132105171818.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-587361132105171818.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-587361132105171818.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-587361132105171818.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-587361132105171818.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-587361132105171818.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-587361132105171818.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-587361132105171818.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-587361132105171818.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-587361132105171818.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-587361132105171818.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-587361132105171818.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-587361132105171818.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-587361132105171818.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-587361132105171818.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-587361132105171818.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-587361132105171818.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-587361132105171818.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-587361132105171818.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-587361132105171818.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-587361132105171818.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-587361132105171818.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-587361132105171818.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-587361132105171818.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-587361132105171818.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-587361132105171818.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-587361132105171818.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-587361132105171818.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-587361132105171818.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-587361132105171818.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-587361132105171818.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-587361132105171818.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-587361132105171818.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-587361132105171818.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-587361132105171818.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-587361132105171818.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-587361132105171818.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-587361132105171818.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-587361132105171818.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-587361132105171818.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-587361132105171818.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-587361132105171818.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-587361132105171818.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-587361132105171818.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-587361132105171818.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-587361132105171818.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-587361132105171818.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-587361132105171818.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-587361132105171818.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-587361132105171818.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-587361132105171818.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-587361132105171818.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-587361132105171818.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-587361132105171818.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-587361132105171818.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-587361132105171818.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-587361132105171818.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-587361132105171818.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-587361132105171818.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-587361132105171818.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-587361132105171818.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-587361132105171818.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-587361132105171818.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-587361132105171818.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-587361132105171818.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-587361132105171818.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-587361132105171818.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-587361132105171818.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-587361132105171818.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-587361132105171818.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-587361132105171818.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-587361132105171818.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-587361132105171818 .gp-relative{position:relative}.gps-587361132105171818 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-587361132105171818 .gp-mb-0{margin-bottom:0}.gps-587361132105171818 .gp-inline-block{display:inline-block}.gps-587361132105171818 .gp-flex{display:flex}.gps-587361132105171818 .gp-inline-flex{display:inline-flex}.gps-587361132105171818 .gp-grid{display:grid}.gps-587361132105171818 .gp-contents{display:contents}.gps-587361132105171818 .\!gp-hidden{display:none!important}.gps-587361132105171818 .gp-hidden{display:none}.gps-587361132105171818 .gp-h-auto{height:auto}.gps-587361132105171818 .gp-h-full{height:100%}.gps-587361132105171818 .gp-w-full{width:100%}.gps-587361132105171818 .gp-max-w-full{max-width:100%}.gps-587361132105171818 .gp-flex-none{flex:none}.gps-587361132105171818 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-587361132105171818 .gp-flex-col{flex-direction:column}.gps-587361132105171818 .gp-flex-wrap{flex-wrap:wrap}.gps-587361132105171818 .gp-items-center{align-items:center}.gps-587361132105171818 .gp-justify-center{justify-content:center}.gps-587361132105171818 .gp-overflow-hidden{overflow:hidden}.gps-587361132105171818 .gp-break-words{overflow-wrap:break-word}.gps-587361132105171818 .gp-text-center{text-align:center}.gps-587361132105171818 .gp-leading-\[0\]{line-height:0}.gps-587361132105171818 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-587361132105171818 .gp-no-underline{text-decoration-line:none}.gps-587361132105171818 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-587361132105171818 .gp-duration-200{transition-duration:.2s}.gps-587361132105171818 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-587361132105171818 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-587361132105171818 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-587361132105171818 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-587361132105171818 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-587361132105171818 .tablet\:\!gp-hidden{display:none!important}.gps-587361132105171818 .tablet\:gp-hidden{display:none}.gps-587361132105171818 .tablet\:gp-h-auto{height:auto}.gps-587361132105171818 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-587361132105171818 .mobile\:\!gp-hidden{display:none!important}.gps-587361132105171818 .mobile\:gp-hidden{display:none}.gps-587361132105171818 .mobile\:gp-h-auto{height:auto}.gps-587361132105171818 .mobile\:gp-flex-none{flex:none}}.gps-587361132105171818 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-587361132105171818 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-587361132105171818 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-587361132105171818 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-587361132105171818 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-587361132105171818 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#072036","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","preload":false},"mobile":{"attachment":"scroll","color":"#072036","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g1pEKpo6C3"}' data-id="g1pEKpo6C3" id="g1pEKpo6C3" data-same-height-subgrid-container class="g1pEKpo6C3 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:none;--d-tablet:grid;--op:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pl-tablet:0px;--pt-mobile:28px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#072036;--bgc-mobile:#072036;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gBc-_AyaNZ gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"mobile":{"preload":false,"color":"#072036","type":"color"}},"uid":"goeLUgLcBd"}' data-id="goeLUgLcBd" id="goeLUgLcBd" data-same-height-subgrid-container class="goeLUgLcBd gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt-mobile:24px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--h:100%;--bgc-mobile:#072036;--bgi-mobile:url();--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="g8ZxA0KyRQ gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gjizNzygqC"
        class="gjizNzygqC"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:8px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1760588786867"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-mobile:center;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:600;--ls:-2px;--size:53px;--size-tablet:46px;--size-mobile:30px;--lh:130%;--lh-tablet:130%;--lh-mobile:120%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:0px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggjizNzygqC_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gtz3qd0lgX"
        class="gtz3qd0lgX"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:22px;--mb-tablet:22px;--mb-mobile:16px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1760588786868"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-mobile:center;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:600;--ls:-2px;--size:46px;--size-tablet:46px;--size-mobile:30px;--lh:130%;--lh-tablet:130%;--lh-mobile:120%;--c:#FFFFFF;--tdl:underline;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:0px;overflow:hidden"
        >
          {{ section.settings.ggtz3qd0lgX_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    
    <div data-id="gjvfDR4BoY"  style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:7px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
      <div class="gp-flex gp-flex-wrap" style="--cg:0px;--jc:center;--jc-mobile:center;--ai:center">
            <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="grqfutO5XK ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gG7dbBRLZ0" class="gp-leading-[0] gG7dbBRLZ0" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:left">
      <div data-id="gG7dbBRLZ0" class="icon-wrapper gp-inline-flex gp-overflow-hidden gG7dbBRLZ0 " style="--shadow:none">
      
        <div >
          <span style="--c:#FFBB00;--t:rotate(0deg);--w:16px;--w-tablet:16px;--w-mobile:19px;--h:16px;--h-tablet:16px;--h-mobile:19px;--minw:16px;--minw-tablet:16px;--minw-mobile:19px;--height-desktop:16px;--height-tablet:16px;--height-mobile:19px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg xmlns="http://www.w3.org/2000/svg" data-name="star-filled" width="20" height="20" fill="currentColor" viewBox="0 0 256 256"><path d="m234.29 114.85-45 38.83L203 211.75a16.4 16.4 0 0 1-24.5 17.82L128 198.49l-50.53 31.08A16.4 16.4 0 0 1 53 211.75l13.76-58.07-45-38.83A16.46 16.46 0 0 1 31.08 86l59-4.76 22.76-55.08a16.36 16.36 0 0 1 30.27 0l22.75 55.08 59 4.76a16.46 16.46 0 0 1 9.37 28.86Z"></path></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="g2oRotQfD- ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="g9aC1ztAbE" class="gp-leading-[0] g9aC1ztAbE" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="g9aC1ztAbE" class="icon-wrapper gp-inline-flex gp-overflow-hidden g9aC1ztAbE " style="--shadow:none">
      
        <div >
          <span style="--c:#FFBB00;--t:rotate(0deg);--w:16px;--w-tablet:16px;--w-mobile:19px;--h:16px;--h-tablet:16px;--h-mobile:19px;--minw:16px;--minw-tablet:16px;--minw-mobile:19px;--height-desktop:16px;--height-tablet:16px;--height-mobile:19px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg xmlns="http://www.w3.org/2000/svg" data-name="star-filled" width="20" height="20" fill="currentColor" viewBox="0 0 256 256"><path d="m234.29 114.85-45 38.83L203 211.75a16.4 16.4 0 0 1-24.5 17.82L128 198.49l-50.53 31.08A16.4 16.4 0 0 1 53 211.75l13.76-58.07-45-38.83A16.46 16.46 0 0 1 31.08 86l59-4.76 22.76-55.08a16.36 16.36 0 0 1 30.27 0l22.75 55.08 59 4.76a16.46 16.46 0 0 1 9.37 28.86Z"></path></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="g7ZeYwexTk ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gTcMPK9MNK" class="gp-leading-[0] gTcMPK9MNK" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gTcMPK9MNK" class="icon-wrapper gp-inline-flex gp-overflow-hidden gTcMPK9MNK " style="--shadow:none">
      
        <div >
          <span style="--c:#FFBB00;--t:rotate(0deg);--w:16px;--w-tablet:16px;--w-mobile:19px;--h:16px;--h-tablet:16px;--h-mobile:19px;--minw:16px;--minw-tablet:16px;--minw-mobile:19px;--height-desktop:16px;--height-tablet:16px;--height-mobile:19px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg xmlns="http://www.w3.org/2000/svg" data-name="star-filled" width="20" height="20" fill="currentColor" viewBox="0 0 256 256"><path d="m234.29 114.85-45 38.83L203 211.75a16.4 16.4 0 0 1-24.5 17.82L128 198.49l-50.53 31.08A16.4 16.4 0 0 1 53 211.75l13.76-58.07-45-38.83A16.46 16.46 0 0 1 31.08 86l59-4.76 22.76-55.08a16.36 16.36 0 0 1 30.27 0l22.75 55.08 59 4.76a16.46 16.46 0 0 1 9.37 28.86Z"></path></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="gpaimVV62p ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="g-fhCE3J5i" class="gp-leading-[0] g-fhCE3J5i" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:0px;--ta:left">
      <div data-id="g-fhCE3J5i" class="icon-wrapper gp-inline-flex gp-overflow-hidden g-fhCE3J5i " style="--shadow:none">
      
        <div >
          <span style="--c:#FFBB00;--t:rotate(0deg);--w:16px;--w-tablet:16px;--w-mobile:19px;--h:16px;--h-tablet:16px;--h-mobile:19px;--minw:16px;--minw-tablet:16px;--minw-mobile:19px;--height-desktop:16px;--height-tablet:16px;--height-mobile:19px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg xmlns="http://www.w3.org/2000/svg" data-name="star-filled" width="20" height="20" fill="currentColor" viewBox="0 0 256 256"><path d="m234.29 114.85-45 38.83L203 211.75a16.4 16.4 0 0 1-24.5 17.82L128 198.49l-50.53 31.08A16.4 16.4 0 0 1 53 211.75l13.76-58.07-45-38.83A16.46 16.46 0 0 1 31.08 86l59-4.76 22.76-55.08a16.36 16.36 0 0 1 30.27 0l22.75 55.08 59 4.76a16.46 16.46 0 0 1 9.37 28.86Z"></path></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="gmKxxE0-ZU ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="g3qXL1jBZG" class="gp-leading-[0] g3qXL1jBZG" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="g3qXL1jBZG" class="icon-wrapper gp-inline-flex gp-overflow-hidden g3qXL1jBZG " style="--shadow:none">
      
        <div >
          <span style="--c:#FFBB00;--t:rotate(0deg);--w:16px;--w-tablet:16px;--w-mobile:19px;--h:16px;--h-tablet:16px;--h-mobile:19px;--minw:16px;--minw-tablet:16px;--minw-mobile:19px;--height-desktop:16px;--height-tablet:16px;--height-mobile:19px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" data-name="star-filled" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817759863701864">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M234.29,114.85l-45,38.83L203,211.75a16.4,16.4,0,0,1-24.5,17.82L128,198.49,77.47,229.57A16.4,16.4,0,0,1,53,211.75l13.76-58.07-45-38.83A16.46,16.46,0,0,1,31.08,86l59-4.76,22.76-55.08a16.36,16.36,0,0,1,30.27,0l22.75,55.08,59,4.76a16.46,16.46,0,0,1,9.37,28.86Z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div>
          </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="glE6EdnUCq"
        class="glE6EdnUCq"
        style="--ta:center;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--pt:0px;--pl:var(--g-s-5xl);--pb:0px;--pr:var(--g-s-5xl);--mb-tablet:24px;--pt-tablet:0px;--pl-tablet:var(--g-s-5xl);--pb-tablet:0px;--pr-tablet:var(--g-s-5xl);--mb-mobile:12px;--pt-mobile:0px;--pl-mobile:var(--g-s-3xl);--pb-mobile:0px;--pr-mobile:var(--g-s-3xl);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1760588786873"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:1200px;--w-tablet:1200px;--w-mobile:1200px;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:21px;--size-tablet:16px;--size-mobile:17px;--lh:120%;--lh-tablet:180%;--lh-mobile:120%;--c:#FFFFFF;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gglE6EdnUCq_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <gp-button
      gp-data='{"btnLink":{"link":"/products/seborrheic-dermatitis-cream","target":"_self","type":"open-page"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:10px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-tablet:10px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mb-mobile:8px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:center;--ta-mobile:center" >
        <style>[data-id="gHdFVrqAHj"].gp-button-base::before, [data-id="gHdFVrqAHj-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  border-color: var(--g-c-line-3, line-3);
  
    
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      
  
    }
  
      
  [data-id="gHdFVrqAHj"]:hover::before, [data-id="gHdFVrqAHj-interaction"]:hover::before {
    
    
  }</style>
        
        <a
          data-id="gHdFVrqAHj" dataId="gHdFVrqAHj" data-state="idle" aria-label="<p>SHOP NOW</p>"
          
          href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/products/seborrheic-dermatitis-cream" target="_self"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:80px;--pr:80px;--pt:12px;--pb:12px;--pl-mobile:80px;--pr-mobile:80px;--pt-mobile:12px;--pb-mobile:12px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--hvr-bblr:8px;--hvr-bbrr:8px;--hvr-btlr:8px;--hvr-btrr:8px;--bgi:;--hvr-bgi:;--hvr-bg:var(--g-c-highlight, highlight);--bg:rgba(70, 99, 244, 0.52);--c:var(--g-c-text-3, text-3);--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:500;--ls:-1px;--size:25px;--size-tablet:16px;--size-mobile:20px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%"
          class="gHdFVrqAHj gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:500;--ls:-1px;--size:25px;--size-tablet:16px;--size-mobile:20px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggHdFVrqAHj_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="guSZQmqeC3"
        class="guSZQmqeC3"
        style="--ta:center;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:16px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1760588786878"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:1200px;--w-tablet:1200px;--w-mobile:1200px;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:17px;--size-tablet:16px;--size-mobile:15px;--lh:180%;--lh-tablet:180%;--lh-mobile:120%;--c:#FFFFFF;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gguSZQmqeC3_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gvEgLf4EdY gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gsGEZmFkAD"
      style="--mb-mobile:28px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center"
      class="gp-group/image gp-relative force-publish-1760588786879 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gsGEZmFkAD"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_562294279301497736-f107c38d-084c-4d5c-b932-e66847c10046.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUyOSIgaGVpZ2h0PSIyOTciIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE1MjktMjk3Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxNTI5IiBoZWlnaHQ9IjI5NyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTUyOSIgaGVpZ2h0PSIyOTciIGZpbGw9InVybCgjZy0xNTI5LTI5NykiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE1MjkiIHRvPSIxNTI5IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_562294279301497736-ccbceeeb-0b3c-4c21-82f9-c2b5a1444ffd.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTEwODAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTA4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiBmaWxsPSJ1cmwoI2ctMTA4MC0xMDgwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "gempages_562294279301497736-ccbceeeb-0b3c-4c21-82f9-c2b5a1444ffd.png" | file_url }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTEwODAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTA4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiBmaWxsPSJ1cmwoI2ctMTA4MC0xMDgwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "gempages_562294279301497736-ccbceeeb-0b3c-4c21-82f9-c2b5a1444ffd.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:85%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--btrr:8px;--bblr:8px;--bbrr:8px;--btlr:8px;--radiusType:rounded;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrJJfedA.woff) format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLGT9Z1xlEw.woff) format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLEj6Z1xlEw.woff) format('woff');
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrJJbecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrJJnecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLGT9Z11lFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLGT9Z1JlFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLGT9Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLEj6Z11lFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLEj6Z1JlFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLEj6Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>
    
{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-587361132105171818 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/feppvi-1c/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=587232609923236409&sectionId=587361132105171818)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggjizNzygqC_text","label":"ggjizNzygqC_text","default":"Men Are Ditching Zinc Pyrithione&nbsp;Shampoos."},{"type":"html","id":"ggtz3qd0lgX_text","label":"ggtz3qd0lgX_text","default":"Here's Why:"},{"type":"html","id":"gglE6EdnUCq_text","label":"gglE6EdnUCq_text","default":"<p>\"<u>Saw a noticeable change in my hair</u>.. and doesn't smell like other dandruff shampoos\"</p>"},{"type":"html","id":"ggHdFVrqAHj_label","label":"ggHdFVrqAHj_label","default":"<p>SHOP NOW</p>"},{"type":"html","id":"gguSZQmqeC3_text","label":"gguSZQmqeC3_text","default":"<p>30 Day Guarantee + Free Shipping</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  