
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-587232610058109497.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-587232610058109497.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-587232610058109497.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-587232610058109497.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-587232610058109497.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-587232610058109497.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-587232610058109497.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-587232610058109497.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-587232610058109497.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-587232610058109497.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-587232610058109497.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-587232610058109497.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-587232610058109497.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-587232610058109497.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-587232610058109497.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-587232610058109497.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-587232610058109497.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-587232610058109497.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-587232610058109497.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-587232610058109497.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-587232610058109497.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-587232610058109497.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-587232610058109497.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-587232610058109497.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-587232610058109497.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-587232610058109497.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-587232610058109497.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-587232610058109497.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-587232610058109497.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-587232610058109497.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-587232610058109497.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-587232610058109497.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-587232610058109497.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-587232610058109497.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-587232610058109497.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-587232610058109497.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-587232610058109497.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-587232610058109497.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-587232610058109497.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-587232610058109497.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-587232610058109497.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-587232610058109497.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-587232610058109497.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-587232610058109497.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-587232610058109497.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-587232610058109497.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-587232610058109497.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-587232610058109497.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-587232610058109497.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-587232610058109497.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-587232610058109497.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-587232610058109497.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-587232610058109497.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-587232610058109497.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-587232610058109497.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-587232610058109497.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-587232610058109497.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-587232610058109497.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-587232610058109497.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-587232610058109497.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-587232610058109497.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-587232610058109497.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-587232610058109497.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-587232610058109497.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-587232610058109497.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-587232610058109497.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-587232610058109497.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-587232610058109497.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-587232610058109497.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-587232610058109497.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-587232610058109497.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-587232610058109497.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-587232610058109497.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-587232610058109497.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-587232610058109497.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-587232610058109497.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-587232610058109497.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-587232610058109497.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-587232610058109497.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-587232610058109497.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-587232610058109497.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-587232610058109497.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-587232610058109497.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-587232610058109497.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-587232610058109497.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-587232610058109497.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-587232610058109497.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-587232610058109497.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-587232610058109497.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-587232610058109497.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-587232610058109497.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-587232610058109497.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-587232610058109497 .gp-relative{position:relative}.gps-587232610058109497 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-587232610058109497 .gp-mb-0{margin-bottom:0}.gps-587232610058109497 .gp-inline-block{display:inline-block}.gps-587232610058109497 .gp-flex{display:flex}.gps-587232610058109497 .gp-inline-flex{display:inline-flex}.gps-587232610058109497 .gp-grid{display:grid}.gps-587232610058109497 .gp-contents{display:contents}.gps-587232610058109497 .\!gp-hidden{display:none!important}.gps-587232610058109497 .gp-hidden{display:none}.gps-587232610058109497 .gp-h-auto{height:auto}.gps-587232610058109497 .gp-h-full{height:100%}.gps-587232610058109497 .gp-w-full{width:100%}.gps-587232610058109497 .gp-max-w-full{max-width:100%}.gps-587232610058109497 .gp-flex-none{flex:none}.gps-587232610058109497 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-587232610058109497 .gp-flex-col{flex-direction:column}.gps-587232610058109497 .gp-items-center{align-items:center}.gps-587232610058109497 .gp-justify-center{justify-content:center}.gps-587232610058109497 .gp-overflow-hidden{overflow:hidden}.gps-587232610058109497 .gp-break-words{overflow-wrap:break-word}.gps-587232610058109497 .gp-text-center{text-align:center}.gps-587232610058109497 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-587232610058109497 .gp-no-underline{text-decoration-line:none}.gps-587232610058109497 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-587232610058109497 .gp-duration-200{transition-duration:.2s}.gps-587232610058109497 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-587232610058109497 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-587232610058109497 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-587232610058109497 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-587232610058109497 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-587232610058109497 .tablet\:\!gp-hidden{display:none!important}.gps-587232610058109497 .tablet\:gp-hidden{display:none}.gps-587232610058109497 .tablet\:gp-h-auto{height:auto}.gps-587232610058109497 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-587232610058109497 .mobile\:\!gp-hidden{display:none!important}.gps-587232610058109497 .mobile\:gp-hidden{display:none}.gps-587232610058109497 .mobile\:gp-h-auto{height:auto}.gps-587232610058109497 .mobile\:gp-flex-none{flex:none}}.gps-587232610058109497 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-587232610058109497 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"},"mobile":{"attachment":"scroll","color":"rgba(7, 32, 54, 0.09)","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","preload":false}},"uid":"gLCu9ud6Gr"}' data-id="gLCu9ud6Gr" id="gLCu9ud6Gr" data-same-height-subgrid-container class="gLCu9ud6Gr gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:none;--d-mobile:grid;--d-tablet:none;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:80px;--pb:117px;--pt-mobile:24px;--pl-mobile:0px;--pb-mobile:12px;--pr-mobile:0px;--pt-tablet:80px;--pl-tablet:25px;--pb-tablet:117px;--pr-tablet:25px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgc-mobile:rgba(7, 32, 54, 0.09);--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gxFsAQTlno gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gKSrjo5MQD"}' data-id="gKSrjo5MQD" id="gKSrjo5MQD" data-same-height-subgrid-container class="gKSrjo5MQD gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pl-mobile:0px;--pr-mobile:0px;--mt-tablet:0px;--pl-tablet:0px;--pr-tablet:0px;--cg:8px;--gtc:minmax(0, 12fr);--w:716px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g0eg60OnHH gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="g3wKLjY_Ze"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--ta:center"
      class="gp-group/image gp-relative force-publish-1760588781217 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto g3wKLjY_Ze"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_562294279301497736-ea8c42d2-135a-485e-a8d8-bd99098e20d0.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUzNiIgaGVpZ2h0PSIxMDI0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNTM2LTEwMjQiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE1MzYiIGhlaWdodD0iMTAyNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTUzNiIgaGVpZ2h0PSIxMDI0IiBmaWxsPSJ1cmwoI2ctMTUzNi0xMDI0KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTUzNiIgdG89IjE1MzYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/2005/9307/files/image_demo_1024x.jpg" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="https://cdn.shopify.com/s/files/1/2005/9307/files/image_demo.jpg" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="https://cdn.shopify.com/s/files/1/2005/9307/files/image_demo.jpg"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:95%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--radiusType:rounded;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="giAHEDHGLe"
        class="giAHEDHGLe"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:26px;--pt-mobile:0px;--pl-mobile:var(--g-s-l);--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1760588781219"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:716px;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:left;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:600;--ls:-2px;--size:46px;--size-tablet:46px;--size-mobile:28px;--lh:130%;--lh-tablet:130%;--lh-mobile:100%;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggiAHEDHGLe_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gBa4elAr7f"
        class="gBa4elAr7f"
        style="--ta:center;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:28px;--pt-mobile:0px;--pl-mobile:var(--g-s-l);--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1760588781220"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:716px;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:17px;--lh:180%;--lh-tablet:180%;--lh-mobile:130%;--c:#000000;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggBa4elAr7f_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <gp-button
      gp-data='{"btnLink":{"link":"/products/seborrheic-dermatitis-cream","target":"_self","type":"open-page"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:26px;--pt-mobile:0px;--pl-mobile:15px;--pb-mobile:0px;--pr-mobile:0px;--ta:left;--ta-mobile:left" >
        <style>[data-id="gxKOLu1mci"].gp-button-base::before, [data-id="gxKOLu1mci-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  border-color: var(--g-c-line-3, line-3);
  
    
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
  
    }
  
      
  [data-id="gxKOLu1mci"]:hover::before, [data-id="gxKOLu1mci-interaction"]:hover::before {
    
    
  }</style>
        
        <a
          data-id="gxKOLu1mci" dataId="gxKOLu1mci" data-state="idle" aria-label="<p>Buy today for $20</p>"
          
          href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/products/seborrheic-dermatitis-cream" target="_self"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--pl-mobile:48px;--pr-mobile:48px;--pt-mobile:12px;--pb-mobile:12px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--bgi:;--hvr-bgi:;--hvr-bg:var(--g-c-highlight, highlight);--bg:#072036;--c:var(--g-c-text-3, text-3);--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--ls:-1px;--size:16px;--size-tablet:16px;--size-mobile:20px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%"
          class="gxKOLu1mci gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--ls:-1px;--size:16px;--size-tablet:16px;--size-mobile:20px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggxKOLu1mci_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrJJfedA.woff) format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLEj6Z1xlEw.woff) format('woff');
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrJJbecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrJJnecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLEj6Z11lFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLEj6Z1JlFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLEj6Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>
    
{% schema %}
  {
    
    "name": "Section 7",
    "tag": "section",
    "class": "gps-587232610058109497 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/feppvi-1c/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=587232609923236409&sectionId=587232610058109497)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggiAHEDHGLe_text","label":"ggiAHEDHGLe_text","default":"<strong>Reason #2: Pyroctone Olamine Works </strong><i><strong>With</strong></i><strong> Your Scalp, Not Against It</strong>"},{"type":"html","id":"ggBa4elAr7f_text","label":"ggBa4elAr7f_text","default":"<p>Salicylic Acid gently exfoliates dead skin and buildup, while Piroctone Olamine helps stop the fungus that fuels flakes from coming back.&nbsp;</p><p>&nbsp;</p><p>The result?</p><p><br><strong>Cleaner roots.</strong></p><p><strong>Healthier hair.</strong></p><p><strong>Fewer flakes.</strong></p>"},{"type":"html","id":"ggxKOLu1mci_label","label":"ggxKOLu1mci_label","default":"<p>Buy today for $20</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  