
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-572444065434436760.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-572444065434436760.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-572444065434436760.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-572444065434436760.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-572444065434436760.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-572444065434436760.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-572444065434436760.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-572444065434436760.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-572444065434436760.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-572444065434436760.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-572444065434436760.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-572444065434436760.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-572444065434436760.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-572444065434436760.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-572444065434436760.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-572444065434436760.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-572444065434436760.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-572444065434436760.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-572444065434436760.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-572444065434436760.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-572444065434436760.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-572444065434436760.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-572444065434436760.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-572444065434436760.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-572444065434436760.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-572444065434436760.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-572444065434436760.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-572444065434436760.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-572444065434436760.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-572444065434436760.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-572444065434436760.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-572444065434436760.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-572444065434436760.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-572444065434436760.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-572444065434436760.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-572444065434436760.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-572444065434436760.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-572444065434436760.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-572444065434436760.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-572444065434436760.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-572444065434436760.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-572444065434436760.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-572444065434436760.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-572444065434436760.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-572444065434436760.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-572444065434436760.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-572444065434436760.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-572444065434436760.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-572444065434436760.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-572444065434436760.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-572444065434436760.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-572444065434436760.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-572444065434436760.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-572444065434436760.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-572444065434436760.gps.gpsil [style*="--jc-tablet:"]{justify-content:var(--jc-tablet)}.gps-572444065434436760.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-572444065434436760.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-572444065434436760.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-572444065434436760.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-572444065434436760.gps.gpsil [style*="--bblr-mobile:"]{border-bottom-left-radius:var(--bblr-mobile)}.gps-572444065434436760.gps.gpsil [style*="--bbrr-mobile:"]{border-bottom-right-radius:var(--bbrr-mobile)}.gps-572444065434436760.gps.gpsil [style*="--btlr-mobile:"]{border-top-left-radius:var(--btlr-mobile)}.gps-572444065434436760.gps.gpsil [style*="--btrr-mobile:"]{border-top-right-radius:var(--btrr-mobile)}.gps-572444065434436760.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-572444065434436760.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-572444065434436760.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-572444065434436760.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-572444065434436760.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-572444065434436760.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-572444065434436760.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-572444065434436760.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-572444065434436760.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-572444065434436760.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-572444065434436760.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-572444065434436760.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-572444065434436760.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-572444065434436760.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-572444065434436760 .gp-relative{position:relative}.gps-572444065434436760 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-572444065434436760 .gp-mb-0{margin-bottom:0}.gps-572444065434436760 .gp-flex{display:flex}.gps-572444065434436760 .gp-grid{display:grid}.gps-572444065434436760 .\!gp-hidden{display:none!important}.gps-572444065434436760 .gp-hidden{display:none}.gps-572444065434436760 .gp-w-full{width:100%}.gps-572444065434436760 .gp-max-w-full{max-width:100%}.gps-572444065434436760 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-572444065434436760 .gp-flex-col{flex-direction:column}.gps-572444065434436760 .gp-overflow-hidden{overflow:hidden}.gps-572444065434436760 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-572444065434436760 .gp-duration-200{transition-duration:.2s}.gps-572444065434436760 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-572444065434436760 .tablet\:\!gp-hidden{display:none!important}.gps-572444065434436760 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-572444065434436760 .mobile\:\!gp-hidden{display:none!important}.gps-572444065434436760 .mobile\:gp-hidden{display:none}}.gps-572444065434436760 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px))"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gCVWN4cktv"}' data-id="gCVWN4cktv" id="gCVWN4cktv" data-same-height-subgrid-container class="gCVWN4cktv gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:none;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--pt-mobile:0px;--pl-mobile:12px;--pb-mobile:var(--g-s-2xl);--pr-mobile:12px;--cg:32px;--gtc:minmax(0, 12fr);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gXQTKtVlnZ gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gcwhgSSq9W"}' data-id="gcwhgSSq9W" id="gcwhgSSq9W" data-same-height-subgrid-container class="gcwhgSSq9W gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--o:1"
      class="g9poyRhh6l gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gYvzQxQYbm"
        class="gYvzQxQYbm"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:0px;--pl-mobile:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758558405342"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:center;--ta-mobile:center;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--size:46px;--size-tablet:46px;--size-mobile:23px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:var(--g-c-text-2, text-2);--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggYvzQxQYbm_text | replace: '$locationOrigin', locationOrigin | downcase }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gYhD6kEO3W"
        class="gYhD6kEO3W"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:20px;--mb-mobile:12px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758558405343"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:20px;--size-tablet:20px;--size-mobile:15px;--lh:180%;--lh-tablet:180%;--lh-mobile:150%;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggYhD6kEO3W_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bblr-mobile:0px;--bbrr-mobile:0px;--btlr-mobile:0px;--btrr-mobile:0px;--ml-mobile:auto;--mb-mobile:26px;--mr-mobile:auto;--pl-mobile:0px;--pr-mobile:0px" class="gz1VfrJu60 ">
      
    <div class="gp-flex gp-w-full gp-overflow-hidden" style="border-radius:inherit">
      
    <gp-image-comparison
      data-id="gz1VfrJu60"
      style="--jc:center;--jc-tablet:center;--jc-mobile:center"
      class="gp-w-full gp-flex"
      gp-data='{"hover":false,"handle":null,"vertical":false,"leftImage":{"backupFileKey":"gempages_562294279301497736-0a8cbc0b-42e8-45e0-84f7-eadbb8609577.png","height":1080,"src":"https://cdn.shopify.com/s/files/1/0930/1550/7240/files/gempages_562294279301497736-0a8cbc0b-42e8-45e0-84f7-eadbb8609577.png","storage":"FILE_CONTENT","width":1080},"rightImage":{"backupFileKey":"gempages_562294279301497736-cf560b82-5027-4cb6-a35c-09ed9243f030.png","height":1080,"src":"https://cdn.shopify.com/s/files/1/0930/1550/7240/files/gempages_562294279301497736-cf560b82-5027-4cb6-a35c-09ed9243f030.png","storage":"FILE_CONTENT","width":1080},"handleSize":40,"aspectRatio":{"desktop":"1","tablet":"1","mobile":"4/3"},"defaultRatio":"1080/1080","componentUid":"gz1VfrJu60","leftImageCss":{},"rightImageCss":{},"sliderLineColor":"#ffffff","sliderLineWidth":2,"sliderPositionPercentage":0.5}'
    >
      <div id="img-comparison-wrapper-gz1VfrJu60" style="--w:40%;--w-tablet:50%;--w-mobile:50%">
        <div
          id="img-comparison-container-gz1VfrJu60"
          data-testid="container"
          style="height:auto;overflow:hidden;position:relative;box-sizing:border-box;display:block;--aspect:1;--aspect-tablet:1;--aspect-mobile:4/3"
        >
          
      <img alt="" src width="1080" height="1080" data-testid="temp-image" style="--pos:static;--op:0;--aspect:1;--aspect-tablet:1;--aspect-mobile:4/3" />
    
          
    <img
      data-testid="right-image" width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="{{ "gempages_562294279301497736-cf560b82-5027-4cb6-a35c-09ed9243f030.png" | file_url }}" isNotLazyload="true" srcset loading="eager" fetchpriority="high"
      id="right-image-gz1VfrJu60"
      style="top:0;width:100%;height:100%;display:block;position:absolute;--objf:cover"
      
    />
          
    <img
      data-testid="left-image" width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="{{ "gempages_562294279301497736-0a8cbc0b-42e8-45e0-84f7-eadbb8609577.png" | file_url }}" isNotLazyload="true" srcset loading="eager" fetchpriority="high"
      id="left-image-gz1VfrJu60"
      style="top:0;width:100%;height:100%;display:block;position:absolute;--objf:cover"
      
    />
          
    <div id="image-comparison-slider-gz1VfrJu60" style="z-index:2;display:flex;position:absolute;align-items:center;justify-content:center;cursor:ew-resize;flex-direction:column;height:100%;width:40px">
      <div style="display:block;flex:0 1 auto;background:#ffffff;box-shadow:0px 0px 4px 0px rgba(0, 0, 0, 0.40);height:100%;width:2px"></div>
      <div style="display:flex;flex:1 0 auto;align-items:center;box-sizing:border-box;justify-content:center;border-radius:100%;width:40px;height:40px;box-shadow:0px 0px 4px 0px rgba(0, 0, 0, 0.40);transform:none;border:2px solid #ffffff">
          <svg
            style="filter:drop-shadow(rgba(0, 0, 0, 0.4) 0px 0px 4px);margin:0 2px 0 0"
            width="6" height="12"
            viewBox="0 0 6 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M0 6L6 0V12L0 6Z" fill="white"/>
          </svg>
          <svg
            style="filter:drop-shadow(rgba(0, 0, 0, 0.4) 0px 0px 4px);margin:0 0 0 2px"
            width="6"
            height="12"
            viewBox="0 0 6 12" fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M6 6L0 12V0L6 6Z" fill="white"/>
          </svg>
        </div>
      <div style="display:block;flex:0 1 auto;background:#ffffff;box-shadow:0px 0px 4px 0px rgba(0, 0, 0, 0.40);height:100%;width:2px"></div>
    </div>
  
          
          
        </div>
      </div>
    </gp-image-comparison>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-image-comparison-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
  
      </div>
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrJJfedA.woff) format('woff');
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrJJbecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrJJnecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>
    
{% schema %}
  {
    
    "name": "Section 5",
    "tag": "section",
    "class": "gps-572444065434436760 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/feppvi-1c/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=572439763001279712&sectionId=572444065434436760)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggYvzQxQYbm_text","label":"ggYvzQxQYbm_text","default":"The results?"},{"type":"html","id":"ggYhD6kEO3W_text","label":"ggYhD6kEO3W_text","default":"<p>A clean, flake-free, itch-free beard you're actually proud to grow.</p>"},{"type":"html","id":"ggz1VfrJu60_leftImageLabel","label":"ggz1VfrJu60_leftImageLabel","default":"Before"},{"type":"html","id":"ggz1VfrJu60_rightImageLabel","label":"ggz1VfrJu60_rightImageLabel","default":"After"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  