
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-577161882813662193.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-577161882813662193.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-577161882813662193.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-577161882813662193.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-577161882813662193.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-577161882813662193.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-577161882813662193.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-577161882813662193.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-577161882813662193.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-577161882813662193.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-577161882813662193.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-577161882813662193.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-577161882813662193.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-577161882813662193.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-577161882813662193.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-577161882813662193.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-577161882813662193.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-577161882813662193.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-577161882813662193.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-577161882813662193.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-577161882813662193.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-577161882813662193.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-577161882813662193.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-577161882813662193.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-577161882813662193.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-577161882813662193.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-577161882813662193.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-577161882813662193.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-577161882813662193.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-577161882813662193.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-577161882813662193.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-577161882813662193.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-577161882813662193.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-577161882813662193.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-577161882813662193.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-577161882813662193.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-577161882813662193.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-577161882813662193.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-577161882813662193.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-577161882813662193.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-577161882813662193.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-577161882813662193.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-577161882813662193.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-577161882813662193.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-577161882813662193.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-577161882813662193.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-577161882813662193.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-577161882813662193.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-577161882813662193.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-577161882813662193.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-577161882813662193.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-577161882813662193.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-577161882813662193.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-577161882813662193.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-577161882813662193.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-577161882813662193.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-577161882813662193.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-577161882813662193.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-577161882813662193.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-577161882813662193.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-577161882813662193.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-577161882813662193.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-577161882813662193.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-577161882813662193.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-577161882813662193.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-577161882813662193.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-577161882813662193.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-577161882813662193 .gp-relative{position:relative}.gps-577161882813662193 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-577161882813662193 .gp-mb-0{margin-bottom:0}.gps-577161882813662193 .gp-inline-block{display:inline-block}.gps-577161882813662193 .gp-flex{display:flex}.gps-577161882813662193 .gp-grid{display:grid}.gps-577161882813662193 .gp-contents{display:contents}.gps-577161882813662193 .\!gp-hidden{display:none!important}.gps-577161882813662193 .gp-hidden{display:none}.gps-577161882813662193 .gp-h-auto{height:auto}.gps-577161882813662193 .gp-h-full{height:100%}.gps-577161882813662193 .gp-w-full{width:100%}.gps-577161882813662193 .gp-max-w-full{max-width:100%}.gps-577161882813662193 .gp-flex-none{flex:none}.gps-577161882813662193 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-577161882813662193 .gp-flex-col{flex-direction:column}.gps-577161882813662193 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-577161882813662193 .gp-duration-200{transition-duration:.2s}.gps-577161882813662193 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-577161882813662193 .tablet\:\!gp-hidden{display:none!important}.gps-577161882813662193 .tablet\:gp-hidden{display:none}.gps-577161882813662193 .tablet\:gp-h-auto{height:auto}.gps-577161882813662193 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-577161882813662193 .mobile\:\!gp-hidden{display:none!important}.gps-577161882813662193 .mobile\:gp-hidden{display:none}.gps-577161882813662193 .mobile\:gp-h-auto{height:auto}.gps-577161882813662193 .mobile\:gp-flex-none{flex:none}}.gps-577161882813662193 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gVxDbhGPlc"}' data-id="gVxDbhGPlc" id="gVxDbhGPlc" data-same-height-subgrid-container class="gVxDbhGPlc gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pl:15px;--pb:60px;--pr:15px;--pl-mobile:15px;--pb-mobile:36px;--pr-mobile:15px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gw8yN1_Xme gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"ga6nwP80SV"}' data-id="ga6nwP80SV" id="ga6nwP80SV" data-same-height-subgrid-container class="ga6nwP80SV gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--cg:30px;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gVZ-N9uc2h gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gpigf7Xxlf"}' data-id="gpigf7Xxlf" id="gpigf7Xxlf" data-same-height-subgrid-container class="gpigf7Xxlf gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:20px;--mb-tablet:20px;--cg:20px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start;--jc-mobile:center"
      class="gT_PB6-N2v gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gJcNA_eYxp"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left"
      class="gp-group/image gp-relative force-publish-1764275915841 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gJcNA_eYxp"
    >
      <div
        
        style="border-radius:inherit;--jc:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_562294279301497736-9527ca17-1f67-487d-bd46-a578cabc10e8.png" | file_url }}" srcset="{{ "gempages_562294279301497736-9527ca17-1f67-487d-bd46-a578cabc10e8.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_562294279301497736-9527ca17-1f67-487d-bd46-a578cabc10e8.png" | file_url }}" srcset="{{ "gempages_562294279301497736-9527ca17-1f67-487d-bd46-a578cabc10e8.png" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "gempages_562294279301497736-9527ca17-1f67-487d-bd46-a578cabc10e8.png" | file_url }}" data-src="{{ "gempages_562294279301497736-9527ca17-1f67-487d-bd46-a578cabc10e8.png" | file_url }}"
        alt="Alt Image"
        width="100%"
        style="--aspect:auto;--objf:cover;--w:64px;--w-tablet:64px;--w-mobile:60px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:start;--jc-mobile:center"
      class="g5ejQiIKBZ gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g2oXM19zpy"
        class="g2oXM19zpy"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-s);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:500;--size:18px;--size-tablet:16px;--size-mobile:16px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;--c:#162030;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg2oXM19zpy_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g5b7_BBn_k"
        class="g5b7_BBn_k"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;--c:#5A5A5A;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg5b7_BBn_k_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gKtUjBeC63 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gnHA4ZdjTg"}' data-id="gnHA4ZdjTg" id="gnHA4ZdjTg" data-same-height-subgrid-container class="gnHA4ZdjTg gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:20px;--mb-tablet:20px;--cg:20px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start;--jc-mobile:center"
      class="gn7KLbn--G gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="g0XOWTcbqw"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left"
      class="gp-group/image gp-relative force-publish-1764275915846 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto g0XOWTcbqw"
    >
      <div
        
        style="border-radius:inherit;--jc:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_562294279301497736-9f532439-442a-4b81-af57-b2db577f1388.png" | file_url }}" srcset="{{ "gempages_562294279301497736-9f532439-442a-4b81-af57-b2db577f1388.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_562294279301497736-9f532439-442a-4b81-af57-b2db577f1388.png" | file_url }}" srcset="{{ "gempages_562294279301497736-9f532439-442a-4b81-af57-b2db577f1388.png" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "gempages_562294279301497736-9f532439-442a-4b81-af57-b2db577f1388.png" | file_url }}" data-src="{{ "gempages_562294279301497736-9f532439-442a-4b81-af57-b2db577f1388.png" | file_url }}"
        alt="Alt Image"
        width="100%"
        style="--aspect:auto;--objf:cover;--w:64px;--w-tablet:64px;--w-mobile:60px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:start;--jc-mobile:center"
      class="gGEWK3mW3J gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gd7NrIV7b7"
        class="gd7NrIV7b7"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-s);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:500;--size:18px;--size-tablet:16px;--size-mobile:16px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;--c:#162030;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggd7NrIV7b7_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gJ7Qki57wN"
        class="gJ7Qki57wN"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;--c:#5A5A5A;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggJ7Qki57wN_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="g6WvkShhJC gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gZMLRL_g89"}' data-id="gZMLRL_g89" id="gZMLRL_g89" data-same-height-subgrid-container class="gZMLRL_g89 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:20px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start;--jc-mobile:center"
      class="ghMXIFPqlD gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gh-_3sSBWz"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left"
      class="gp-group/image gp-relative force-publish-1764275915855 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gh-_3sSBWz"
    >
      <div
        
        style="border-radius:inherit;--jc:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_562294279301497736-2249877a-9bfd-432e-9d4d-ceeb6de38c24.png" | file_url }}" srcset="{{ "gempages_562294279301497736-2249877a-9bfd-432e-9d4d-ceeb6de38c24.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_562294279301497736-2249877a-9bfd-432e-9d4d-ceeb6de38c24.png" | file_url }}" srcset="{{ "gempages_562294279301497736-2249877a-9bfd-432e-9d4d-ceeb6de38c24.png" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "gempages_562294279301497736-2249877a-9bfd-432e-9d4d-ceeb6de38c24.png" | file_url }}" data-src="{{ "gempages_562294279301497736-2249877a-9bfd-432e-9d4d-ceeb6de38c24.png" | file_url }}"
        alt="Alt Image"
        width="100%"
        style="--aspect:auto;--objf:cover;--w:64px;--w-tablet:64px;--w-mobile:60px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:start;--jc-mobile:center"
      class="g-mrYfe5A- gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gUMnqWgA-1"
        class="gUMnqWgA-1"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-s);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:500;--size:18px;--size-tablet:16px;--size-mobile:16px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;--c:#162030;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggUMnqWgA-1_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gfilASvIqB"
        class="gfilASvIqB"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;--c:#5A5A5A;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggfilASvIqB_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-577161882813662193 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/feppvi-1c/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=577161882796819441&sectionId=577161882813662193)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg2oXM19zpy_text","label":"gg2oXM19zpy_text","default":"<p>Free Shipping</p>"},{"type":"html","id":"gg5b7_BBn_k_text","label":"gg5b7_BBn_k_text","default":"<p>Free shipping worldwide</p>"},{"type":"html","id":"ggd7NrIV7b7_text","label":"ggd7NrIV7b7_text","default":"<p>24/7 Support</p>"},{"type":"html","id":"ggJ7Qki57wN_text","label":"ggJ7Qki57wN_text","default":"<p>Whenever you need</p>"},{"type":"html","id":"ggUMnqWgA-1_text","label":"ggUMnqWgA-1_text","default":"<p>Secure Packaging</p>"},{"type":"html","id":"ggfilASvIqB_text","label":"ggfilASvIqB_text","default":"<p>With product insurance</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}