
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-592488741675729657.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-592488741675729657.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-592488741675729657.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-592488741675729657.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-592488741675729657.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-592488741675729657.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-592488741675729657.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-592488741675729657.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-592488741675729657.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-592488741675729657.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-592488741675729657.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-592488741675729657.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-592488741675729657.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-592488741675729657.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-592488741675729657.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-592488741675729657.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-592488741675729657.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-592488741675729657.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-592488741675729657.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-592488741675729657.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-592488741675729657.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-592488741675729657.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-592488741675729657.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-592488741675729657.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-592488741675729657.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-592488741675729657.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-592488741675729657.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-592488741675729657.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-592488741675729657.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-592488741675729657.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-592488741675729657.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-592488741675729657.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-592488741675729657.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-592488741675729657.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-592488741675729657.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-592488741675729657.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-592488741675729657.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-592488741675729657.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-592488741675729657.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-592488741675729657.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-592488741675729657.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-592488741675729657.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-592488741675729657.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-592488741675729657.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-592488741675729657.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-592488741675729657.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-592488741675729657.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-592488741675729657.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-592488741675729657.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-592488741675729657.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-592488741675729657.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-592488741675729657.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-592488741675729657.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-592488741675729657.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-592488741675729657.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-592488741675729657.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-592488741675729657.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-592488741675729657.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-592488741675729657.gps.gpsil [style*="--v:"]{visibility:var(--v)}.gps-592488741675729657.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-592488741675729657.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-592488741675729657.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-592488741675729657.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-592488741675729657.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-592488741675729657.gps.gpsil [style*="--jc-tablet:"]{justify-content:var(--jc-tablet)}.gps-592488741675729657.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-592488741675729657.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-592488741675729657.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-592488741675729657.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-592488741675729657.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-592488741675729657.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-592488741675729657.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-592488741675729657.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-592488741675729657.gps.gpsil [style*="--v-tablet:"]{visibility:var(--v-tablet)}.gps-592488741675729657.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-592488741675729657.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-592488741675729657.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-592488741675729657.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-592488741675729657.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-592488741675729657.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-592488741675729657.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-592488741675729657.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-592488741675729657.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-592488741675729657.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-592488741675729657.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-592488741675729657.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-592488741675729657.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-592488741675729657.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-592488741675729657.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-592488741675729657.gps.gpsil [style*="--v-mobile:"]{visibility:var(--v-mobile)}.gps-592488741675729657.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-592488741675729657.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-592488741675729657 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-592488741675729657 .gp-relative{position:relative}.gps-592488741675729657 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-592488741675729657 .gp-mb-0{margin-bottom:0}.gps-592488741675729657 .gp-flex{display:flex}.gps-592488741675729657 .gp-inline-flex{display:inline-flex}.gps-592488741675729657 .gp-grid{display:grid}.gps-592488741675729657 .\!gp-hidden{display:none!important}.gps-592488741675729657 .gp-hidden{display:none}.gps-592488741675729657 .gp-h-full{height:100%}.gps-592488741675729657 .gp-max-w-full{max-width:100%}.gps-592488741675729657 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-592488741675729657 .gp-flex-col{flex-direction:column}.gps-592488741675729657 .gp-items-center{align-items:center}.gps-592488741675729657 .gp-justify-center{justify-content:center}.gps-592488741675729657 .gp-overflow-hidden{overflow:hidden}.gps-592488741675729657 .gp-break-words{overflow-wrap:break-word}.gps-592488741675729657 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-592488741675729657 .gp-no-underline{text-decoration-line:none}.gps-592488741675729657 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-592488741675729657 .gp-duration-200{transition-duration:.2s}.gps-592488741675729657 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-592488741675729657 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-592488741675729657 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-592488741675729657 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-592488741675729657 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-592488741675729657 .tablet\:\!gp-hidden{display:none!important}.gps-592488741675729657 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-592488741675729657 .mobile\:\!gp-hidden{display:none!important}.gps-592488741675729657 .mobile\:gp-hidden{display:none}}.gps-592488741675729657 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-592488741675729657 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLGT9V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLCz7V1s.ttf) format('truetype');
}


@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v40/nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKeiukDQ.ttf) format('truetype');
}


@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesans3/v19/nwpBtKy2OAdR1K-IwhWudF-R9QMylBJAV3Bo8Ky461EN.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesans3/v19/nwpBtKy2OAdR1K-IwhWudF-R9QMylBJAV3Bo8Kxm7FEN.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesans3/v19/nwpBtKy2OAdR1K-IwhWudF-R9QMylBJAV3Bo8Kxf7FEN.ttf) format('truetype');
}


@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesans3/v19/nwpBtKy2OAdR1K-IwhWudF-R9QMylBJAV3Bo8Ky461EN.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesans3/v19/nwpBtKy2OAdR1K-IwhWudF-R9QMylBJAV3Bo8Kxm7FEN.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesans3/v19/nwpBtKy2OAdR1K-IwhWudF-R9QMylBJAV3Bo8Kxf7FEN.ttf) format('truetype');
}
</style>
  
    
    
  <gp-animation
    gp-interaction-wrapper
    display-init="show"
    gp-data='{"tag":"Section","opacity":{"desktop":"100%"},"notEnableAnimationWhenInit":true}'
    style="display:contents"
  >
    <div style="--v:visible;--v-tablet:visible;--v-mobile:visible;display:contents">
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FAF6F2","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"g2XuSXZMHy"}' data-id="g2XuSXZMHy" id="g2XuSXZMHy" data-same-height-subgrid-container class="g2XuSXZMHy gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--displayInitInteraction:true;--hasAnimationInteraction:true;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--mb:0px;--pt:80px;--pl:60px;--pb:72px;--pr:60px;--pt-mobile:60px;--pl-mobile:20px;--pb-mobile:40px;--pr-mobile:20px;--pt-tablet:70px;--pl-tablet:40px;--pb-tablet:50px;--pr-tablet:40px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FAF6F2;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g8DfsmWjgD gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gyvUOUxYCs"}' data-id="gyvUOUxYCs" id="gyvUOUxYCs" data-same-height-subgrid-container class="gyvUOUxYCs gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:0px;--pl-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pl-tablet:0px;--pr-tablet:0px;--cg:62px;--cg-tablet:40px;--gtc:minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:100%;--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--jc-tablet:center"
      class="gosHMeSEtX gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gSMnVaxaHR"
        class="gSMnVaxaHR"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--mb:20px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--mb-mobile:15px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:0px;--mb-tablet:16px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:500;--size:18px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggSMnVaxaHR_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gRTzndd8gh"
        class="gRTzndd8gh"
        style="--ta:center;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:20px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:30px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:40px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:80%;--w-tablet:80%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--ta-tablet:center;--ta-mobile:center;--fs:normal;--ff:var(--g-font-Playfair-Display, 'Playfair Display'), var(--g-font-heading, heading);--weight:700;--size:32px;--size-tablet:32px;--size-mobile:26px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#3F4144;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggRTzndd8gh_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g6tADnEd-N"
        class="g6tADnEd-N"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--mb:20px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--mb-mobile:15px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:0px;--mb-tablet:16px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:15px;--size-tablet:16px;--size-mobile:14px;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg6tADnEd-N_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"uid":"gF9Hz1iVlm"}' data-id="gF9Hz1iVlm" id="gF9Hz1iVlm" data-same-height-subgrid-container class="gF9Hz1iVlm gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:15px;--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--mb-mobile:15px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:16px;--rg:0px;--gtc:minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:var(--g-ct-w, 1200px);--h:auto;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gH7xDBIIZo gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gcZaKf2fX-"}' data-id="gcZaKf2fX-" id="gcZaKf2fX-" data-same-height-subgrid-container class="gcZaKf2fX- gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--mb-mobile:20px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:16px;--cg-mobile:10px;--rg:0px;--rg-mobile:10px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:500px;--w-mobile:100%;--h:auto;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gQqFLoR8D2 gp-relative gp-flex gp-flex-col"
    >
      
    <gp-button
      gp-data='{"btnLink":{"link":"","target":"_self"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:20px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:16px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:20px;--ta:left" >
        <style>[data-id="grG_PAJe2j"].gp-button-base::before, [data-id="grG_PAJe2j-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  
  
  
    
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      
  
    }
  
      
  [data-id="grG_PAJe2j"]:hover::before, [data-id="grG_PAJe2j-interaction"]:hover::before {
    
    
  }</style>
        
        <button
          data-id="grG_PAJe2j" dataId="grG_PAJe2j" data-state="idle" aria-label="<p>Dryness</p>"
          
          type="button"
          style="--w:400px;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:14px;--pr:14px;--pt:14px;--pb:14px;--pl-tablet:20px;--pr-tablet:20px;--pt-tablet:20px;--pb-tablet:20px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:14px;--pb-mobile:14px;--bblr:5px;--bbrr:5px;--btlr:5px;--btrr:5px;--hvr-bblr:5px;--hvr-bbrr:5px;--hvr-btlr:5px;--hvr-btrr:5px;--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:#205F49;--bg:#FFFFFF;--hvr-c:#FFFFFF;--c:#3F4144;--fs:normal;--ff:var(--g-font-Source-Sans-3, 'Source Sans 3'), var(--g-font-body, body);--weight:700;--size:18px;--size-tablet:16px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:150%;--ls:normal"
          class="grG_PAJe2j gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-Source-Sans-3, 'Source Sans 3'), var(--g-font-body, body);--weight:700;--size:18px;--size-tablet:16px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:150%;--ls:normal;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggrG_PAJe2j_label }}
    </span>
        </div>
        
        </button>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    <gp-button
      gp-data='{"btnLink":{"link":"","target":"_self"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:20px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:16px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:20px;--ta:left" >
        <style>[data-id="gdB9GNHBoD"].gp-button-base::before, [data-id="gdB9GNHBoD-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  
  
  
    
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      
  
    }
  
      
  [data-id="gdB9GNHBoD"]:hover::before, [data-id="gdB9GNHBoD-interaction"]:hover::before {
    
    
  }</style>
        
        <button
          data-id="gdB9GNHBoD" dataId="gdB9GNHBoD" data-state="idle" aria-label="<p>Chemical Smell</p>"
          
          type="button"
          style="--w:400px;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:14px;--pr:14px;--pt:14px;--pb:14px;--pl-tablet:20px;--pr-tablet:20px;--pt-tablet:20px;--pb-tablet:20px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:14px;--pb-mobile:14px;--bblr:5px;--bbrr:5px;--btlr:5px;--btrr:5px;--hvr-bblr:5px;--hvr-bbrr:5px;--hvr-btlr:5px;--hvr-btrr:5px;--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:#205F49;--bg:#FFFFFF;--hvr-c:#FFFFFF;--c:#3F4144;--fs:normal;--ff:var(--g-font-Source-Sans-3, 'Source Sans 3'), var(--g-font-body, body);--weight:700;--size:18px;--size-tablet:16px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:150%;--ls:normal"
          class="gdB9GNHBoD gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-Source-Sans-3, 'Source Sans 3'), var(--g-font-body, body);--weight:700;--size:18px;--size-tablet:16px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:150%;--ls:normal;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggdB9GNHBoD_label }}
    </span>
        </div>
        
        </button>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    <gp-button
      gp-data='{"btnLink":{"link":"","target":"_self"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:20px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:16px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:20px;--ta:left" >
        <style>[data-id="gpEF1_3ZRK"].gp-button-base::before, [data-id="gpEF1_3ZRK-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  
  
  
    
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      
  
    }
  
      
  [data-id="gpEF1_3ZRK"]:hover::before, [data-id="gpEF1_3ZRK-interaction"]:hover::before {
    
    
  }</style>
        
        <button
          data-id="gpEF1_3ZRK" dataId="gpEF1_3ZRK" data-state="idle" aria-label="<p>Burning Sensation</p>"
          
          type="button"
          style="--w:400px;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:14px;--pr:14px;--pt:14px;--pb:14px;--pl-tablet:20px;--pr-tablet:20px;--pt-tablet:20px;--pb-tablet:20px;--pl-mobile:6px;--pr-mobile:6px;--pt-mobile:14px;--pb-mobile:14px;--bblr:5px;--bbrr:5px;--btlr:5px;--btrr:5px;--hvr-bblr:5px;--hvr-bbrr:5px;--hvr-btlr:5px;--hvr-btrr:5px;--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:#205F49;--bg:#FFFFFF;--hvr-c:#FFFFFF;--c:#3F4144;--fs:normal;--ff:var(--g-font-Source-Sans-3, 'Source Sans 3'), var(--g-font-body, body);--weight:700;--size:18px;--size-tablet:16px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:150%;--ls:normal"
          class="gpEF1_3ZRK gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-Source-Sans-3, 'Source Sans 3'), var(--g-font-body, body);--weight:700;--size:18px;--size-tablet:16px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:150%;--ls:normal;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggpEF1_3ZRK_label }}
    </span>
        </div>
        
        </button>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="g9l4_l6Ord gp-relative gp-flex gp-flex-col"
    >
      
    <gp-button
      gp-data='{"btnLink":{"link":"","target":"_self"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:20px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:16px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:20px;--ta:left" >
        <style>[data-id="gFHA3K5Ahx"].gp-button-base::before, [data-id="gFHA3K5Ahx-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  
  
  
    
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      
  
    }
  
      
  [data-id="gFHA3K5Ahx"]:hover::before, [data-id="gFHA3K5Ahx-interaction"]:hover::before {
    
    
  }</style>
        
        <button
          data-id="gFHA3K5Ahx" dataId="gFHA3K5Ahx" data-state="idle" aria-label="<p>Irritation</p>"
          
          type="button"
          style="--w:400px;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:14px;--pr:14px;--pt:14px;--pb:14px;--pl-tablet:20px;--pr-tablet:20px;--pt-tablet:20px;--pb-tablet:20px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:14px;--pb-mobile:14px;--bblr:5px;--bbrr:5px;--btlr:5px;--btrr:5px;--hvr-bblr:5px;--hvr-bbrr:5px;--hvr-btlr:5px;--hvr-btrr:5px;--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:#205F49;--bg:#FFFFFF;--hvr-c:#FFFFFF;--c:#3F4144;--fs:normal;--ff:var(--g-font-Source-Sans-3, 'Source Sans 3'), var(--g-font-body, body);--weight:700;--size:18px;--size-tablet:16px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:150%;--ls:normal"
          class="gFHA3K5Ahx gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-Source-Sans-3, 'Source Sans 3'), var(--g-font-body, body);--weight:700;--size:18px;--size-tablet:16px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:150%;--ls:normal;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggFHA3K5Ahx_label }}
    </span>
        </div>
        
        </button>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    <gp-button
      gp-data='{"btnLink":{"link":"","target":"_self"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:20px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:16px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:20px;--ta:left" >
        <style>[data-id="gkbzZfgEFr"].gp-button-base::before, [data-id="gkbzZfgEFr-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  
  
  
    
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      
  
    }
  
      
  [data-id="gkbzZfgEFr"]:hover::before, [data-id="gkbzZfgEFr-interaction"]:hover::before {
    
    
  }</style>
        
        <button
          data-id="gkbzZfgEFr" dataId="gkbzZfgEFr" data-state="idle" aria-label="<p>Itching</p>"
          
          type="button"
          style="--w:400px;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:14px;--pr:14px;--pt:14px;--pb:14px;--pl-tablet:20px;--pr-tablet:20px;--pt-tablet:20px;--pb-tablet:20px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:14px;--pb-mobile:14px;--bblr:5px;--bbrr:5px;--btlr:5px;--btrr:5px;--hvr-bblr:5px;--hvr-bbrr:5px;--hvr-btlr:5px;--hvr-btrr:5px;--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:#205F49;--bg:#FFFFFF;--hvr-c:#FFFFFF;--c:#3F4144;--fs:normal;--ff:var(--g-font-Source-Sans-3, 'Source Sans 3'), var(--g-font-body, body);--weight:700;--size:18px;--size-tablet:16px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:150%;--ls:normal"
          class="gkbzZfgEFr gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-Source-Sans-3, 'Source Sans 3'), var(--g-font-body, body);--weight:700;--size:18px;--size-tablet:16px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:150%;--ls:normal;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggkbzZfgEFr_label }}
    </span>
        </div>
        
        </button>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    <gp-button
      gp-data='{"btnLink":{"link":"","target":"_self"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:20px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:16px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:20px;--ta:left" >
        <style>[data-id="g12kxY9txh"].gp-button-base::before, [data-id="g12kxY9txh-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  
  
  
    
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      
  
    }
  
      
  [data-id="g12kxY9txh"]:hover::before, [data-id="g12kxY9txh-interaction"]:hover::before {
    
    
  }</style>
        
        <button
          data-id="g12kxY9txh" dataId="g12kxY9txh" data-state="idle" aria-label="<p>Hair shedding</p>"
          
          type="button"
          style="--w:400px;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:14px;--pr:14px;--pt:14px;--pb:14px;--pl-tablet:20px;--pr-tablet:20px;--pt-tablet:20px;--pb-tablet:20px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:14px;--pb-mobile:14px;--bblr:5px;--bbrr:5px;--btlr:5px;--btrr:5px;--hvr-bblr:5px;--hvr-bbrr:5px;--hvr-btlr:5px;--hvr-btrr:5px;--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:#205F49;--bg:#FFFFFF;--hvr-c:#FFFFFF;--c:#3F4144;--fs:normal;--ff:var(--g-font-Source-Sans-3, 'Source Sans 3'), var(--g-font-body, body);--weight:700;--size:18px;--size-tablet:16px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:150%;--ls:normal"
          class="g12kxY9txh gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-Source-Sans-3, 'Source Sans 3'), var(--g-font-body, body);--weight:700;--size:18px;--size-tablet:16px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:150%;--ls:normal;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.gg12kxY9txh_label }}
    </span>
        </div>
        
        </button>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"uid":"gtu9RlKdwF"}' data-id="gtu9RlKdwF" id="gtu9RlKdwF" data-same-height-subgrid-container class="gtu9RlKdwF gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:15px;--pt:10px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:0px;--pt-mobile:10px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:10px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:500px;--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="go4l3E7B2J gp-relative gp-flex gp-flex-col"
    >
      
    <gp-button
      gp-data='{"btnLink":{"link":"","target":"_self","type":"open-page"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:left" >
        <style>[data-id="gm4BiAo2ym"].gp-button-base::before, [data-id="gm4BiAo2ym-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: transparent;
  
    
      border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px;
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
      
  
    }
  
      
  [data-id="gm4BiAo2ym"]:hover::before, [data-id="gm4BiAo2ym-interaction"]:hover::before {
    
    
  }</style>
        
        <button
          data-id="gm4BiAo2ym" dataId="gm4BiAo2ym" data-state="idle" aria-label="<p>Continue</p>"
          
          type="button"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--bblr:7px;--bbrr:7px;--btlr:7px;--btrr:7px;--bgi:;--bg:#205F49;--c:var(--g-c-text-3, text-3);--ff:var(--g-font-Source-Sans-3, 'Source Sans 3'), var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%"
          class="gm4BiAo2ym gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--ff:var(--g-font-Source-Sans-3, 'Source Sans 3'), var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggm4BiAo2ym_label }}
    </span>
        </div>
        
        </button>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  </div>
  </gp-animation>
  <script src="https://assets.gemcommerce.com/assets-v2/gp-animation-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    
{% schema %}
  {
    
    "name": "Section 10",
    "tag": "section",
    "class": "gps-592488741675729657 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/feppvi-1c/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=592025793073250846&sectionId=592488741675729657)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggSMnVaxaHR_text","label":"ggSMnVaxaHR_text","default":"<p><span style=\"background-color:rgb(250,246,242);color:rgb(63,65,68);font-size:14.4px;\">People with your scalp-type report higher likelihood of Chemical Shampoo Side-Effects.</span></p>"},{"type":"html","id":"ggRTzndd8gh_text","label":"ggRTzndd8gh_text","default":"<strong>7. What Side-Effects Have You Experienced From Shampoos?</strong>"},{"type":"html","id":"gg6tADnEd-N_text","label":"gg6tADnEd-N_text","default":"<p><span style=\"background-color:rgb(250,246,242);color:rgb(63,65,68);font-size:14.4px;\">Choose all that apply</span></p>"},{"type":"html","id":"ggrG_PAJe2j_label","label":"ggrG_PAJe2j_label","default":"<p>Dryness</p>"},{"type":"html","id":"ggdB9GNHBoD_label","label":"ggdB9GNHBoD_label","default":"<p>Chemical Smell</p>"},{"type":"html","id":"ggpEF1_3ZRK_label","label":"ggpEF1_3ZRK_label","default":"<p>Burning Sensation</p>"},{"type":"html","id":"ggFHA3K5Ahx_label","label":"ggFHA3K5Ahx_label","default":"<p>Irritation</p>"},{"type":"html","id":"ggkbzZfgEFr_label","label":"ggkbzZfgEFr_label","default":"<p>Itching</p>"},{"type":"html","id":"gg12kxY9txh_label","label":"gg12kxY9txh_label","default":"<p>Hair shedding</p>"},{"type":"html","id":"ggm4BiAo2ym_label","label":"ggm4BiAo2ym_label","default":"<p>Continue</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}