
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-585912466127651523.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-585912466127651523.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-585912466127651523.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-585912466127651523.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-585912466127651523.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-585912466127651523.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-585912466127651523.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-585912466127651523.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-585912466127651523.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-585912466127651523.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-585912466127651523.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-585912466127651523.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-585912466127651523.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-585912466127651523.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-585912466127651523.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-585912466127651523.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-585912466127651523.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-585912466127651523.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-585912466127651523.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-585912466127651523.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-585912466127651523.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-585912466127651523.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-585912466127651523.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-585912466127651523.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-585912466127651523.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-585912466127651523.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-585912466127651523.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-585912466127651523.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-585912466127651523.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-585912466127651523.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-585912466127651523.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-585912466127651523.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-585912466127651523.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-585912466127651523.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-585912466127651523.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-585912466127651523.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-585912466127651523.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-585912466127651523.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-585912466127651523.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-585912466127651523.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-585912466127651523.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-585912466127651523.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-585912466127651523.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-585912466127651523.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-585912466127651523.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-585912466127651523.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-585912466127651523.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-585912466127651523.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-585912466127651523.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-585912466127651523.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-585912466127651523.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-585912466127651523.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-585912466127651523.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-585912466127651523.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-585912466127651523.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-585912466127651523.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-585912466127651523.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-585912466127651523.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-585912466127651523.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-585912466127651523.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-585912466127651523.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-585912466127651523.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-585912466127651523.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-585912466127651523.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-585912466127651523.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-585912466127651523.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-585912466127651523.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-585912466127651523.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-585912466127651523.gps.gpsil [style*="--bblr-mobile:"]{border-bottom-left-radius:var(--bblr-mobile)}.gps-585912466127651523.gps.gpsil [style*="--bbrr-mobile:"]{border-bottom-right-radius:var(--bbrr-mobile)}.gps-585912466127651523.gps.gpsil [style*="--btlr-mobile:"]{border-top-left-radius:var(--btlr-mobile)}.gps-585912466127651523.gps.gpsil [style*="--btrr-mobile:"]{border-top-right-radius:var(--btrr-mobile)}.gps-585912466127651523.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-585912466127651523.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-585912466127651523.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-585912466127651523.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-585912466127651523.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-585912466127651523.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-585912466127651523.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-585912466127651523.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-585912466127651523.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-585912466127651523.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-585912466127651523 .gp-relative{position:relative}.gps-585912466127651523 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-585912466127651523 .gp-mb-0{margin-bottom:0}.gps-585912466127651523 .gp-inline-block{display:inline-block}.gps-585912466127651523 .gp-flex{display:flex}.gps-585912466127651523 .gp-inline-flex{display:inline-flex}.gps-585912466127651523 .gp-grid{display:grid}.gps-585912466127651523 .gp-contents{display:contents}.gps-585912466127651523 .\!gp-hidden{display:none!important}.gps-585912466127651523 .gp-hidden{display:none}.gps-585912466127651523 .gp-h-auto{height:auto}.gps-585912466127651523 .gp-h-full{height:100%}.gps-585912466127651523 .gp-w-full{width:100%}.gps-585912466127651523 .gp-max-w-full{max-width:100%}.gps-585912466127651523 .gp-flex-none{flex:none}.gps-585912466127651523 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-585912466127651523 .gp-flex-col{flex-direction:column}.gps-585912466127651523 .gp-items-center{align-items:center}.gps-585912466127651523 .gp-justify-center{justify-content:center}.gps-585912466127651523 .gp-overflow-hidden{overflow:hidden}.gps-585912466127651523 .gp-break-words{overflow-wrap:break-word}.gps-585912466127651523 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-585912466127651523 .gp-no-underline{text-decoration-line:none}.gps-585912466127651523 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-585912466127651523 .gp-duration-200{transition-duration:.2s}.gps-585912466127651523 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-585912466127651523 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-585912466127651523 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-585912466127651523 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-585912466127651523 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-585912466127651523 .tablet\:\!gp-hidden{display:none!important}.gps-585912466127651523 .tablet\:gp-hidden{display:none}.gps-585912466127651523 .tablet\:gp-h-auto{height:auto}.gps-585912466127651523 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-585912466127651523 .mobile\:\!gp-hidden{display:none!important}.gps-585912466127651523 .mobile\:gp-hidden{display:none}.gps-585912466127651523 .mobile\:gp-h-auto{height:auto}.gps-585912466127651523 .mobile\:gp-flex-none{flex:none}}.gps-585912466127651523 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-585912466127651523 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v44/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0C4n.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLEj6V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLCz7V1s.ttf) format('truetype');
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gDbdPYnM_C"}' data-id="gDbdPYnM_C" id="gDbdPYnM_C" data-same-height-subgrid-container class="gDbdPYnM_C gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:none;--d-mobile:grid;--d-tablet:none;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-2xl);--pl:0px;--pb:var(--g-s-2xl);--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:var(--g-s-2xl);--pr-mobile:0px;--pt-tablet:var(--g-s-2xl);--pl-tablet:0px;--pb-tablet:var(--g-s-2xl);--pr-tablet:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gzcn8g8Ag4 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="g8QTXvBVO1"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1764276124717 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto g8QTXvBVO1"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_562294279301497736-3b7dec43-0050-4cd9-82ff-1799d81a8460.png" | file_url }}" srcset="{{ "gempages_562294279301497736-3b7dec43-0050-4cd9-82ff-1799d81a8460.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/2005/9307/files/image_demo_1024x.jpg" srcset="https://cdn.shopify.com/s/files/1/2005/9307/files/image_demo_1024x.jpg" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="https://cdn.shopify.com/s/files/1/2005/9307/files/image_demo.jpg" data-src="https://cdn.shopify.com/s/files/1/2005/9307/files/image_demo.jpg"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
    <div
      role="presentation"
      data-id="gA8dNgs44b"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--mb-mobile:27px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1764276124718 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gA8dNgs44b"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_562294279301497736-6eea5b4d-4c4d-43fa-8cc5-5d68b8332510.png" | file_url }}" srcset="{{ "gempages_562294279301497736-6eea5b4d-4c4d-43fa-8cc5-5d68b8332510.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/2005/9307/files/image_demo_1024x.jpg" srcset="https://cdn.shopify.com/s/files/1/2005/9307/files/image_demo_1024x.jpg" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="https://cdn.shopify.com/s/files/1/2005/9307/files/image_demo.jpg" data-src="https://cdn.shopify.com/s/files/1/2005/9307/files/image_demo.jpg"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
    

    

    
    <gp-row gp-data='{"background":{"mobile":{"color":"transparent","preload":false,"type":"color"}},"uid":"gWvrhJZT-b"}' data-id="gWvrhJZT-b" id="gWvrhJZT-b" data-same-height-subgrid-container class="gWvrhJZT-b gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--bgc-mobile:transparent;--bgi-mobile:url();--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g5y0z1HZJm gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"mobile":{"color":"#B6D8EF","preload":false,"type":"color"}},"uid":"glVOx53APu"}' data-id="glVOx53APu" id="glVOx53APu" data-same-height-subgrid-container class="glVOx53APu gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--pt-mobile:var(--g-s-2xl);--pl-mobile:var(--g-s-l);--pb-mobile:var(--g-s-2xl);--pr-mobile:var(--g-s-l);--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--bgc-mobile:#B6D8EF;--bgi-mobile:url();--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gs7Hn-zBsX gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="g8v3eSf6GR"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:32px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1764276124729 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto g8v3eSf6GR"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_562294279301497736-4bda5b41-2851-4f0e-b02d-ac750b2428cf.png" | file_url }}" srcset="{{ "gempages_562294279301497736-4bda5b41-2851-4f0e-b02d-ac750b2428cf.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/2005/9307/files/image_demo_1024x.jpg" srcset="https://cdn.shopify.com/s/files/1/2005/9307/files/image_demo_1024x.jpg" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="https://cdn.shopify.com/s/files/1/2005/9307/files/image_demo.jpg" data-src="https://cdn.shopify.com/s/files/1/2005/9307/files/image_demo.jpg"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
    <gp-button
      gp-data='{"btnLink":{"link":"#scroll-to-top","title":"Top","type":"scroll-to"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bblr-mobile:0px;--bbrr-mobile:0px;--btlr-mobile:0px;--btrr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:left;--ta-mobile:center" >
        <style>[data-id="gdApWSXCXS"].gp-button-base::before, [data-id="gdApWSXCXS-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  border-color: var(--g-c-line-3, line-3);
  
    
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      
  
    }
  
      
  [data-id="gdApWSXCXS"]:hover::before, [data-id="gdApWSXCXS-interaction"]:hover::before {
    
    
  }</style>
        <a
            class="gp-trigger-button-link gp-hidden"
            href=#scroll-to-top
            target=undefined
          ></a>
        <button
          data-id="gdApWSXCXS" dataId="gdApWSXCXS" data-state="idle" aria-label="<p>Try it now</p>"
          
          href="#scroll-to-top" target type="button"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:60%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:12px;--pb-mobile:12px;--bblr:4px;--bbrr:4px;--btlr:4px;--btrr:4px;--hvr-bblr:4px;--hvr-bbrr:4px;--hvr-btlr:4px;--hvr-btrr:4px;--bgi:;--hvr-bgi:;--hvr-bg:var(--g-c-highlight, highlight);--bg:#151515;--c:var(--g-c-text-3, text-3);--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:15px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%"
          class="gdApWSXCXS gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:15px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggdApWSXCXS_label }}
    </span>
        </div>
        
        </button>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-585912466127651523 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/feppvi-1c/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=585912465909351107&sectionId=585912466127651523)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggdApWSXCXS_label","label":"ggdApWSXCXS_label","default":"<p>Try it now</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}