
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-579452837411422817.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-579452837411422817.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-579452837411422817.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-579452837411422817.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-579452837411422817.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-579452837411422817.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-579452837411422817.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-579452837411422817.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-579452837411422817.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-579452837411422817.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-579452837411422817.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-579452837411422817.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-579452837411422817.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-579452837411422817.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-579452837411422817.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-579452837411422817.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-579452837411422817.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-579452837411422817.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-579452837411422817.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-579452837411422817.gps.gpsil [style*="--hvr-radius:"]:hover{border-radius:var(--hvr-radius)}.gps-579452837411422817.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-579452837411422817.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-579452837411422817.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-579452837411422817.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-579452837411422817.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-579452837411422817.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-579452837411422817.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-579452837411422817.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-579452837411422817.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-579452837411422817.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-579452837411422817.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-579452837411422817.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-579452837411422817.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-579452837411422817.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-579452837411422817.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-579452837411422817.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-579452837411422817.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-579452837411422817.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-579452837411422817.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-579452837411422817.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-579452837411422817.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-579452837411422817.gps.gpsil [style*="--maxw:"]{max-width:var(--maxw)}.gps-579452837411422817.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-579452837411422817.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-579452837411422817.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-579452837411422817.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-579452837411422817.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-579452837411422817.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-579452837411422817.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-579452837411422817.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-579452837411422817.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-579452837411422817.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-579452837411422817.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-579452837411422817.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-579452837411422817.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-579452837411422817.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-579452837411422817.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-579452837411422817.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-579452837411422817.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-579452837411422817.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-579452837411422817.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-579452837411422817.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-579452837411422817.gps.gpsil [style*="--maxw-tablet:"]{max-width:var(--maxw-tablet)}.gps-579452837411422817.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-579452837411422817.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-579452837411422817.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-579452837411422817.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-579452837411422817.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-579452837411422817.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-579452837411422817.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-579452837411422817.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-579452837411422817.gps.gpsil [style*="--bg-mobile:"]{background:var(--bg-mobile)}.gps-579452837411422817.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-579452837411422817.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-579452837411422817.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-579452837411422817.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-579452837411422817.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-579452837411422817.gps.gpsil [style*="--maxw-mobile:"]{max-width:var(--maxw-mobile)}.gps-579452837411422817.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-579452837411422817.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-579452837411422817.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-579452837411422817.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-579452837411422817.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-579452837411422817.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-579452837411422817.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-579452837411422817.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-579452837411422817 .\!gp-relative{position:relative!important}.gps-579452837411422817 .gp-relative{position:relative}.gps-579452837411422817 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-579452837411422817 .gp-mb-0{margin-bottom:0}.gps-579452837411422817 .gp-inline-block{display:inline-block}.gps-579452837411422817 .gp-flex{display:flex}.gps-579452837411422817 .gp-inline-flex{display:inline-flex}.gps-579452837411422817 .gp-grid{display:grid}.gps-579452837411422817 .gp-contents{display:contents}.gps-579452837411422817 .\!gp-hidden{display:none!important}.gps-579452837411422817 .gp-hidden{display:none}.gps-579452837411422817 .gp-h-auto{height:auto}.gps-579452837411422817 .gp-h-full{height:100%}.gps-579452837411422817 .gp-w-\[0\.01px\]{width:.01px}.gps-579452837411422817 .gp-w-full{width:100%}.gps-579452837411422817 .gp-max-w-full{max-width:100%}.gps-579452837411422817 .gp-flex-none{flex:none}.gps-579452837411422817 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-579452837411422817 .gp-flex-col{flex-direction:column}.gps-579452837411422817 .gp-items-center{align-items:center}.gps-579452837411422817 .gp-justify-center{justify-content:center}.gps-579452837411422817 .gp-overflow-hidden{overflow:hidden}.gps-579452837411422817 .gp-break-words{overflow-wrap:break-word}.gps-579452837411422817 .gp-text-center{text-align:center}.gps-579452837411422817 .gp-no-underline{text-decoration-line:none}.gps-579452837411422817 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-579452837411422817 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-579452837411422817 .gp-duration-200{transition-duration:.2s}.gps-579452837411422817 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-579452837411422817 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-579452837411422817 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-579452837411422817 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-579452837411422817 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-579452837411422817 .tablet\:\!gp-hidden{display:none!important}.gps-579452837411422817 .tablet\:gp-hidden{display:none}.gps-579452837411422817 .tablet\:gp-h-auto{height:auto}.gps-579452837411422817 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-579452837411422817 .mobile\:\!gp-hidden{display:none!important}.gps-579452837411422817 .mobile\:gp-hidden{display:none}.gps-579452837411422817 .mobile\:gp-h-auto{height:auto}.gps-579452837411422817 .mobile\:gp-flex-none{flex:none}}.gps-579452837411422817 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-579452837411422817 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLGT9V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLCz7V1s.ttf) format('truetype');
}


@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g6iwp2vzlu"}' data-id="g6iwp2vzlu" id="g6iwp2vzlu" data-same-height-subgrid-container class="g6iwp2vzlu gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:var(--g-s-2xl);--pr-mobile:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gI3uIUdiBE gp-relative gp-flex gp-flex-col"
    >
      
  <script src="https://assets.gemcommerce.com/assets-v2/gp-marquee-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-marquee data-id="gNfATjAQJb" gp-data='{"setting":{"activeItem":"0","childItem":["Item 1","Item 2","Item 3","Item 4"],"direction":"left","hasItemShadow":false,"hoverItem":"0","iconSeparatorSvg":"<svg height=\"20px\" width=\"20px\" data-name=\"dot-outline-filled\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 256 256\" fill=\"currentColor\" data-id=\"508817731477569896\">\n              <path fill=\"currentColor\" strokelinecap=\"round\" strokelinejoin=\"round\" d=\"M156,128a28,28,0,1,1-28-28A28,28,0,0,1,156,128Z\"></path></svg>","isPreview":false,"isShowIconSeparator":false,"itemWidthType":{"desktop":"BASE_ON_NUMBER_OF_ITEMS","mobile":"CUSTOM","tablet":"BASE_ON_NUMBER_OF_ITEMS"},"speed":1,"stopOnHover":true,"uid":"gNfATjAQJb"},"styles":{"align":{"desktop":"center"},"backgroundColor":{"desktop":"#194A70","mobile":"#194A70"},"iconSeparatorColor":"text-2","iconSeparatorSize":{"desktop":16},"itemBackgroundColor":{"desktop":"transparent"},"itemBorderStyle":{"border":"none","borderType":"none","borderWidth":"1px","color":"#000000","isCustom":false,"width":"1px 1px 1px 1px"},"itemCorner":{"radiusType":"none"},"itemMaxWidth":{"desktop":"300px","mobile":"150px","tablet":"300px"},"itemSpacing":{"desktop":"60px","mobile":"41px"},"sizeSetting":{"desktop":{"height":"Auto","shapeLinked":false,"width":"100%"}}}}'
   class="gNfATjAQJb">
   <div class="gp-flex gp-w-full gp-relative" style="--jc:center">
      <div class="!gp-relative" style="--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:32px;--pt:16px;--pl:0px;--pb:16px;--pr:0px;--pt-mobile:var(--g-s-xs);--pl-mobile:0px;--pb-mobile:var(--g-s-xs);--pr-mobile:0px;--mb-tablet:32px;--pt-tablet:16px;--pl-tablet:0px;--pb-tablet:16px;--pr-tablet:0px;--bg:#194A70;--bg-mobile:#194A70">
         <div class="gem-marquee gp-overflow-hidden gp-flex gp-items-center gp-w-full gp-h-full gNfATjAQJb">
            <div class="gp-overflow-hidden gp-w-full gp-h-full">
               
  <div style="--pause-on-hover:paused;--pause-on-click:paused;--width:100%;--transform:none;min-width:100%" class="rfm-marquee-container">
    <div class="rfm-marquee" style="--play:running;--direction:normal;--delay:0s;--iteration-count:infinite;--min-width:auto;--w:100%;--w-tablet:100%;--w-mobile:auto;--minw:100%;--minw-tablet:100%;--minw-mobile:auto">
      <div class="rfm-initial-child-container">
        
        <div style="--transform:none;--w:100%;--w-tablet:100%;--w-mobile:auto;--minw:100%;--minw-tablet:100%;--minw-mobile:auto" class="rfm-child">
          
               <div class="gp-flex gp-items-center gp-marque-child-item gem-child-marquee-item gp-w-full">
                  
                  <div class="gp-inline-flex gp-items-center gp-relative gp-transition-all gp-w-full"
                     style="--pr:60px;--pr-tablet:60px;--pr-mobile:41px;text-wrap:wrap;--w:calc(100% / 4);--w-tablet:calc(100% / 4);--w-mobile:150px;--minw:calc(100% / 4);--minw-tablet:calc(100% / 4);--minw-mobile:150px;--maxw:calc(100% / 4);--maxw-tablet:calc(100% / 4);--maxw-mobile:150px">
                     <div
      class="gp-relative gp-overflow-hidden gem-marquee-item  gI2VVbH_PS gem-marquee-item-gI2VVbH_PS"
      style="--bg:transparent;--w:calc(100%);--w-tablet:calc(100%);--w-mobile:calc(100%);--b:none;--bw:1px 1px 1px 1px;--bc:#000000"
    >
      <div className="first-block gp-w-[0.01px]"></div>
      
    <div
      role="presentation"
      data-id="gY2mNkNKn5"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:12px;--pb:12px;--ta:center"
      class="gp-group/image gp-relative force-publish-1764275966549 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gY2mNkNKn5"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <img
      width="2289" height="620" draggable="false" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}" data-sizes="auto" sizes="100vw" src="{{ "gempages_562294279301497736-0cf855b8-4db2-4b1a-bae0-0ee518c7c7bf.webp" | file_url }}" isNotLazyload="true" srcset base-src="{{ "gempages_562294279301497736-0cf855b8-4db2-4b1a-bae0-0ee518c7c7bf.webp" | file_url }}" loading="lazy"
      id=""
      style="--w:auto;--w-tablet:auto;--w-mobile:60%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none;--aspect:2289/620;--aspect-tablet:2289/620;--aspect-mobile:2289/620;--objf:cover"
      class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
    />
      </div>
    </div>
  
    </div>
                     
                  </div>
                  
                  <div class="gp-inline-flex gp-items-center gp-relative gp-transition-all gp-w-full"
                     style="--pr:60px;--pr-tablet:60px;--pr-mobile:41px;text-wrap:wrap;--w:calc(100% / 4);--w-tablet:calc(100% / 4);--w-mobile:150px;--minw:calc(100% / 4);--minw-tablet:calc(100% / 4);--minw-mobile:150px;--maxw:calc(100% / 4);--maxw-tablet:calc(100% / 4);--maxw-mobile:150px">
                     <div
      class="gp-relative gp-overflow-hidden gem-marquee-item  gJ3NwL_OLu gem-marquee-item-gJ3NwL_OLu"
      style="--bg:transparent;--w:calc(100%);--w-tablet:calc(100%);--w-mobile:calc(100%);--b:none;--bw:1px 1px 1px 1px;--bc:#000000"
    >
      <div className="first-block gp-w-[0.01px]"></div>
      
    <div
      role="presentation"
      data-id="gwdvb64UoV"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:12px;--pb:12px;--ta:center"
      class="gp-group/image gp-relative force-publish-1764275966550 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gwdvb64UoV"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <img
      width="1850" height="979" draggable="false" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}" data-sizes="auto" sizes="100vw" src="{{ "gempages_562294279301497736-e59961a3-9b44-4926-955e-34f0475f4a40.png" | file_url }}" isNotLazyload="true" srcset base-src="{{ "gempages_562294279301497736-e59961a3-9b44-4926-955e-34f0475f4a40.png" | file_url }}" loading="lazy"
      id=""
      style="--w:auto;--w-tablet:auto;--w-mobile:60%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none;--aspect:1850/979;--aspect-tablet:1850/979;--aspect-mobile:1850/979;--objf:cover"
      class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
    />
      </div>
    </div>
  
    </div>
                     
                  </div>
                  
                  <div class="gp-inline-flex gp-items-center gp-relative gp-transition-all gp-w-full"
                     style="--pr:60px;--pr-tablet:60px;--pr-mobile:41px;text-wrap:wrap;--w:calc(100% / 4);--w-tablet:calc(100% / 4);--w-mobile:150px;--minw:calc(100% / 4);--minw-tablet:calc(100% / 4);--minw-mobile:150px;--maxw:calc(100% / 4);--maxw-tablet:calc(100% / 4);--maxw-mobile:150px">
                     <div
      class="gp-relative gp-overflow-hidden gem-marquee-item  g4HKIkAVYV gem-marquee-item-g4HKIkAVYV"
      style="--bg:transparent;--w:calc(100%);--w-tablet:calc(100%);--w-mobile:calc(100%);--b:none;--bw:1px 1px 1px 1px;--bc:#000000"
    >
      <div className="first-block gp-w-[0.01px]"></div>
      
    <div
      role="presentation"
      data-id="g9WTso3Uo6"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:12px;--pb:12px;--ta:center"
      class="gp-group/image gp-relative force-publish-1764275966551 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto g9WTso3Uo6"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <img
      width="848" height="381" draggable="false" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}" data-sizes="auto" sizes="100vw" src="{{ "gempages_562294279301497736-60a643eb-bef8-4895-a16e-8aa1e01999f6.png" | file_url }}" isNotLazyload="true" srcset base-src="{{ "gempages_562294279301497736-60a643eb-bef8-4895-a16e-8aa1e01999f6.png" | file_url }}" loading="lazy"
      id=""
      style="--w:auto;--w-tablet:auto;--w-mobile:60%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none;--aspect:848/381;--aspect-tablet:848/381;--aspect-mobile:848/381;--objf:cover"
      class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
    />
      </div>
    </div>
  
    </div>
                     
                  </div>
                  
                  <div class="gp-inline-flex gp-items-center gp-relative gp-transition-all gp-w-full"
                     style="--pr:60px;--pr-tablet:60px;--pr-mobile:41px;text-wrap:wrap;--w:calc(100% / 4);--w-tablet:calc(100% / 4);--w-mobile:150px;--minw:calc(100% / 4);--minw-tablet:calc(100% / 4);--minw-mobile:150px;--maxw:calc(100% / 4);--maxw-tablet:calc(100% / 4);--maxw-mobile:150px">
                     <div
      class="gp-relative gp-overflow-hidden gem-marquee-item  g5awP4TkwW gem-marquee-item-g5awP4TkwW"
      style="--bg:transparent;--w:calc(100%);--w-tablet:calc(100%);--w-mobile:calc(100%);--b:none;--bw:1px 1px 1px 1px;--bc:#000000"
    >
      <div className="first-block gp-w-[0.01px]"></div>
      
    <div
      role="presentation"
      data-id="girrITxILE"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:12px;--pb:12px;--ta:center"
      class="gp-group/image gp-relative force-publish-1764275966552 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto girrITxILE"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <img
      width="848" height="381" draggable="false" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}" data-sizes="auto" sizes="100vw" src="{{ "gempages_562294279301497736-8b9745a6-edb0-43de-905a-13598d389d92.png" | file_url }}" isNotLazyload="true" srcset base-src="{{ "gempages_562294279301497736-8b9745a6-edb0-43de-905a-13598d389d92.png" | file_url }}" loading="lazy"
      id=""
      style="--w:auto;--w-tablet:auto;--w-mobile:60%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none;--aspect:848/381;--aspect-tablet:848/381;--aspect-mobile:848/381;--objf:cover"
      class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
    />
      </div>
    </div>
  
    </div>
                     
                  </div>
                  
               </div>
               
        </div>
        
      </div>
    </div>
    <div class="rfm-marquee placeholder-marquee" style="--play:running;--direction:normal;--delay:0s;--iteration-count:infinite;--min-width:auto;--w:100%;--w-tablet:100%;--w-mobile:auto;--minw:100%;--minw-tablet:100%;--minw-mobile:auto"></div>
  </div>
  
            </div>
         </div>
      </div>
   </div>
</gp-marquee>

    

    

    
    <gp-row gp-data='{"uid":"gT1-OIEGak"}' data-id="gT1-OIEGak" id="gT1-OIEGak" data-same-height-subgrid-container class="gT1-OIEGak gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:none;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g97F2UreVZ gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gDx2cusC-i"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1764275966563 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gDx2cusC-i"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_562294279301497736-1c8a880c-903d-4570-b8da-0bd31b36ff54.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTEwODAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTA4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiBmaWxsPSJ1cmwoI2ctMTA4MC0xMDgwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_562294279301497736-1c8a880c-903d-4570-b8da-0bd31b36ff54.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTEwODAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTA4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiBmaWxsPSJ1cmwoI2ctMTA4MC0xMDgwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "gempages_562294279301497736-1c8a880c-903d-4570-b8da-0bd31b36ff54.png" | file_url }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTEwODAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTA4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiBmaWxsPSJ1cmwoI2ctMTA4MC0xMDgwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "gempages_562294279301497736-1c8a880c-903d-4570-b8da-0bd31b36ff54.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="g75pAAFw7L gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gaY6AHk2FO"
        class="gaY6AHk2FO"
        style="--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--radius:var(--g-radius-small);--mb:var(--g-s-s);--pl:var(undefined);--pr:var(undefined);--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:var(undefined);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:center;--ta-mobile:center;--c:#242424;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:700;--size:38px;--size-tablet:38px;--size-mobile:27px;--lh:120%;--lh-tablet:120%;--lh-mobile:120%;--ls:normal;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggaY6AHk2FO_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    <div
      role="presentation"
      data-id="g3BYNq2Ipu"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:12px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:28px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:12px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1764275966565 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto g3BYNq2Ipu"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_562294279301497736-4021c969-a023-4fc7-8da1-f7568da5dfe3.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDgxIiBoZWlnaHQ9IjM1NSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNDgxLTM1NSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNDgxIiBoZWlnaHQ9IjM1NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDgxIiBoZWlnaHQ9IjM1NSIgZmlsbD0idXJsKCNnLTQ4MS0zNTUpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii00ODEiIHRvPSI0ODEiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_562294279301497736-4021c969-a023-4fc7-8da1-f7568da5dfe3.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDgxIiBoZWlnaHQ9IjM1NSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNDgxLTM1NSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNDgxIiBoZWlnaHQ9IjM1NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDgxIiBoZWlnaHQ9IjM1NSIgZmlsbD0idXJsKCNnLTQ4MS0zNTUpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii00ODEiIHRvPSI0ODEiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "gempages_562294279301497736-4021c969-a023-4fc7-8da1-f7568da5dfe3.png" | file_url }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDgxIiBoZWlnaHQ9IjM1NSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNDgxLTM1NSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNDgxIiBoZWlnaHQ9IjM1NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDgxIiBoZWlnaHQ9IjM1NSIgZmlsbD0idXJsKCNnLTQ4MS0zNTUpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii00ODEiIHRvPSI0ODEiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "gempages_562294279301497736-4021c969-a023-4fc7-8da1-f7568da5dfe3.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:85%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    <gp-button
      gp-data='{"btnLink":{"link":"#scroll-to-top","selectedTab":"scrollToList","target":"_self","title":"Scroll to top"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:8px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:left;--ta-mobile:center" >
        <style>[data-id="g5MQg5w3F2"].gp-button-base::before, [data-id="g5MQg5w3F2-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: solid;
  border-width: 4px 4px 4px 4px;
  border-color: #092e7c;
  
    border-radius: var(--g-radius-small);
  
    }
  
      
  [data-id="g5MQg5w3F2"]:hover::before, [data-id="g5MQg5w3F2-interaction"]:hover::before {
    
    
  }</style>
        <a
            class="gp-trigger-button-link gp-hidden"
            href=#scroll-to-top
            target=_self
          ></a>
        <a
          data-id="g5MQg5w3F2" dataId="g5MQg5w3F2" data-state="idle" aria-label="<p>Try New Aura</p>"
          
          href="#scroll-to-top" target="_self"
          style="--w:100%;--w-tablet:100%;--w-mobile:80%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:8px;--pb-mobile:8px;--radius:var(--g-radius-small);--hvr-radius:var(--g-radius-small);--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:#ffffff;--bg:rgba(98, 175, 227, 0.7);--c:#151515;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--size:22px;--size-tablet:22px;--size-mobile:20px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold"
          class="g5MQg5w3F2 gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--size:22px;--size-tablet:22px;--size-mobile:20px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.gg5MQg5w3F2_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    <div
      role="presentation"
      data-id="g9P4h6BaU6"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:12px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:16px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:12px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1764275966570 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto g9P4h6BaU6"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_562294279301497736-94c4d8be-69ce-434e-8814-d8df16e9f918.png" | file_url }}" srcset="{{ "gempages_562294279301497736-94c4d8be-69ce-434e-8814-d8df16e9f918.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_562294279301497736-94c4d8be-69ce-434e-8814-d8df16e9f918.png" | file_url }}" srcset="{{ "gempages_562294279301497736-94c4d8be-69ce-434e-8814-d8df16e9f918.png" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "gempages_562294279301497736-94c4d8be-69ce-434e-8814-d8df16e9f918.png" | file_url }}" data-src="{{ "gempages_562294279301497736-94c4d8be-69ce-434e-8814-d8df16e9f918.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:65%;--w-tablet:65%;--w-mobile:70%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g1bWxnyivL"
        class="g1bWxnyivL"
        style="--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:none;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--radius:var(--g-radius-small);--mb:var(--g-s-s);--pl:var(undefined);--pr:var(undefined);--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:var(undefined);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:center;--ta-mobile:center;--c:#242424;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:700;--size:38px;--size-tablet:38px;--size-mobile:27px;--lh:120%;--lh-tablet:120%;--lh-mobile:120%;--ls:normal;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg1bWxnyivL_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    <div
      role="presentation"
      data-id="g016wWT-AZ"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:none;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1764275966578 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto g016wWT-AZ"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_562294279301497736-1c8a880c-903d-4570-b8da-0bd31b36ff54.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTEwODAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTA4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiBmaWxsPSJ1cmwoI2ctMTA4MC0xMDgwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_562294279301497736-1c8a880c-903d-4570-b8da-0bd31b36ff54.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTEwODAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTA4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiBmaWxsPSJ1cmwoI2ctMTA4MC0xMDgwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "gempages_562294279301497736-1c8a880c-903d-4570-b8da-0bd31b36ff54.png" | file_url }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTEwODAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTA4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiBmaWxsPSJ1cmwoI2ctMTA4MC0xMDgwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "gempages_562294279301497736-1c8a880c-903d-4570-b8da-0bd31b36ff54.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 6",
    "tag": "section",
    "class": "gps-579452837411422817 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/feppvi-1c/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=579345008717464085&sectionId=579452837411422817)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggaY6AHk2FO_text","label":"ggaY6AHk2FO_text","default":"The Results..."},{"type":"html","id":"gg5MQg5w3F2_label","label":"gg5MQg5w3F2_label","default":"<p>Try New Aura</p>"},{"type":"html","id":"gg1bWxnyivL_text","label":"gg1bWxnyivL_text","default":"The Results..."}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}