
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-580966271966052872.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-580966271966052872.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-580966271966052872.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-580966271966052872.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-580966271966052872.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-580966271966052872.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-580966271966052872.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-580966271966052872.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-580966271966052872.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-580966271966052872.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-580966271966052872.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-580966271966052872.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-580966271966052872.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-580966271966052872.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-580966271966052872.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-580966271966052872.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-580966271966052872.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-580966271966052872.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-580966271966052872.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-580966271966052872.gps.gpsil [style*="--hvr-radius:"]:hover{border-radius:var(--hvr-radius)}.gps-580966271966052872.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-580966271966052872.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-580966271966052872.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-580966271966052872.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-580966271966052872.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-580966271966052872.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-580966271966052872.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-580966271966052872.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-580966271966052872.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-580966271966052872.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-580966271966052872.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-580966271966052872.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-580966271966052872.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-580966271966052872.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-580966271966052872.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-580966271966052872.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-580966271966052872.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-580966271966052872.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-580966271966052872.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-580966271966052872.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-580966271966052872.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-580966271966052872.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-580966271966052872.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-580966271966052872.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-580966271966052872.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-580966271966052872.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-580966271966052872.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-580966271966052872.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-580966271966052872.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-580966271966052872.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-580966271966052872.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-580966271966052872.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-580966271966052872.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-580966271966052872.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-580966271966052872.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-580966271966052872.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-580966271966052872.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-580966271966052872.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-580966271966052872.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-580966271966052872.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-580966271966052872.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-580966271966052872.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-580966271966052872.gps.gpsil [style*="--jc-tablet:"]{justify-content:var(--jc-tablet)}.gps-580966271966052872.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-580966271966052872.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-580966271966052872.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-580966271966052872.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-580966271966052872.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-580966271966052872.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-580966271966052872.gps.gpsil [style*="--bblr-mobile:"]{border-bottom-left-radius:var(--bblr-mobile)}.gps-580966271966052872.gps.gpsil [style*="--bbrr-mobile:"]{border-bottom-right-radius:var(--bbrr-mobile)}.gps-580966271966052872.gps.gpsil [style*="--btlr-mobile:"]{border-top-left-radius:var(--btlr-mobile)}.gps-580966271966052872.gps.gpsil [style*="--btrr-mobile:"]{border-top-right-radius:var(--btrr-mobile)}.gps-580966271966052872.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-580966271966052872.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-580966271966052872.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-580966271966052872.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-580966271966052872.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-580966271966052872.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-580966271966052872.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-580966271966052872.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-580966271966052872.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-580966271966052872.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-580966271966052872.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-580966271966052872.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-580966271966052872.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-580966271966052872.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-580966271966052872.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-580966271966052872 .gp-g-subheading-1{font-family:var(--g-sh1-ff);font-size:var(--g-sh1-size);font-style:var(--g-sh1-fs);font-weight:var(--g-sh1-weight);letter-spacing:var(--g-sh1-ls);line-height:var(--g-sh1-lh)}.gps-580966271966052872 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-580966271966052872 .gp-relative{position:relative}.gps-580966271966052872 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-580966271966052872 .gp-mb-0{margin-bottom:0}.gps-580966271966052872 .gp-inline-block{display:inline-block}.gps-580966271966052872 .gp-flex{display:flex}.gps-580966271966052872 .gp-inline-flex{display:inline-flex}.gps-580966271966052872 .gp-grid{display:grid}.gps-580966271966052872 .gp-contents{display:contents}.gps-580966271966052872 .\!gp-hidden{display:none!important}.gps-580966271966052872 .gp-hidden{display:none}.gps-580966271966052872 .gp-h-auto{height:auto}.gps-580966271966052872 .gp-h-full{height:100%}.gps-580966271966052872 .gp-w-full{width:100%}.gps-580966271966052872 .gp-max-w-full{max-width:100%}.gps-580966271966052872 .gp-flex-1{flex:1 1 0%}.gps-580966271966052872 .gp-flex-none{flex:none}.gps-580966271966052872 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-580966271966052872 .gp-flex-col{flex-direction:column}.gps-580966271966052872 .gp-items-center{align-items:center}.gps-580966271966052872 .gp-justify-center{justify-content:center}.gps-580966271966052872 .gp-overflow-hidden{overflow:hidden}.gps-580966271966052872 .gp-break-words{overflow-wrap:break-word}.gps-580966271966052872 .gp-text-center{text-align:center}.gps-580966271966052872 .gp-no-underline{text-decoration-line:none}.gps-580966271966052872 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-580966271966052872 .gp-duration-200{transition-duration:.2s}.gps-580966271966052872 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-580966271966052872 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-580966271966052872 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-580966271966052872 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-580966271966052872 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-580966271966052872 .tablet\:\!gp-hidden{display:none!important}.gps-580966271966052872 .tablet\:gp-hidden{display:none}.gps-580966271966052872 .tablet\:gp-h-auto{height:auto}.gps-580966271966052872 .tablet\:gp-h-full{height:100%}.gps-580966271966052872 .tablet\:gp-flex-1{flex:1 1 0%}.gps-580966271966052872 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-580966271966052872 .mobile\:\!gp-hidden{display:none!important}.gps-580966271966052872 .mobile\:gp-hidden{display:none}.gps-580966271966052872 .mobile\:gp-h-auto{height:auto}.gps-580966271966052872 .mobile\:gp-flex-none{flex:none}}.gps-580966271966052872 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-580966271966052872 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gpUPHKr5pQ"}' data-id="gpUPHKr5pQ" id="gpUPHKr5pQ" data-same-height-subgrid-container class="gpUPHKr5pQ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:32px;--pt:0px;--pb:var(--g-s-2xl);--pt-mobile:var(--g-s-m);--pb-mobile:var(--g-s-2xl);--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g0ZZQ8iUlf gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gVgJN7Daz-"}' data-id="gVgJN7Daz-" id="gVgJN7Daz-" data-same-height-subgrid-container class="gVgJN7Daz- gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="glLHd8remV gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gjfV5MA8mt"
        class="gjfV5MA8mt"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:none;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:0px;--pl-mobile:var(--g-s-m);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758558747367"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:700;--size:46px;--size-tablet:46px;--size-mobile:30px;--lh:130%;--lh-tablet:130%;--lh-mobile:150%;--c:var(--g-c-text-2, text-2);--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggjfV5MA8mt_text | replace: '$locationOrigin', locationOrigin | downcase }}
        </h2>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g4qHGQ9PDd"}' data-id="g4qHGQ9PDd" id="g4qHGQ9PDd" data-same-height-subgrid-container class="g4qHGQ9PDd gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:none;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:50px;--cg:1px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g56FKnAABR gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gvX54A-W4s"
        class="gvX54A-W4s"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:12px;--mb-mobile:0px;--pl-mobile:var(--g-s-m);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758558747371"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:700;--size:46px;--size-tablet:46px;--size-mobile:30px;--lh:130%;--lh-tablet:130%;--lh-mobile:150%;--c:var(--g-c-text-2, text-2);--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggvX54A-W4s_text | replace: '$locationOrigin', locationOrigin | downcase }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gxPCqpxfuw"
        class="gxPCqpxfuw"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:12px;--mb-mobile:8px;--pl-mobile:var(--g-s-m);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758558747372"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:500;--size:29px;--size-tablet:46px;--size-mobile:25px;--lh:130%;--lh-tablet:130%;--lh-mobile:120%;--fs:italic;--c:var(--g-c-text-2, text-2);--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggxPCqpxfuw_text | replace: '$locationOrigin', locationOrigin | downcase }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gaSPFEM25j"
        class="gaSPFEM25j"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:20px;--mb-mobile:16px;--pl-mobile:12px;--pr-mobile:10px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758558747373"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:400;--size:23px;--size-tablet:25px;--size-mobile:15px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggaSPFEM25j_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    <div
      role="presentation"
      data-id="gsjyO5Pi-x"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml:0px;--mb:100px;--mr:100px;--pr:0px;--mb-mobile:16px;--pl-mobile:var(--g-s-m);--ta:center"
      class="gp-group/image gp-relative force-publish-1758558747373 gp-flex-1 gp-h-full mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-1 tablet:gp-h-full gsjyO5Pi-x"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_562294279301497736-09f585cd-595d-4fb2-83cc-46972b955d07.png" | file_url }}" srcset="{{ "gempages_562294279301497736-09f585cd-595d-4fb2-83cc-46972b955d07.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_562294279301497736-09f585cd-595d-4fb2-83cc-46972b955d07.png" | file_url }}" srcset="{{ "gempages_562294279301497736-09f585cd-595d-4fb2-83cc-46972b955d07.png" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "gempages_562294279301497736-09f585cd-595d-4fb2-83cc-46972b955d07.png" | file_url }}" data-src="{{ "gempages_562294279301497736-09f585cd-595d-4fb2-83cc-46972b955d07.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect-mobile:auto;--objf:contain;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:100%;--h-tablet:100%;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gXbbs5Ha4O gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--bblr-mobile:0px;--bbrr-mobile:0px;--btlr-mobile:0px;--btrr-mobile:0px;--ml-mobile:auto;--mb-mobile:12px;--mr-mobile:auto;--pl-mobile:var(--g-s-l);--pr-mobile:var(--g-s-l)" class="gtZ83yxNn2 ">
      
    <div class="gp-flex gp-w-full gp-overflow-hidden" style="border-radius:inherit">
      
    <gp-image-comparison
      data-id="gtZ83yxNn2"
      style="--jc:center;--jc-tablet:center;--jc-mobile:center"
      class="gp-w-full gp-flex"
      gp-data='{"hover":false,"handle":null,"vertical":false,"leftImage":{"backupFileKey":"gempages_562294279301497736-0a8cbc0b-42e8-45e0-84f7-eadbb8609577.png","height":1080,"src":"https://cdn.shopify.com/s/files/1/0930/1550/7240/files/gempages_562294279301497736-0a8cbc0b-42e8-45e0-84f7-eadbb8609577.png","storage":"FILE_CONTENT","width":1080},"rightImage":{"backupFileKey":"gempages_562294279301497736-cf560b82-5027-4cb6-a35c-09ed9243f030.png","height":1080,"src":"https://cdn.shopify.com/s/files/1/0930/1550/7240/files/gempages_562294279301497736-cf560b82-5027-4cb6-a35c-09ed9243f030.png","storage":"FILE_CONTENT","width":1080},"handleSize":40,"aspectRatio":{"desktop":"1","tablet":"1","mobile":"4/3"},"defaultRatio":"1080/1080","componentUid":"gtZ83yxNn2","leftImageCss":{},"rightImageCss":{},"sliderLineColor":"#ffffff","sliderLineWidth":2,"sliderPositionPercentage":0.5}'
    >
      <div id="img-comparison-wrapper-gtZ83yxNn2" style="--w:90%;--w-tablet:90%;--w-mobile:90%">
        <div
          id="img-comparison-container-gtZ83yxNn2"
          data-testid="container"
          style="height:auto;overflow:hidden;position:relative;box-sizing:border-box;display:block;--aspect:1;--aspect-tablet:1;--aspect-mobile:4/3"
        >
          
      <img alt="" src width="1080" height="1080" data-testid="temp-image" style="--pos:static;--op:0;--aspect:1;--aspect-tablet:1;--aspect-mobile:4/3" />
    
          
    <img
      data-testid="right-image" width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="{{ "gempages_562294279301497736-cf560b82-5027-4cb6-a35c-09ed9243f030.png" | file_url }}" isNotLazyload="true" srcset loading="eager" fetchpriority="high"
      id="right-image-gtZ83yxNn2"
      style="top:0;width:100%;height:100%;display:block;position:absolute;--objf:cover"
      
    />
          
    <img
      data-testid="left-image" width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="{{ "gempages_562294279301497736-0a8cbc0b-42e8-45e0-84f7-eadbb8609577.png" | file_url }}" isNotLazyload="true" srcset loading="eager" fetchpriority="high"
      id="left-image-gtZ83yxNn2"
      style="top:0;width:100%;height:100%;display:block;position:absolute;--objf:cover"
      
    />
          
    <div id="image-comparison-slider-gtZ83yxNn2" style="z-index:2;display:flex;position:absolute;align-items:center;justify-content:center;cursor:ew-resize;flex-direction:column;height:100%;width:40px">
      <div style="display:block;flex:0 1 auto;background:#ffffff;box-shadow:0px 0px 4px 0px rgba(0, 0, 0, 0.40);height:100%;width:2px"></div>
      <div style="display:flex;flex:1 0 auto;align-items:center;box-sizing:border-box;justify-content:center;border-radius:100%;width:40px;height:40px;box-shadow:0px 0px 4px 0px rgba(0, 0, 0, 0.40);transform:none;border:2px solid #ffffff">
          <svg
            style="filter:drop-shadow(rgba(0, 0, 0, 0.4) 0px 0px 4px);margin:0 2px 0 0"
            width="6" height="12"
            viewBox="0 0 6 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M0 6L6 0V12L0 6Z" fill="white"/>
          </svg>
          <svg
            style="filter:drop-shadow(rgba(0, 0, 0, 0.4) 0px 0px 4px);margin:0 0 0 2px"
            width="6"
            height="12"
            viewBox="0 0 6 12" fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M6 6L0 12V0L6 6Z" fill="white"/>
          </svg>
        </div>
      <div style="display:block;flex:0 1 auto;background:#ffffff;box-shadow:0px 0px 4px 0px rgba(0, 0, 0, 0.40);height:100%;width:2px"></div>
    </div>
  
          
          
        </div>
      </div>
    </gp-image-comparison>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-image-comparison-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
  
      </div>
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g9qB58y96k"
        class="g9qB58y96k"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:12px;--pl-mobile:var(--g-s-xl);--pr-mobile:10px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758558747376"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--ta-mobile:left;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:400;--size:25px;--size-tablet:25px;--size-mobile:15px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg9qB58y96k_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gnkSgWL4kn"
        class="gnkSgWL4kn"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:none;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:8px;--pl-mobile:var(--g-s-m);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758558747378"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:500;--size:46px;--size-tablet:46px;--size-mobile:25px;--lh:130%;--lh-tablet:130%;--lh-mobile:120%;--fs:italic;--c:var(--g-c-text-2, text-2);--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggnkSgWL4kn_text | replace: '$locationOrigin', locationOrigin | downcase }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gUN_UkHg7g"
        class="gUN_UkHg7g"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:none;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:16px;--pl-mobile:12px;--pr-mobile:10px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758558747379"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:400;--size:25px;--size-tablet:25px;--size-mobile:15px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggUN_UkHg7g_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    <div
      role="presentation"
      data-id="g8FRBsM9p7"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:none;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:16px;--pl-mobile:var(--g-s-m);--ta:center"
      class="gp-group/image gp-relative force-publish-1758558747380 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto g8FRBsM9p7"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_562294279301497736-09f585cd-595d-4fb2-83cc-46972b955d07.png" | file_url }}" srcset="{{ "gempages_562294279301497736-09f585cd-595d-4fb2-83cc-46972b955d07.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_562294279301497736-09f585cd-595d-4fb2-83cc-46972b955d07.png" | file_url }}" srcset="{{ "gempages_562294279301497736-09f585cd-595d-4fb2-83cc-46972b955d07.png" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "gempages_562294279301497736-09f585cd-595d-4fb2-83cc-46972b955d07.png" | file_url }}" data-src="{{ "gempages_562294279301497736-09f585cd-595d-4fb2-83cc-46972b955d07.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:none;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bblr-mobile:0px;--bbrr-mobile:0px;--btlr-mobile:0px;--btrr-mobile:0px;--ml-mobile:auto;--mb-mobile:12px;--mr-mobile:auto;--pl-mobile:var(--g-s-l);--pr-mobile:var(--g-s-l)" class="gBVfbrCevH ">
      
    <div class="gp-flex gp-w-full gp-overflow-hidden" style="border-radius:inherit">
      
    <gp-image-comparison
      data-id="gBVfbrCevH"
      style="--jc:start;--jc-tablet:start;--jc-mobile:start"
      class="gp-w-full gp-flex"
      gp-data='{"hover":false,"handle":null,"vertical":false,"leftImage":{"backupFileKey":"gempages_562294279301497736-0a8cbc0b-42e8-45e0-84f7-eadbb8609577.png","height":1080,"src":"https://cdn.shopify.com/s/files/1/0930/1550/7240/files/gempages_562294279301497736-0a8cbc0b-42e8-45e0-84f7-eadbb8609577.png","storage":"FILE_CONTENT","width":1080},"rightImage":{"backupFileKey":"gempages_562294279301497736-cf560b82-5027-4cb6-a35c-09ed9243f030.png","height":1080,"src":"https://cdn.shopify.com/s/files/1/0930/1550/7240/files/gempages_562294279301497736-cf560b82-5027-4cb6-a35c-09ed9243f030.png","storage":"FILE_CONTENT","width":1080},"handleSize":40,"aspectRatio":{"desktop":"16/9","tablet":"16/9","mobile":"4/3"},"defaultRatio":"1080/1080","componentUid":"gBVfbrCevH","leftImageCss":{},"rightImageCss":{},"sliderLineColor":"#ffffff","sliderLineWidth":2,"sliderPositionPercentage":0.5}'
    >
      <div id="img-comparison-wrapper-gBVfbrCevH" style="--w:100%;--w-tablet:100%;--w-mobile:100%">
        <div
          id="img-comparison-container-gBVfbrCevH"
          data-testid="container"
          style="height:auto;overflow:hidden;position:relative;box-sizing:border-box;display:block;--aspect:16/9;--aspect-tablet:16/9;--aspect-mobile:4/3"
        >
          
      <img alt="" src width="1080" height="1080" data-testid="temp-image" style="--pos:static;--op:0;--aspect:16/9;--aspect-tablet:16/9;--aspect-mobile:4/3" />
    
          
    <img
      data-testid="right-image" width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="{{ "gempages_562294279301497736-cf560b82-5027-4cb6-a35c-09ed9243f030.png" | file_url }}" isNotLazyload="true" srcset loading="eager" fetchpriority="high"
      id="right-image-gBVfbrCevH"
      style="top:0;width:100%;height:100%;display:block;position:absolute;--objf:cover"
      
    />
          
    <img
      data-testid="left-image" width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="{{ "gempages_562294279301497736-0a8cbc0b-42e8-45e0-84f7-eadbb8609577.png" | file_url }}" isNotLazyload="true" srcset loading="eager" fetchpriority="high"
      id="left-image-gBVfbrCevH"
      style="top:0;width:100%;height:100%;display:block;position:absolute;--objf:cover"
      
    />
          
    <div id="image-comparison-slider-gBVfbrCevH" style="z-index:2;display:flex;position:absolute;align-items:center;justify-content:center;cursor:ew-resize;flex-direction:column;height:100%;width:40px">
      <div style="display:block;flex:0 1 auto;background:#ffffff;box-shadow:0px 0px 4px 0px rgba(0, 0, 0, 0.40);height:100%;width:2px"></div>
      <div style="display:flex;flex:1 0 auto;align-items:center;box-sizing:border-box;justify-content:center;border-radius:100%;width:40px;height:40px;box-shadow:0px 0px 4px 0px rgba(0, 0, 0, 0.40);transform:none;border:2px solid #ffffff">
          <svg
            style="filter:drop-shadow(rgba(0, 0, 0, 0.4) 0px 0px 4px);margin:0 2px 0 0"
            width="6" height="12"
            viewBox="0 0 6 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M0 6L6 0V12L0 6Z" fill="white"/>
          </svg>
          <svg
            style="filter:drop-shadow(rgba(0, 0, 0, 0.4) 0px 0px 4px);margin:0 0 0 2px"
            width="6"
            height="12"
            viewBox="0 0 6 12" fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M6 6L0 12V0L6 6Z" fill="white"/>
          </svg>
        </div>
      <div style="display:block;flex:0 1 auto;background:#ffffff;box-shadow:0px 0px 4px 0px rgba(0, 0, 0, 0.40);height:100%;width:2px"></div>
    </div>
  
          
          
        </div>
      </div>
    </gp-image-comparison>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-image-comparison-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
  
      </div>
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g8lU2P-Ql8"}' data-id="g8lU2P-Ql8" id="g8lU2P-Ql8" data-same-height-subgrid-container class="g8lU2P-Ql8 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:none;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:100px;--cg:8px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="ghJ-vTW9sM gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="g4Us_3OHi3"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:8px;--ml-mobile:var(--g-s-s);--mb-mobile:12px;--mr-mobile:var(--g-s-s);--ta:center"
      class="gp-group/image gp-relative force-publish-1758558747392 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto g4Us_3OHi3"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_562294279301497736-3b7702f6-5e37-46ed-a1b1-978bd5ec21ac.png" | file_url }}" srcset="{{ "gempages_562294279301497736-3b7702f6-5e37-46ed-a1b1-978bd5ec21ac.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_562294279301497736-3b7702f6-5e37-46ed-a1b1-978bd5ec21ac.png" | file_url }}" srcset="{{ "gempages_562294279301497736-3b7702f6-5e37-46ed-a1b1-978bd5ec21ac.png" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "gempages_562294279301497736-3b7702f6-5e37-46ed-a1b1-978bd5ec21ac.png" | file_url }}" data-src="{{ "gempages_562294279301497736-3b7702f6-5e37-46ed-a1b1-978bd5ec21ac.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:80%;--w-tablet:80%;--w-mobile:95%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--radiusType:rounded;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gqVBT_jAcK gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gZjtUTFR66"
        class="gZjtUTFR66"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:25px;--mb-mobile:8px;--pl-mobile:var(--g-s-m);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758558747394"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:800;--size:46px;--size-tablet:46px;--size-mobile:22px;--lh:130%;--lh-tablet:130%;--lh-mobile:150%;--c:var(--g-c-text-2, text-2);--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggZjtUTFR66_text | replace: '$locationOrigin', locationOrigin | downcase }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gebhZIoTBD"
        class="gebhZIoTBD"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:28px;--ml-mobile:12px;--mb-mobile:12px;--mr-mobile:10px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758558747395"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-subheading-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:23px;--size-tablet:25px;--size-mobile:15px;--c:#121212;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggebhZIoTBD_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g2w-NFpXKW"
        class="g2w-NFpXKW"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml:0px;--mb:16px;--mr:0px;--pl:0px;--pr:0px;--ml-mobile:12px;--mb-mobile:12px;--mr-mobile:10px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758558747396"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-subheading-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:20px;--size-tablet:25px;--size-mobile:15px;--c:#121212;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg2w-NFpXKW_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <gp-button
      gp-data='{"btnLink":{"link":"#scroll-to-top","selectedTab":"scrollToList","target":"_self","title":"Scroll to top"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--ta-mobile:center" >
        <style>[data-id="gMD5ZafC87"].gp-button-base::before, [data-id="gMD5ZafC87-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: solid;
  border-width: 4px 4px 4px 4px;
  border-color: #092e7c;
  
    border-radius: var(--g-radius-small);
  
    }
  
      
  [data-id="gMD5ZafC87"]:hover::before, [data-id="gMD5ZafC87-interaction"]:hover::before {
    
    
  }</style>
        <a
            class="gp-trigger-button-link gp-hidden"
            href=#scroll-to-top
            target=_self
          ></a>
        <a
          data-id="gMD5ZafC87" dataId="gMD5ZafC87" data-state="idle" aria-label="<p>Try New Aura</p>"
          
          href="#scroll-to-top" target="_self"
          style="--w:90%;--w-tablet:90%;--w-mobile:80%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:32px;--pr:32px;--pt:12px;--pb:12px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:8px;--pb-mobile:8px;--radius:var(--g-radius-small);--hvr-radius:var(--g-radius-small);--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:#ffffff;--bg:rgba(98, 175, 227, 0.7);--c:#151515;--size:16px;--size-tablet:16px;--size-mobile:19px;--weight:bold"
          class="gMD5ZafC87 gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30  gp-g-paragraph-1"
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--size:16px;--size-tablet:16px;--size-mobile:19px;--weight:bold;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggMD5ZafC87_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gZFh00YdZa"
        class="gZFh00YdZa"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:none;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:12px;--pl-mobile:var(--g-s-xl);--pr-mobile:10px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758558747400"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:left;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:400;--size:25px;--size-tablet:25px;--size-mobile:15px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggZFh00YdZa_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gY2024Clb6"
        class="gY2024Clb6"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:none;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:8px;--pl-mobile:var(--g-s-m);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758558747401"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:800;--size:46px;--size-tablet:46px;--size-mobile:22px;--lh:130%;--lh-tablet:130%;--lh-mobile:150%;--c:var(--g-c-text-2, text-2);--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggY2024Clb6_text | replace: '$locationOrigin', locationOrigin | downcase }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="goild-2Yn-"
        class="goild-2Yn-"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:none;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml-mobile:12px;--mb-mobile:12px;--mr-mobile:10px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758558747402"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-subheading-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:25px;--size-tablet:25px;--size-mobile:15px;--c:#121212;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggoild-2Yn-_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <div
      role="presentation"
      data-id="gy-xnhyKwE"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:none;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml-mobile:var(--g-s-s);--mb-mobile:12px;--mr-mobile:var(--g-s-s);--ta:center"
      class="gp-group/image gp-relative force-publish-1758558747402 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gy-xnhyKwE"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_562294279301497736-3b7702f6-5e37-46ed-a1b1-978bd5ec21ac.png" | file_url }}" srcset="{{ "gempages_562294279301497736-3b7702f6-5e37-46ed-a1b1-978bd5ec21ac.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_562294279301497736-3b7702f6-5e37-46ed-a1b1-978bd5ec21ac.png" | file_url }}" srcset="{{ "gempages_562294279301497736-3b7702f6-5e37-46ed-a1b1-978bd5ec21ac.png" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "gempages_562294279301497736-3b7702f6-5e37-46ed-a1b1-978bd5ec21ac.png" | file_url }}" data-src="{{ "gempages_562294279301497736-3b7702f6-5e37-46ed-a1b1-978bd5ec21ac.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w-mobile:95%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--radiusType:square;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gRJqnc8WIZ"
        class="gRJqnc8WIZ"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:none;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml-mobile:12px;--mb-mobile:12px;--mr-mobile:10px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758558747403"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-subheading-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:25px;--size-tablet:25px;--size-mobile:15px;--c:#121212;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggRJqnc8WIZ_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <gp-button
      gp-data='{"btnLink":{"link":"#scroll-to-top","selectedTab":"scrollToList","target":"_self","title":"Scroll to top"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:none;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--ta-mobile:center" >
        <style>[data-id="gzZYHJ6sAn"].gp-button-base::before, [data-id="gzZYHJ6sAn-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: solid;
  border-width: 4px 4px 4px 4px;
  border-color: #092e7c;
  
    border-radius: var(--g-radius-small);
  
    }
  
      
  [data-id="gzZYHJ6sAn"]:hover::before, [data-id="gzZYHJ6sAn-interaction"]:hover::before {
    
    
  }</style>
        <a
            class="gp-trigger-button-link gp-hidden"
            href=#scroll-to-top
            target=_self
          ></a>
        <a
          data-id="gzZYHJ6sAn" dataId="gzZYHJ6sAn" data-state="idle" aria-label="<p>Try New Aura</p>"
          
          href="#scroll-to-top" target="_self"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:80%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:8px;--pb-mobile:8px;--radius:var(--g-radius-small);--hvr-radius:var(--g-radius-small);--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:#ffffff;--bg:rgba(98, 175, 227, 0.7);--c:#151515;--size:16px;--size-tablet:16px;--size-mobile:19px;--weight:bold"
          class="gzZYHJ6sAn gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30  gp-g-paragraph-1"
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--size:16px;--size-tablet:16px;--size-mobile:19px;--weight:bold;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggzZYHJ6sAn_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrJJfedA.woff) format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLGT9Z1xlEw.woff) format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLCz7Z1xlEw.woff) format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLDD4Z1xlEw.woff) format('woff');
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrJJbecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrJJnecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLGT9Z11lFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLGT9Z1JlFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLGT9Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLCz7Z11lFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLCz7Z1JlFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLCz7Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLDD4Z11lFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLDD4Z1JlFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLDD4Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>
    
{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-580966271966052872 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/feppvi-1c/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=580966271848284680&sectionId=580966271966052872)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggjfV5MA8mt_text","label":"ggjfV5MA8mt_text","default":"Feel better. Look better."},{"type":"html","id":"ggvX54A-W4s_text","label":"ggvX54A-W4s_text","default":"Feel better. Look better."},{"type":"html","id":"ggxPCqpxfuw_text","label":"ggxPCqpxfuw_text","default":"<span style=\"font-size:27px;\">Say Goodbye to the itching, flaking, and redness for good</span>"},{"type":"html","id":"ggaSPFEM25j_text","label":"ggaSPFEM25j_text","default":"<span style=\"font-size:20px;\">New Aura targets the real root of beard irritation: inflamed, itchy, and fungus-infested skin. Our herbal-powered formula<strong> soothes, calms, and restores</strong>  so you can finally grow a clean, flake-free beard with confidence.</span>"},{"type":"html","id":"ggtZ83yxNn2_leftImageLabel","label":"ggtZ83yxNn2_leftImageLabel","default":"Before"},{"type":"html","id":"ggtZ83yxNn2_rightImageLabel","label":"ggtZ83yxNn2_rightImageLabel","default":"After"},{"type":"html","id":"gg9qB58y96k_text","label":"gg9qB58y96k_text","default":"<span style=\"background-color:rgb(255,255,255);color:rgb(48,48,48);font-size:14px;\"><i>Lachlan, 38 - 3 weeks into using New Aura**</i></span>"},{"type":"html","id":"ggnkSgWL4kn_text","label":"ggnkSgWL4kn_text","default":"Say Goodbye to the itching, flaking, and redness for good"},{"type":"html","id":"ggUN_UkHg7g_text","label":"ggUN_UkHg7g_text","default":"New Aura targets the real root of beard irritation: inflamed, itchy, and fungus-infested skin. Our herbal-powered formula<strong> soothes, calms, and restores</strong>  so you can finally grow a clean, flake-free beard with confidence."},{"type":"html","id":"ggBVfbrCevH_leftImageLabel","label":"ggBVfbrCevH_leftImageLabel","default":"Before"},{"type":"html","id":"ggBVfbrCevH_rightImageLabel","label":"ggBVfbrCevH_rightImageLabel","default":"After"},{"type":"html","id":"ggZjtUTFR66_text","label":"ggZjtUTFR66_text","default":"<span style=\"font-size:36px;\">One Cream. 4 Problems Solved.</span>"},{"type":"html","id":"ggebhZIoTBD_text","label":"ggebhZIoTBD_text","default":"<p><span style=\"font-size:20px;\">Youre not just dealing with dry skin.</span><br><span style=\"font-size:20px;\">Whether its <strong>seborrheic dermatitis, psoriasis, dandruff, or just constant itch</strong>  New Aura is trusted by over 87,000+ men to stop beard flakes at the root, even when everything else failed.</span></p>"},{"type":"html","id":"gg2w-NFpXKW_text","label":"gg2w-NFpXKW_text","default":"<p><span style=\"font-size:20px;\"><i>No steroids. No greasy buildup. Just clear, calm skin you dont have to think about.</i></span></p>"},{"type":"html","id":"ggMD5ZafC87_label","label":"ggMD5ZafC87_label","default":"<p>Try New Aura</p>"},{"type":"html","id":"ggZFh00YdZa_text","label":"ggZFh00YdZa_text","default":"<span style=\"background-color:rgb(255,255,255);color:rgb(48,48,48);font-size:14px;\"><i>Lachlan, 38 - 3 weeks into using New Aura**</i></span>"},{"type":"html","id":"ggY2024Clb6_text","label":"ggY2024Clb6_text","default":"One Cream. 4 Problems Solved."},{"type":"html","id":"ggoild-2Yn-_text","label":"ggoild-2Yn-_text","default":"<p>Youre not just dealing with dry skin.<br>Whether its <strong>seborrheic dermatitis, psoriasis, dandruff, or just constant itch</strong>  New Aura is trusted by over 87,000+ men to stop beard flakes at the root, even when everything else failed.</p>"},{"type":"html","id":"ggRJqnc8WIZ_text","label":"ggRJqnc8WIZ_text","default":"<p><i>No steroids. No greasy buildup. Just clear, calm skin you dont have to think about.</i></p>"},{"type":"html","id":"ggzZYHJ6sAn_label","label":"ggzZYHJ6sAn_label","default":"<p>Try New Aura</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  