
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-593155135010505456.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-593155135010505456.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-593155135010505456.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-593155135010505456.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-593155135010505456.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-593155135010505456.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-593155135010505456.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-593155135010505456.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-593155135010505456.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-593155135010505456.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-593155135010505456.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-593155135010505456.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-593155135010505456.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-593155135010505456.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-593155135010505456.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-593155135010505456.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-593155135010505456.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-593155135010505456.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-593155135010505456.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-593155135010505456.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-593155135010505456.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-593155135010505456.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-593155135010505456.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-593155135010505456.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-593155135010505456.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-593155135010505456.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-593155135010505456.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-593155135010505456.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-593155135010505456.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-593155135010505456.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-593155135010505456.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-593155135010505456.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-593155135010505456.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-593155135010505456.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-593155135010505456.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-593155135010505456.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-593155135010505456.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-593155135010505456.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-593155135010505456.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-593155135010505456.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-593155135010505456.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-593155135010505456.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-593155135010505456.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-593155135010505456.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-593155135010505456.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-593155135010505456.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-593155135010505456.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-593155135010505456.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-593155135010505456.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-593155135010505456.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-593155135010505456.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-593155135010505456.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-593155135010505456.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-593155135010505456.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-593155135010505456.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-593155135010505456.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-593155135010505456.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-593155135010505456.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-593155135010505456.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-593155135010505456.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-593155135010505456.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-593155135010505456.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-593155135010505456.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-593155135010505456.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-593155135010505456.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-593155135010505456.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-593155135010505456.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-593155135010505456.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-593155135010505456.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-593155135010505456.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-593155135010505456.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-593155135010505456.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-593155135010505456.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-593155135010505456.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-593155135010505456.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-593155135010505456.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-593155135010505456.gps.gpsil [style*="--bblr-mobile:"]{border-bottom-left-radius:var(--bblr-mobile)}.gps-593155135010505456.gps.gpsil [style*="--bbrr-mobile:"]{border-bottom-right-radius:var(--bbrr-mobile)}.gps-593155135010505456.gps.gpsil [style*="--btlr-mobile:"]{border-top-left-radius:var(--btlr-mobile)}.gps-593155135010505456.gps.gpsil [style*="--btrr-mobile:"]{border-top-right-radius:var(--btrr-mobile)}.gps-593155135010505456.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-593155135010505456.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-593155135010505456.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-593155135010505456.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-593155135010505456.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-593155135010505456.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-593155135010505456.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-593155135010505456.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-593155135010505456.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-593155135010505456.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-593155135010505456.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-593155135010505456 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-593155135010505456 .gp-relative{position:relative}.gps-593155135010505456 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-593155135010505456 .gp-mb-0{margin-bottom:0}.gps-593155135010505456 .gp-inline-block{display:inline-block}.gps-593155135010505456 .gp-flex{display:flex}.gps-593155135010505456 .gp-inline-flex{display:inline-flex}.gps-593155135010505456 .gp-grid{display:grid}.gps-593155135010505456 .gp-contents{display:contents}.gps-593155135010505456 .\!gp-hidden{display:none!important}.gps-593155135010505456 .gp-hidden{display:none}.gps-593155135010505456 .gp-h-auto{height:auto}.gps-593155135010505456 .gp-h-full{height:100%}.gps-593155135010505456 .gp-w-full{width:100%}.gps-593155135010505456 .gp-max-w-full{max-width:100%}.gps-593155135010505456 .gp-flex-none{flex:none}.gps-593155135010505456 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-593155135010505456 .gp-flex-col{flex-direction:column}.gps-593155135010505456 .gp-items-center{align-items:center}.gps-593155135010505456 .gp-justify-center{justify-content:center}.gps-593155135010505456 .gp-overflow-hidden{overflow:hidden}.gps-593155135010505456 .gp-break-words{overflow-wrap:break-word}.gps-593155135010505456 .gp-no-underline{text-decoration-line:none}.gps-593155135010505456 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-593155135010505456 .gp-duration-200{transition-duration:.2s}.gps-593155135010505456 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-593155135010505456 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-593155135010505456 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-593155135010505456 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-593155135010505456 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-593155135010505456 .tablet\:\!gp-hidden{display:none!important}.gps-593155135010505456 .tablet\:gp-hidden{display:none}.gps-593155135010505456 .tablet\:gp-h-auto{height:auto}.gps-593155135010505456 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-593155135010505456 .mobile\:\!gp-hidden{display:none!important}.gps-593155135010505456 .mobile\:gp-hidden{display:none}.gps-593155135010505456 .mobile\:gp-h-auto{height:auto}.gps-593155135010505456 .mobile\:gp-flex-none{flex:none}}.gps-593155135010505456 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-593155135010505456 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLGT9V1s.ttf) format('truetype');
}


@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLEj6V1s.ttf) format('truetype');
}


@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLEj6V1s.ttf) format('truetype');
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll"}},"uid":"gCTy4AEKLP"}' data-id="gCTy4AEKLP" id="gCTy4AEKLP" data-same-height-subgrid-container class="gCTy4AEKLP gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--pt:0px;--pb:var(--g-s-2xl);--pt-tablet:0px;--pb-tablet:var(--g-s-2xl);--pt-mobile:0px;--pb-mobile:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g84Zt1NM7D gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"mobile":{"color":"linear-gradient(0deg, #ffffff 0%, #e7f6fe 65%)","preload":false,"type":"color"},"desktop":{"type":"color","color":"linear-gradient(0deg, #ffffff 0%, #e7f6fe 100%)","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"gNuZdKohdv"}' data-id="gNuZdKohdv" id="gNuZdKohdv" data-same-height-subgrid-container class="gNuZdKohdv gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--mb-mobile:0px;--pt-mobile:45px;--pl-mobile:var(--g-s-l);--pb-mobile:var(--g-s-l);--pr-mobile:var(--g-s-l);--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--h:auto;--bgc:linear-gradient(0deg, #ffffff 0%, #e7f6fe 100%);--bgc-mobile:linear-gradient(0deg, #ffffff 0%, #e7f6fe 65%);--bgi:url(), linear-gradient(0deg, #ffffff 0%, #e7f6fe 100%);--bgi-mobile:url(), linear-gradient(0deg, #ffffff 0%, #e7f6fe 65%);--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gzC3d9CMI0 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gvbPlI58uq"
        class="gvbPlI58uq"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:65px;--pt-tablet:65px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:var(--g-s-m);--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:500;--size:20px;--size-tablet:16px;--size-mobile:16px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#194A70;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggvbPlI58uq_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gKyPo6Qjmf"
        class="gKyPo6Qjmf"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:none;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:6px;--pt-mobile:0px;--pl-mobile:var(--g-s-m);--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-mobile:center;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--size:32px;--size-tablet:46px;--size-mobile:27px;--lh:120%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--weight:bold;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggKyPo6Qjmf_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g5u9PdRJAD"
        class="g5u9PdRJAD"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:none;--d-tablet:none;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:6px;--pt-mobile:0px;--pl-mobile:var(--g-s-m);--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-mobile:center;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--size:32px;--size-tablet:46px;--size-mobile:27px;--lh:120%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--weight:bold;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg5u9PdRJAD_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gkvzd5ugMA"
        class="gkvzd5ugMA"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:19px;--mb-tablet:19px;--mb-mobile:12px;--pt-mobile:0px;--pl-mobile:40px;--pb-mobile:0px;--pr-mobile:40px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:19px;--size-tablet:16px;--size-mobile:15px;--fs:italic;--c:#000000;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggkvzd5ugMA_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <div
      role="presentation"
      data-id="gXydffEC3K"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:18px;--mb-tablet:18px;--mb-mobile:28px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1764990519379 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gXydffEC3K"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_562294279301497736-4c1a0f3f-5e7c-482b-89c7-d728c76319ec.png" | file_url }}" srcset="{{ "gempages_562294279301497736-4c1a0f3f-5e7c-482b-89c7-d728c76319ec.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/0930/1550/7240/files/gempages_562294279301497736-4c1a0f3f-5e7c-482b-89c7-d728c76319ec_1024x.png" srcset="https://cdn.shopify.com/s/files/1/0930/1550/7240/files/gempages_562294279301497736-4c1a0f3f-5e7c-482b-89c7-d728c76319ec_1024x.png" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="https://cdn.shopify.com/s/files/1/0930/1550/7240/files/gempages_562294279301497736-4c1a0f3f-5e7c-482b-89c7-d728c76319ec.png" data-src="https://cdn.shopify.com/s/files/1/0930/1550/7240/files/gempages_562294279301497736-4c1a0f3f-5e7c-482b-89c7-d728c76319ec.png"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:50%;--w-tablet:50%;--w-mobile:85%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--radiusType:rounded;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_force_load"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gVu4mTsvax"
        class="gVu4mTsvax"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:none;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:14px;--mb-tablet:14px;--mb-mobile:22px;--pt-mobile:0px;--pl-mobile:var(--g-s-2xl);--pb-mobile:0px;--pr-mobile:var(--g-s-2xl);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:130%;--c:#151515;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggVu4mTsvax_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gDJWOBcjlP"
        class="gDJWOBcjlP"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:none;--d-tablet:none;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:14px;--mb-tablet:14px;--mb-mobile:22px;--pt-mobile:0px;--pl-mobile:var(--g-s-2xl);--pb-mobile:0px;--pr-mobile:var(--g-s-2xl);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:130%;--c:#151515;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggDJWOBcjlP_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gxK2uxTNFS"
        class="gxK2uxTNFS"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:26px;--mb-tablet:26px;--mb-mobile:22px;--pt-mobile:0px;--pl-mobile:var(--g-s-2xl);--pb-mobile:0px;--pr-mobile:var(--g-s-2xl);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:130%;--fs:italic;--c:#FF0C00;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggxK2uxTNFS_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <gp-button
      gp-data='{"btnLink":{"link":"#scroll-to-top","title":"Top","type":"scroll-to"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bblr-mobile:0px;--bbrr-mobile:0px;--btlr-mobile:0px;--btrr-mobile:0px;--mb:41px;--mb-tablet:41px;--mb-mobile:28px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:center;--ta-mobile:center" >
        <style>[data-id="gBfUZ9Eveo"].gp-button-base::before, [data-id="gBfUZ9Eveo-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: solid;
  border-width: 3px 3px 3px 3px;
  border-color: #062151;
  
    
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      
  
    }
  
      
  [data-id="gBfUZ9Eveo"]:hover::before, [data-id="gBfUZ9Eveo-interaction"]:hover::before {
    
    
  }</style>
        <a
            class="gp-trigger-button-link gp-hidden"
            href=#scroll-to-top
            target=undefined
          ></a>
        <button
          data-id="gBfUZ9Eveo" dataId="gBfUZ9Eveo" data-state="idle" aria-label="<p>Prevent the spread now</p>"
          
          href="#scroll-to-top" target type="button"
          style="--w:40%;--w-tablet:40%;--w-mobile:80%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:12px;--pr:12px;--pt:12px;--pb:12px;--pl-mobile:12px;--pr-mobile:12px;--pt-mobile:12px;--pb-mobile:12px;--bblr:4px;--bbrr:4px;--btlr:4px;--btrr:4px;--hvr-bblr:4px;--hvr-bbrr:4px;--hvr-btlr:4px;--hvr-btrr:4px;--bgi:;--hvr-bgi:;--hvr-bg:var(--g-c-highlight, highlight);--bg:#FFFFFF;--c:#052036;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:600;--size:24px;--size-tablet:16px;--size-mobile:19px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%"
          class="gBfUZ9Eveo gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:600;--size:24px;--size-tablet:16px;--size-mobile:19px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggBfUZ9Eveo_label }}
    </span>
        </div>
        
        </button>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 5",
    "tag": "section",
    "class": "gps-593155135010505456 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/feppvi-1c/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=592673844481753849&sectionId=593155135010505456)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggvbPlI58uq_text","label":"ggvbPlI58uq_text","default":"<p>MORE THAN JUST A BEARD FIX</p>"},{"type":"html","id":"ggKyPo6Qjmf_text","label":"ggKyPo6Qjmf_text","default":"<span style=\"font-size:26px;\">The Formula That Fights Flakes - <i>Everywhere</i></span>"},{"type":"html","id":"gg5u9PdRJAD_text","label":"gg5u9PdRJAD_text","default":"<span style=\"font-size:35px;\">The Formula That Fights Flakes - <i>Everywhere</i></span>"},{"type":"html","id":"ggkvzd5ugMA_text","label":"ggkvzd5ugMA_text","default":"<p>New Aura does two things better than any other treatment out there:</p>"},{"type":"html","id":"ggVu4mTsvax_text","label":"ggVu4mTsvax_text","default":"<p><span style=\"background-color:transparent;color:#000000;font-size:14px;\">1. <u>Eliminates flaking &amp; itching&nbsp;</u><strong> </strong>in your<strong> </strong><i>beard, nose, eyebrows,</i><strong> </strong>and<strong> especially your </strong><i><strong>scalp</strong></i>.&nbsp;</span></p><p>&nbsp;</p><p><span style=\"font-size:14px;\">2. <u>Restores skin barrier</u>; preventing the fungus from <strong>spreading all over your face.</strong></span></p>"},{"type":"html","id":"ggDJWOBcjlP_text","label":"ggDJWOBcjlP_text","default":"<p><span style=\"background-color:transparent;color:#000000;font-size:17px;\">1. <u>Eliminates flaking &amp; itching&nbsp;</u><strong> </strong>in your<strong> </strong><i>beard, nose, eyebrows,</i><strong> </strong>and<strong> especially your </strong><i><strong>scalp</strong></i>.&nbsp;</span></p><p>&nbsp;</p><p><span style=\"font-size:17px;\">2. <u>Restores skin barrier</u>; preventing the fungus from <strong>spreading all over your face.</strong></span></p>"},{"type":"html","id":"ggxK2uxTNFS_text","label":"ggxK2uxTNFS_text","default":"<p>The longer you wait the higher the chance this fungus spreads.</p>"},{"type":"html","id":"ggBfUZ9Eveo_label","label":"ggBfUZ9Eveo_label","default":"<p>Prevent the spread now</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}