
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-587905024483525314.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-587905024483525314.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-587905024483525314.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-587905024483525314.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-587905024483525314.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-587905024483525314.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-587905024483525314.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-587905024483525314.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-587905024483525314.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-587905024483525314.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-587905024483525314.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-587905024483525314.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-587905024483525314.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-587905024483525314.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-587905024483525314.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-587905024483525314.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-587905024483525314.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-587905024483525314.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-587905024483525314.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-587905024483525314.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-587905024483525314.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-587905024483525314.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-587905024483525314.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-587905024483525314.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-587905024483525314.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-587905024483525314.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-587905024483525314.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-587905024483525314.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-587905024483525314.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-587905024483525314.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-587905024483525314.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-587905024483525314.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-587905024483525314.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-587905024483525314.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-587905024483525314.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-587905024483525314.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-587905024483525314.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-587905024483525314.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-587905024483525314.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-587905024483525314.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-587905024483525314.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-587905024483525314.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-587905024483525314.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-587905024483525314.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-587905024483525314.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-587905024483525314.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-587905024483525314.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-587905024483525314.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-587905024483525314.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-587905024483525314.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-587905024483525314.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-587905024483525314.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-587905024483525314.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-587905024483525314.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-587905024483525314.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-587905024483525314.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-587905024483525314.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-587905024483525314.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-587905024483525314.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-587905024483525314.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-587905024483525314.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-587905024483525314.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-587905024483525314.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-587905024483525314.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-587905024483525314.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-587905024483525314.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-587905024483525314.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-587905024483525314.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-587905024483525314.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-587905024483525314.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-587905024483525314.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-587905024483525314.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-587905024483525314.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-587905024483525314.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-587905024483525314.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-587905024483525314.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-587905024483525314.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-587905024483525314.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-587905024483525314.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-587905024483525314.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-587905024483525314.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-587905024483525314.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-587905024483525314 .gp-relative{position:relative}.gps-587905024483525314 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-587905024483525314 .gp-mb-0{margin-bottom:0}.gps-587905024483525314 .gp-inline-block{display:inline-block}.gps-587905024483525314 .gp-flex{display:flex}.gps-587905024483525314 .gp-grid{display:grid}.gps-587905024483525314 .gp-contents{display:contents}.gps-587905024483525314 .\!gp-hidden{display:none!important}.gps-587905024483525314 .gp-hidden{display:none}.gps-587905024483525314 .gp-h-auto{height:auto}.gps-587905024483525314 .gp-h-full{height:100%}.gps-587905024483525314 .gp-w-full{width:100%}.gps-587905024483525314 .gp-max-w-full{max-width:100%}.gps-587905024483525314 .gp-flex-none{flex:none}.gps-587905024483525314 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-587905024483525314 .gp-flex-col{flex-direction:column}.gps-587905024483525314 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-587905024483525314 .gp-duration-200{transition-duration:.2s}.gps-587905024483525314 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-587905024483525314 .tablet\:\!gp-hidden{display:none!important}.gps-587905024483525314 .tablet\:gp-hidden{display:none}.gps-587905024483525314 .tablet\:gp-h-auto{height:auto}.gps-587905024483525314 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-587905024483525314 .mobile\:\!gp-hidden{display:none!important}.gps-587905024483525314 .mobile\:gp-hidden{display:none}.gps-587905024483525314 .mobile\:gp-h-auto{height:auto}.gps-587905024483525314 .mobile\:gp-flex-none{flex:none}}.gps-587905024483525314 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gToESAVCDa"}' data-id="gToESAVCDa" id="gToESAVCDa" data-same-height-subgrid-container class="gToESAVCDa gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:none;--d-mobile:grid;--d-tablet:none;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-2xl);--pl:0px;--pb:var(--g-s-2xl);--pr:0px;--pt-mobile:var(--g-s-2xl);--pl-mobile:12px;--pb-mobile:0px;--pr-mobile:12px;--pt-tablet:var(--g-s-2xl);--pl-tablet:0px;--pb-tablet:var(--g-s-2xl);--pr-tablet:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gdh1rRWuX0 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="ggGJm66sIL"
        class="ggGJm66sIL"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt-mobile:0px;--ml-mobile:12px;--mb-mobile:12px;--mr-mobile:12px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:center;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--size:25px;--size-tablet:25px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:150%;--fs:italic;--weight:bold;--c:#151515;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gggGJm66sIL_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    <div
      role="presentation"
      data-id="g6gE8sTqV_"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:center;--ta-mobile:center"
      class="gp-group/image gp-relative force-publish-1764631554514 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto g6gE8sTqV_"
    >
      <div
        
        style="border-radius:inherit;--jc:center;--jc-mobile:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_562294279301497736-3cafb803-a2f6-4f90-b048-b4f62eee0702.png" | file_url }}" srcset="{{ "gempages_562294279301497736-3cafb803-a2f6-4f90-b048-b4f62eee0702.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_562294279301497736-6f703c2f-09c1-451e-a5dd-e6efc8edb77a.png" | file_url }}" srcset="{{ "gempages_562294279301497736-6f703c2f-09c1-451e-a5dd-e6efc8edb77a.png" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "gempages_562294279301497736-6f703c2f-09c1-451e-a5dd-e6efc8edb77a.png" | file_url }}" data-src="{{ "gempages_562294279301497736-6f703c2f-09c1-451e-a5dd-e6efc8edb77a.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:70%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_force_load"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gZYg9vhq6w"
        class="gZYg9vhq6w"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--ml-mobile:var(--g-s-m);--mb-mobile:24px;--mr-mobile:var(--g-s-m);--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--size:25px;--size-tablet:25px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:150%;--weight:bold;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggZYg9vhq6w_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g2XsAUF5Ef"
        class="g2XsAUF5Ef"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--ml-mobile:var(--g-s-m);--mb-mobile:17px;--mr-mobile:var(--g-s-m);--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:400;--size:25px;--size-tablet:25px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:200%;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg2XsAUF5Ef_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <div
      role="presentation"
      data-id="gRXcnj6VHx"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:30px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ml-mobile:10px;--mb-mobile:19px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:30px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:left;--ta-mobile:left"
      class="gp-group/image gp-relative force-publish-1764631554517 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gRXcnj6VHx"
    >
      <div
        
        style="border-radius:inherit;--jc:left;--jc-mobile:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_562294279301497736-af9ec7ef-91c9-4a78-b236-77c876b736be.png" | file_url }}" srcset="{{ "gempages_562294279301497736-af9ec7ef-91c9-4a78-b236-77c876b736be.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_562294279301497736-817a0d64-d0ff-4886-b1b3-c93d670dd74e.png" | file_url }}" srcset="{{ "gempages_562294279301497736-817a0d64-d0ff-4886-b1b3-c93d670dd74e.png" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "gempages_562294279301497736-94a4a261-dca6-471d-bbf7-2a9130d94ea1.png" | file_url }}" data-src="{{ "gempages_562294279301497736-94a4a261-dca6-471d-bbf7-2a9130d94ea1.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:90%;--w-tablet:90%;--w-mobile:70%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--radiusType:rounded;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_force_load"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gpBfA9q4lX"
        class="gpBfA9q4lX"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--ml-mobile:var(--g-s-m);--mb-mobile:33px;--mr-mobile:var(--g-s-m);--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:400;--size:25px;--size-tablet:25px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:200%;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggpBfA9q4lX_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gNfPZC5Dn8"
        class="gNfPZC5Dn8"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--ml-mobile:var(--g-s-m);--mb-mobile:0px;--mr-mobile:var(--g-s-m);--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--size:25px;--size-tablet:25px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:150%;--weight:bold;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggNfPZC5Dn8_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gfwQhWTwwI"
        class="gfwQhWTwwI"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--ml-mobile:var(--g-s-m);--mb-mobile:0px;--mr-mobile:var(--g-s-m);--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:400;--size:25px;--size-tablet:25px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:200%;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggfwQhWTwwI_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 5",
    "tag": "section",
    "class": "gps-587905024483525314 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/feppvi-1c/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=587905024265290434&sectionId=587905024483525314)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gggGJm66sIL_text","label":"gggGJm66sIL_text","default":"<strong>Here's how it breaks the cycle for good:</strong>"},{"type":"html","id":"ggZYg9vhq6w_text","label":"ggZYg9vhq6w_text","default":"<p><strong>And it works.</strong></p>"},{"type":"html","id":"gg2XsAUF5Ef_text","label":"gg2XsAUF5Ef_text","default":"<p>Patients stuck in the flaking cycle for <i>years</i> saw real results within days.&nbsp;</p><p>&nbsp;</p><p>Harry used Head &amp; Shoulders for 8 years. Daily flakes. Constant frustration. But after only 13 days:&nbsp;</p>"},{"type":"html","id":"ggpBfA9q4lX_text","label":"ggpBfA9q4lX_text","default":"<p>The Dry Safe Complex™ only exists in one product— <strong>New Aura Anti-Flaking Cream.</strong></p><p>&nbsp;</p><p>I created it after watching my patients try everything—and nothing worked.</p>"},{"type":"html","id":"ggNfPZC5Dn8_text","label":"ggNfPZC5Dn8_text","default":"<p><strong>Here's why it works when everything else has failed:</strong></p>"},{"type":"html","id":"ggfwQhWTwwI_text","label":"ggfwQhWTwwI_text","default":"<p>Most products only solve half the problem. New Aura solves both.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}