
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-592497567011439134.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-592497567011439134.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-592497567011439134.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-592497567011439134.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-592497567011439134.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-592497567011439134.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-592497567011439134.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-592497567011439134.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-592497567011439134.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-592497567011439134.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-592497567011439134.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-592497567011439134.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-592497567011439134.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-592497567011439134.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-592497567011439134.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-592497567011439134.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-592497567011439134.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-592497567011439134.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-592497567011439134.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-592497567011439134.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-592497567011439134.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-592497567011439134.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-592497567011439134.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-592497567011439134.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-592497567011439134.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-592497567011439134.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-592497567011439134.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-592497567011439134.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-592497567011439134.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-592497567011439134.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-592497567011439134.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-592497567011439134.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-592497567011439134.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-592497567011439134.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-592497567011439134.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-592497567011439134.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-592497567011439134.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-592497567011439134.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-592497567011439134.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-592497567011439134.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-592497567011439134.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-592497567011439134.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-592497567011439134.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-592497567011439134.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-592497567011439134.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-592497567011439134.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-592497567011439134.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-592497567011439134.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-592497567011439134.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-592497567011439134.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-592497567011439134.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-592497567011439134.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-592497567011439134.gps.gpsil [style*="--v:"]{visibility:var(--v)}.gps-592497567011439134.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-592497567011439134.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-592497567011439134.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-592497567011439134.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-592497567011439134.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-592497567011439134.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-592497567011439134.gps.gpsil [style*="--jc-tablet:"]{justify-content:var(--jc-tablet)}.gps-592497567011439134.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-592497567011439134.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-592497567011439134.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-592497567011439134.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-592497567011439134.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-592497567011439134.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-592497567011439134.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-592497567011439134.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-592497567011439134.gps.gpsil [style*="--v-tablet:"]{visibility:var(--v-tablet)}.gps-592497567011439134.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-592497567011439134.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-592497567011439134.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-592497567011439134.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-592497567011439134.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-592497567011439134.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-592497567011439134.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-592497567011439134.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-592497567011439134.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-592497567011439134.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-592497567011439134.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-592497567011439134.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-592497567011439134.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-592497567011439134.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-592497567011439134.gps.gpsil [style*="--v-mobile:"]{visibility:var(--v-mobile)}.gps-592497567011439134.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-592497567011439134.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-592497567011439134 .gp-relative{position:relative}.gps-592497567011439134 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-592497567011439134 .gp-mb-0{margin-bottom:0}.gps-592497567011439134 .gp-inline-block{display:inline-block}.gps-592497567011439134 .gp-flex{display:flex}.gps-592497567011439134 .gp-inline-flex{display:inline-flex}.gps-592497567011439134 .gp-grid{display:grid}.gps-592497567011439134 .gp-contents{display:contents}.gps-592497567011439134 .\!gp-hidden{display:none!important}.gps-592497567011439134 .gp-hidden{display:none}.gps-592497567011439134 .gp-h-auto{height:auto}.gps-592497567011439134 .gp-h-full{height:100%}.gps-592497567011439134 .gp-w-full{width:100%}.gps-592497567011439134 .gp-max-w-full{max-width:100%}.gps-592497567011439134 .gp-flex-none{flex:none}.gps-592497567011439134 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-592497567011439134 .gp-flex-col{flex-direction:column}.gps-592497567011439134 .gp-items-center{align-items:center}.gps-592497567011439134 .gp-justify-center{justify-content:center}.gps-592497567011439134 .gp-overflow-hidden{overflow:hidden}.gps-592497567011439134 .gp-break-words{overflow-wrap:break-word}.gps-592497567011439134 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-592497567011439134 .gp-no-underline{text-decoration-line:none}.gps-592497567011439134 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-592497567011439134 .gp-duration-200{transition-duration:.2s}.gps-592497567011439134 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-592497567011439134 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-592497567011439134 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-592497567011439134 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-592497567011439134 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-592497567011439134 .tablet\:\!gp-hidden{display:none!important}.gps-592497567011439134 .tablet\:gp-hidden{display:none}.gps-592497567011439134 .tablet\:gp-h-auto{height:auto}.gps-592497567011439134 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-592497567011439134 .mobile\:\!gp-hidden{display:none!important}.gps-592497567011439134 .mobile\:gp-hidden{display:none}.gps-592497567011439134 .mobile\:gp-h-auto{height:auto}.gps-592497567011439134 .mobile\:gp-flex-none{flex:none}}.gps-592497567011439134 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-592497567011439134 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v40/nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKeiukDQ.ttf) format('truetype');
}


@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLGT9V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLCz7V1s.ttf) format('truetype');
}


@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesans3/v19/nwpBtKy2OAdR1K-IwhWudF-R9QMylBJAV3Bo8Ky461EN.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesans3/v19/nwpBtKy2OAdR1K-IwhWudF-R9QMylBJAV3Bo8Kxm7FEN.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesans3/v19/nwpBtKy2OAdR1K-IwhWudF-R9QMylBJAV3Bo8Kxf7FEN.ttf) format('truetype');
}
</style>
  
    
    
  <gp-animation
    gp-interaction-wrapper
    display-init="show"
    gp-data='{"tag":"Section","opacity":{"desktop":"100%"},"notEnableAnimationWhenInit":true}'
    style="display:contents"
  >
    <div style="--v:visible;--v-tablet:visible;--v-mobile:visible;display:contents">
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FAF6F2","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"g2Z05qtM80"}' data-id="g2Z05qtM80" id="g2Z05qtM80" data-same-height-subgrid-container class="g2Z05qtM80 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--displayInitInteraction:true;--hasAnimationInteraction:true;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--mb:0px;--pt:80px;--pl:60px;--pb:72px;--pr:60px;--pt-mobile:60px;--pl-mobile:20px;--pb-mobile:40px;--pr-mobile:20px;--pt-tablet:70px;--pl-tablet:40px;--pb-tablet:50px;--pr-tablet:40px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FAF6F2;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="giG1TlaMq0 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"glkbN9_NOQ"}' data-id="glkbN9_NOQ" id="glkbN9_NOQ" data-same-height-subgrid-container class="glkbN9_NOQ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:0px;--pl-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pl-tablet:0px;--pr-tablet:0px;--cg:62px;--cg-tablet:40px;--gtc:minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:100%;--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--jc-tablet:center"
      class="gW5ww-3Txz gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g7HBS0BOh4"
        class="g7HBS0BOh4"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:20px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:30px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:40px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--ta-tablet:center;--ta-mobile:center;--fs:normal;--ff:var(--g-font-Playfair-Display, 'Playfair Display'), var(--g-font-heading, heading);--weight:700;--size:32px;--size-tablet:32px;--size-mobile:26px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#3F4144;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg7HBS0BOh4_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"uid":"gN7C69v_8T"}' data-id="gN7C69v_8T" id="gN7C69v_8T" data-same-height-subgrid-container class="gN7C69v_8T gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:15px;--mb:15px;--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--mb-mobile:15px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:15px;--mb-tablet:15px;--pt-tablet:var(--g-s-l);--pl-tablet:var(--g-s-l);--pb-tablet:var(--g-s-l);--pr-tablet:var(--g-s-l);--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:500px;--w-mobile:100%;--h:auto;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="ghwBSONrpi gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gQCe4Wl-Gg"
        class="gQCe4Wl-Gg"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--mb:15px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--mb-mobile:15px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:0px;--mb-tablet:15px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:500;--size:18px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:180%;--lh-mobile:180%;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggQCe4Wl-Gg_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gOiM0__m8Z"
        class="gOiM0__m8Z"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--mb:15px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--mb-mobile:15px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:0px;--mb-tablet:15px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:500;--size:18px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:180%;--lh-mobile:180%;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggOiM0__m8Z_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="ggBupxULcz"
        class="ggBupxULcz"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--mb:15px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--mb-mobile:15px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:0px;--mb-tablet:15px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:500;--size:18px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:180%;--lh-mobile:180%;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gggBupxULcz_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <div
      role="presentation"
      data-id="guNN3EL2p1"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:20px;--mb:30px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:20px;--mb-mobile:30px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:20px;--mb-tablet:30px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1764276239576 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto guNN3EL2p1"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "original.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTEwODAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTA4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiBmaWxsPSJ1cmwoI2ctMTA4MC0xMDgwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "original.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTEwODAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTA4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiBmaWxsPSJ1cmwoI2ctMTA4MC0xMDgwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "original.png" | file_url }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTEwODAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTA4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiBmaWxsPSJ1cmwoI2ctMTA4MC0xMDgwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "original.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:300px;--w-tablet:300px;--w-mobile:200px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gFFTcJSIE4"
        class="gFFTcJSIE4"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--mb:15px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--mb-mobile:15px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:0px;--mb-tablet:15px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:500;--size:18px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:180%;--lh-mobile:180%;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggFFTcJSIE4_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"uid":"gBNkKKeFik"}' data-id="gBNkKKeFik" id="gBNkKKeFik" data-same-height-subgrid-container class="gBNkKKeFik gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:15px;--pt:10px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:0px;--pt-mobile:10px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:10px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:500px;--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gYn_dnFvYA gp-relative gp-flex gp-flex-col"
    >
      
    <gp-button
      gp-data='{"btnLink":{"link":"","target":"_self","type":"open-page"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:left" >
        <style>[data-id="gq2UBqYxZv"].gp-button-base::before, [data-id="gq2UBqYxZv-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: transparent;
  
    
      border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px;
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
      
  
    }
  
      
  [data-id="gq2UBqYxZv"]:hover::before, [data-id="gq2UBqYxZv-interaction"]:hover::before {
    
    
  }</style>
        
        <button
          data-id="gq2UBqYxZv" dataId="gq2UBqYxZv" data-state="idle" aria-label="<p>Continue</p>"
          
          type="button"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--bblr:7px;--bbrr:7px;--btlr:7px;--btrr:7px;--bgi:;--bg:#205F49;--c:var(--g-c-text-3, text-3);--ff:var(--g-font-Source-Sans-3, 'Source Sans 3'), var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%"
          class="gq2UBqYxZv gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--ff:var(--g-font-Source-Sans-3, 'Source Sans 3'), var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggq2UBqYxZv_label }}
    </span>
        </div>
        
        </button>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  </div>
  </gp-animation>
  <script src="https://assets.gemcommerce.com/assets-v2/gp-animation-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    
{% schema %}
  {
    
    "name": "Section 11",
    "tag": "section",
    "class": "gps-592497567011439134 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/feppvi-1c/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=592025793073250846&sectionId=592497567011439134)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg7HBS0BOh4_text","label":"gg7HBS0BOh4_text","default":"<strong>Why Medicated Shampoos <u>Fail To Cure</u> Dandruff.</strong>"},{"type":"html","id":"ggQCe4Wl-Gg_text","label":"ggQCe4Wl-Gg_text","default":"<p><span style=\"background-color:rgb(250,246,242);color:rgb(63,65,68);font-size:14.4px;\">'Anti-dandruff' shampoos use harsh chemicals to strip the scalp of everything: oils, skin, bacteria.&nbsp;</span></p>"},{"type":"html","id":"ggOiM0__m8Z_text","label":"ggOiM0__m8Z_text","default":"<p><span style=\"background-color:rgb(250,246,242);color:rgb(63,65,68);font-size:14.4px;\">This might temporarily stop flakes, but by stripping natural oils and good bacteria they disrupt the scalp microbiome.&nbsp;</span></p>"},{"type":"html","id":"gggBupxULcz_text","label":"gggBupxULcz_text","default":"<p><span style=\"background-color:rgb(250,246,242);color:rgb(63,65,68);font-size:14.4px;\">It's a band-aid, not a long-term solution.</span></p>"},{"type":"html","id":"ggFFTcJSIE4_text","label":"ggFFTcJSIE4_text","default":"<p><span style=\"background-color:rgb(250,246,242);color:rgb(63,65,68);font-size:14.4px;\">Instead you need something that attacks the root cause by <i><u>nourishing and balancing the scalp.</u></i></span></p>"},{"type":"html","id":"ggq2UBqYxZv_label","label":"ggq2UBqYxZv_label","default":"<p>Continue</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}